{
    "title": "Blog",
    "description": "News and such!",

    allPosts: () => {

        let allPosts = data.content.blog._pages
        .filter(x => x.filename !== 'index.html');

        return allPosts;
    }
}
---

{% extends "layout.html" %}
{% block content %}


<div class="container">

    <h1>Blog</h1>

    <p>Welcome to the blog!</p>


    {% for post in page.allPosts() %}
        <a href="{{post.url}}">{{ post.metadata.date }} - {{ post.metadata.title }}</a><br/>
    {% endfor %}


</div>

{% endblock %}