 <!-- roughly everything you need for a parallel text  -->
{
    title: "blank",
    description: "blank!",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="" data-pinyin=""></span>
                    </span>
                </span>  
            </td>
            <td>
                <span>Blank!</span>
            </td>
        </tr>
        
    </table>

    <div class="row">
        <div class="col-md-9">
            <h3>Vocabulary from the Text</h3>
            <ul>
                <li><span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span> - Newspaper</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="{{data.prefix}}/assets/img/svg/old-man-mr-li.svg" style="width: 100%;">
        </div>
    </div>

</div>

{% endblock %}

<!--roughly everything you'll need for word pages -->
{
    "title": "",
    "description": "",
    "hskLevel": 1,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}
<div class="container">

    <p></p>

    <h2><strong></strong></h2>

    <p></p>

    <div class="container">
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin=""></span>
            </span>
        </span>
        <div class="pinyin"></div>
        <div class="meaning"></div>
    </div>
</div>
{% endblock %}