{
    title: "Old man Mr. Li",
    description: "",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
            </td>
            <td>
                <span>Mr. Li is very old.</span>
                <span>He is probably even older than your grandmother and your grandfather.</span>
                <span>I don't know exactly how old he is,</span>
                <span>but I bet he is more than a hundred years old!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
            </td>
            <td>
                <span>But Mr. Li is in good shape for his age.</span>
                <span>I think it is because he goes for a walk every day.</span>
                <span>Every morning he walks to the grocery shop to buy the newspaper.</span>
                <span>When was the last time you bought a newspaper?</span>
                <span>Most people read news online these days!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                </span></span>
            </td>
            <td>
                <span>I wonder what Mr. Li does when he's not walking or reading the newspaper.</span>
                <span>He probably doesn't use social media.</span>
                <span>And he probably doesn't play video games either.</span>
                <span>What do old people do in their spare time?</span>
            </td>
        </tr>
    </table>


    <h3>Vocabulary from the Text</h3>
    <ul>
        <li><span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span> - Newspaper</li>
        <li><span data-word="" data-meaning="social media" data-pinyin="shèjiāo méitǐ">社交媒體</span> - Social media</li>
        <li><span data-word="" data-meaning="video game" data-pinyin="diànzǐ yóuxì">電子遊戲</span> - Video game</li>
    </ul>

</div>

{% endblock %}