{
    title: "Old man Mr. Li",
    description: "",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word="" data-meaning="" data-pinyin="">chinese goes here</span>
                </span></span>
               
            </td>
            <td>
                <span>English goes here</span>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-6">
            <h3>Vocabulary from the Text</h3>
            <ul>
                <li><span data-word="" data-meaning="" data-pinyin="">Chinese</span> - English</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="" style="width: 100%;">
        </div>
    </div>

</div>

{% endblock %}