{
    title: "A Scary Story",
    description: "",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">
    <table class="ptext">
        <tbody>

            <tr class="ptext-title">
                <td>
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                            <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                            <span data-word="" data-meaning="scary" data-pinyin="kěpà">可怕</span>
                            <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                            <span data-word="" data-meaning="story" data-pinyin="gùshì">故事</span>    
                        </span>
                    </span>
                </td>
                <td>
                    <span>A Scary Story</span>
                </td>
            </tr>
        <tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="very" data-pinyin="fēicháng">非常</span>
                        <span data-word="" data-meaning="interesting" data-pinyin="yǒuqù">有趣</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="story" data-pinyin="gùshi">故事</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="also" data-pinyin="yě">也</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="very" data-pinyin="fēicháng">非常</span>
                        <span data-word="" data-meaning="scary" data-pinyin="kěpà">可怕</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="ghost story" data-pinyin="guǐgùshi">鬼故事</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="ready" data-pinyin="zhǔnbèihǎo">準備好</span>
                        <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span>This is a very interesting story</span>
                <span>as well as a very scary ghost story!</span>
                <span>Are you ready?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="hope" data-pinyin="xīwàng">希望</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="fear" data-pinyin="pà">怕</span>
                        <span data-word="" data-meaning="ghosts" data-pinyin="guǐ">鬼</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="if" data-pinyin="rúguǒ">如果</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="in" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="night" data-pinyin="wǎnshàng">晚上</span>
                        <span data-word="" data-meaning="read" data-pinyin="dú">讀</span>
                        <span data-word="" data-meaning="this" data-pinyin="zhège">這</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="story" data-pinyin="gùshi">故事</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="for sure" data-pinyin="yīdìng">一定</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="make" data-pinyin="zuò">做</span>
                        <span data-word="" data-meaning="nightmare" data-pinyin="èmèng">惡夢</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span>I hope you are not afraid of ghosts.</span>
                <span>If you read this at night, you will surely have nightmares!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="dark" data-pinyin="hēiàn">黑暗</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="evening" data-pinyin="bàngwǎn">傍晚</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Mr. Wang" data-pinyin="wángxiānshēng">王先生</span>
                        <span data-word="" data-meaning="alone" data-pinyin="dāndú">單獨</span>
                        <span data-word="" data-meaning="to sit" data-pinyin="zuò">坐</span>
                        <span data-word="" data-meaning="in" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="living room" data-pinyin="kètīng">客廳</span>
                        <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="suddenly" data-pinyin="tūrán">突然</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="hear" data-pinyin="tīng">聽</span>
                        <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="loud" data-pinyin="dàshēng">大聲</span>
                        <span data-word="" data-meaning="and" data-pinyin="hé">和</span>
                        <span data-word="" data-meaning="scary" data-pinyin="kěpà">可怕</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="sound" data-pinyin="shēngyīn">聲音</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="sound" data-pinyin="shēngyīn">聲音</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ne">呢</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span>
                        <span data-word="" data-meaning="alone" data-pinyin="dúzì">獨自</span>
                        <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="house" data-pinyin="jiā">家</span>
                        <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>It was a dark evening,</span>
                <span>Mr. Wang was sitting alone in the living room.</span>
                <span>Suddenly he heard a loud and scary sound!</span>
                <span>What could it be?</span>
                <span>He was alone in the house.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Mr. Wang" data-pinyin="wángxiānshēng">王先生</span>
                        <span data-word="" data-meaning="leave" data-pinyin="líkāi">離開</span>
                        <span data-word="" data-meaning="his" data-pinyin="tāde">他的</span>
                        <span data-word="" data-meaning="chair" data-pinyin="yǐzǐ">椅子</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="go" data-pinyin="qù">去</span>
                        <span data-word="" data-meaning="take a look" data-pinyin="kànkan">看看</span>
                        <span data-word="" data-meaning="(question intensifying particle)" data-pinyin="jiūjìng">究竟</span>
                        <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="sound" data-pinyin="shēngyīn">聲音</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="nervous" data-pinyin="jǐnzhāng">緊張</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Mr. Wang got out of his chair and went to see what it was.</span>
                <span>He was nervous.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="sound" data-pinyin="shēngyīn">聲音</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="from" data-pinyin="cóng">從</span>
                        <span data-word="" data-meaning="house" data-pinyin="fángzǐ">房子</span>
                        <span data-word="" data-meaning="outside" data-pinyin="wàimiàn">外面</span>
                        <span data-word="" data-meaning="to be heard" data-pinyin="chuánlái">傳來</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="so" data-pinyin="suǒyǐ">所以</span>
                        <span data-word="" data-meaning="Mr. Wang" data-pinyin="wángxiānshēng">王先生</span>
                        <span data-word="" data-meaning="slowly" data-pinyin="mànmàn">慢慢</span>
                        <span data-word="" data-meaning="opens" data-pinyin="dǎkāi">打開</span>
                        <span data-word="" data-meaning="door" data-pinyin="mén">門</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                        <span data-word="" data-meaning="ghost" data-pinyin="guǐ">鬼</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="ghost" data-pinyin="guǐ">鬼</span>
                        <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                        <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="him" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="afterwards" data-pinyin="zhīhòu">之後</span>
                        <span data-word="" data-meaning="(sequential marker)" data-pinyin="jiù">就</span>
                        <span data-word="" data-meaning="no" data-pinyin="méiyǒu">沒有</span>
                        <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
                        <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                        <span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span>
                        <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                        <span data-word="" data-meaning="him" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>The sound was coming from outside of the house.</span>
                <span>Mr. Wang opened the door slowly</span>
                <span>and there was a ghost!</span>
                <span>The ghost ate Mr. Wang.</span>
                <span>No one has seen him again afterwards.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="to tell" data-pinyin="gàosù">告訴</span>
                        <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="it" data-pinyin="zhè">這</span>
                        <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="a" data-pinyin="yīge">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                        <span data-word="" data-meaning="scary" data-pinyin="kěpà">可怕</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="story" data-pinyin="gùshi">故事</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span>I told you this was a scary story!</span>
            </td>
        </tr>
    </tbody></table>
</div>

{% endblock %}