{
    title: "Donald Trump",
    description: "",
    "hskLevel": 2,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">
    <table class="ptext">
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Donald Trump" data-pinyin="tángnàchuānpǔ">唐納川普</span>
                        <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="America" data-pinyin="měiguó">美國</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="president" data-pinyin="zǒngtǒng">總統</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="wow" data-pinyin="wā">哇</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="nobody" data-pinyin="méiyǒurén">沒有人</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="to be able to expect " data-pinyin="liàoxiǎngdào">料想到</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Donald Trump is the president of the United States.</span>
                <span>Wow!</span>
                <span>Nobody expected that.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Donald Trump" data-pinyin="tángnàchuānpǔ">唐納川普</span>
                        <span data-word="" data-meaning="very" data-pinyin="fēicháng">非常</span>
                        <span data-word="" data-meaning="rich" data-pinyin="yǒuqián">有錢</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="because" data-pinyin="yīnwéi">因為</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="to own" data-pinyin="yōngyǒu">擁有</span>
                        <span data-word="" data-meaning="many" data-pinyin="xūduō">許多</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="jiān">間</span>
                        <span data-word="" data-meaning="hotel" data-pinyin="jiǔdiàn">酒店</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="also" data-pinyin="yě">也</span>
                        <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                        <span data-word="" data-meaning="very" data-pinyin="fēicháng">非常</span>
                        <span data-word="" data-meaning="popular" data-pinyin="shòuhuānyíng">受歡迎</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="TV" data-pinyin="diànshì">電視</span>
                        <span data-word="" data-meaning="program" data-pinyin="jiémù">節目</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="to be called " data-pinyin="jiàozuò">叫做</span>
                        <span data-word="" data-meaning="the apprentice (lit: 'who is the successor')" data-pinyin="shuíshìjiēbānrén">「誰是接班人」</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Donald Trump is very rich</span>
                <span>because he owns many hotels.</span>
                <span>He also had a popular TV show called "The Apprentice".</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="to keep" data-pinyin="liú">留</span>
                        <span data-word="" data-meaning="(progressive marker)" data-pinyin="zhe">著</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="tóu">頭</span>
                        <span data-word="" data-meaning="funny" data-pinyin="hǎoxiào">好笑</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="hair" data-pinyin="tóufà">頭髮</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="curious " data-pinyin="hǎoqí">好奇</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="('是...的'= emphatic structure)" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="how" data-pinyin="rúhé">如何</span>
                        <span data-word="" data-meaning="to make" data-pinyin="ràng">讓</span>
                        <span data-word="" data-meaning="it" data-pinyin="tā">它</span>
                        <span data-word="" data-meaning="to look like" data-pinyin="kànqǐlái">看起來</span>
                        <span data-word="" data-meaning="this" data-pinyin="zhèyàng">這樣</span>
                        <span data-word="" data-meaning="('是...的'= emphatic structure)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>He has very funny hair.</span>
                <span>I wonder how he makes it look like that.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Donald Trump" data-pinyin="tángnàchuānpǔ">唐納川普</span>
                        <span data-word="" data-meaning="before" data-pinyin="yǐqián">以前</span>
                        <span data-word="" data-meaning="to live" data-pinyin="zhù">住</span>
                        <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="New York" data-pinyin="niǔyuē">紐約</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="dòng">棟</span>
                        <span data-word="" data-meaning="building" data-pinyin="dàlóu">大樓</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="apartment" data-pinyin="gōngyù">公寓</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="bǎ">把</span>
                        <span data-word="" data-meaning="this " data-pinyin="zhè">這</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="dòng">棟</span>
                        <span data-word="" data-meaning="building" data-pinyin="dàlóu">大樓</span>
                        <span data-word="" data-meaning="to name" data-pinyin="mìngmíng">命名</span>
                        <span data-word="" data-meaning="as" data-pinyin="wéi">為</span>
                        <span data-word="" data-meaning="Trump Tower" data-pinyin="chuānpǔtǎ">川普塔</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span>
                        <span data-word="" data-meaning="because" data-pinyin="yīnwèi">因為</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span>
                        <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="current" data-pinyin="xiànrèn">現任</span>
                        <span data-word="" data-meaning="president" data-pinyin="zǒngtǒng">總統</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="therefore" data-pinyin="suǒyǐ">所以</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="to live" data-pinyin="zhù">住</span>
                        <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="White House" data-pinyin="báigōng">白宮</span>
                        <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Donald Trump used to live in an apartment in a tall building in New York.</span>
                <span>He has named this building the Trump Tower.</span>
                <span>He however lives in the White House now as he is the president.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="to thnk" data-pinyin="rènwéi">認為</span>
                        <span data-word="" data-meaning="Donald Trump" data-pinyin="tángnàchuānpǔ">唐納川普</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="to miss" data-pinyin="xiǎngniàn">想念</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="New York" data-pinyin="niǔyuē">紐約</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="apartment" data-pinyin="gōngyù">公寓</span>
                        <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Do you think Donald Trump will miss his apartment in New York?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                        <span data-word="" data-meaning="his" data-pinyin="tāde">他的</span>
                        <span data-word="" data-meaning="apartment" data-pinyin="gōngyù">公寓</span>
                        <span data-word="" data-meaning="inside" data-pinyin="dāngzhōng">裡</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="everywhere" data-pinyin="dàochǔ">到處</span>
                        <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                        <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="gold" data-pinyin="huángjīn">黃金</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span>In his apartment, there is gold everywhere.</span>
            </td>
        </tr>
    </table>
</div>

{% endblock %}