{
    title: "Barbershop Madman",
    description: "",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">
        <tbody>
            <tr class="ptext-title">
                <td>
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="barber shop" data-pinyin="lǐfǎdiàn">理髮店</span>
                            <span data-word="" data-meaning="in" data-pinyin="lǐ">裡</span>
                            <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                            <span data-word="" data-meaning="lunatic" data-pinyin="fēngzǐ">瘋子
                        </span>
                    </span>
                </td>
                <td>
                    <span>Madman in the Barbershop</span>
                </td>
            </tr>
        
            
            <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="please" data-pinyin="qǐng">請</span>
                        <span data-word="" data-meaning="sit" data-pinyin="zuò">坐</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                        <span data-word="" data-meaning="cut" data-pinyin="jiǎn">剪</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">甚麼</span>
                        <span data-word="" data-meaning="appearance" data-pinyin="yàngzi">樣子</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="change" data-pinyin="gǎi">改</span>
                        <span data-word="" data-meaning="hairstyle" data-pinyin="fàxíng">髮型</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>Please have a seat.</span>
                <span>How much would you like cut today?</span>
                <span>Would you like to change your hairstyle?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="all" data-pinyin="quánbù">全部</span>
                        <span data-word="" data-meaning="cut off" data-pinyin="jiǎndiào">剪掉</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="to become" data-pinyin="biànchéng">變成</span>
                        <span data-word="" data-meaning="bald-head" data-pinyin="guāngtóu">光頭</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>Cut it all off!</span>
                <span>I want to become a baldy!</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="why" data-pinyin="wèishénme">為什麼</span>
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="bald head" data-pinyin="guāngtóu">光頭</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>Why do you want to go bald-headed?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                        <span data-word="" data-meaning="girlfriend" data-pinyin="nǚpéngyǒu">女朋友</span>
                        <span data-word="" data-meaning="say" data-pinyin="shuō">說</span>
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="hope" data-pinyin="xīwàng">希望</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="am" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="bald-head" data-pinyin="guāngtóu">光頭</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>My girlfriend said she wishes I were a baldy.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="really" data-pinyin="zhēnde">真的</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>Really?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="actually" data-pinyin="bìng">並</span>
                        <span data-word="" data-meaning="not have" data-pinyin="méiyǒu">沒有</span>
                        <span data-word="" data-meaning="definite" data-pinyin="míngquè">明確</span>
                        <span data-word="" data-meaning="say" data-pinyin="shuō">說</span>
                        <span data-word="" data-meaning="" data-pinyin="">······</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>Well, not in so many words...</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="then" data-pinyin="nàme">那麼</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="say" data-pinyin="shuō">說</span>
                        <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ne">呢</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>Well, what did she say, then?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="says" data-pinyin="shuō">說</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="" data-pinyin="">「</span>
                        <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                        <span data-word="" data-meaning="hair" data-pinyin="tóufa">頭髮</span>
                        <span data-word="" data-meaning="how" data-pinyin="zěnme">怎麼</span>
                        <span data-word="" data-meaning="that" data-pinyin="nàme">那麼</span>
                        <span data-word="" data-meaning="long" data-pinyin="cháng">長</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="feel" data-pinyin="juéde">覺得</span>
                        <span data-word="" data-meaning="men" data-pinyin="nánrén">男人</span>
                        <span data-word="" data-meaning="(possessive particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="hair" data-pinyin="tóufa">頭髮</span>
                        <span data-word="" data-meaning="the more" data-pinyin="yuè">越</span>
                        <span data-word="" data-meaning="short" data-pinyin="duǎn">短</span>
                        <span data-word="" data-meaning="the more" data-pinyin="yuè">越</span>
                        <span data-word="" data-meaning="handsome" data-pinyin="shuài">帥</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                        <span data-word="" data-meaning="long" data-pinyin="cháng">長</span>
                        <span data-word="" data-meaning="hair" data-pinyin="tóufà">頭髮</span>
                        <span data-word="" data-meaning="looks" data-pinyin="kànqǐlái">看起來</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="messy" data-pinyin="luàn">亂</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                        <span data-word="" data-meaning="" data-pinyin="">」</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="so" data-pinyin="suǒyǐ">所以</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                        <span data-word="" data-meaning="for" data-pinyin="wèi">為</span>
                        <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="girlfriend" data-pinyin="nǚpéngyǒu">女朋友</span>
                        <span data-word="" data-meaning="therefore" data-pinyin="ér">而</span>
                        <span data-word="" data-meaning="become" data-pinyin="biànde">變得</span>
                        <span data-word="" data-meaning="more" data-pinyin="gēng">更</span>
                        <span data-word="" data-meaning="handsome" data-pinyin="shuài">帥</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>She said, "Why's your hair so long?</span>
                <span>For guys, I think the shorter the hair, the more handsome they are.</span>
                <span>Your long hair looks so messy!"</span>
                <span>So, I want to be more handsome for my girlfriend.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="say" data-pinyin="shuō">說</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="bald head" data-pinyin="guāngtóu">光頭</span>
                        <span data-word="" data-meaning="(emphatic particle)" data-pinyin="lā">啦</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>She's not saying she wants you to be bald!</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="know" data-pinyin="zhīdào">知道</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span>
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="did not" data-pinyin="méi">沒</span>
                        <span data-word="" data-meaning="speak" data-pinyin="jiǎng">講</span>
                        <span data-word="" data-meaning="(indicates upcoming verb modifiers)" data-pinyin="dé">得</span>
                        <span data-word="" data-meaning="" data-pinyin="qīngchǔ">清楚</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="to teach" data-pinyin="jiào">讓</span>
                        <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="her" data-pinyin="">知道</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="if" data-pinyin="rúguǒ">如果</span>
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="wants" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="to change" data-pinyin="gǎibiàn">改變</span>
                        <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                        <span data-word="" data-meaning="hairstyle" data-pinyin="fàxíng">髮型</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                    </span>
                </span>  
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="in that case" data-pinyin="jiù">就</span>
                        <span data-word="" data-meaning="should" data-pinyin="yīnggāi">應該</span>
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="to speak" data-pinyin="jiǎng">講</span>
                        <span data-word="" data-meaning="(indicates upcoming verb modifiers)" data-pinyin="dé">得</span>
                        <span data-word="" data-meaning="more" data-pinyin="gēng">更</span>
                        <span data-word="" data-meaning="clear" data-pinyin="qīngchǔ">清楚</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>I know,</span>
                <span>but she wasn't clear.</span>
                <span>So I want to teach her</span>
                <span>that if she wants to change my hairstyle,</span>
                <span>she'd better be a bit more specific.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="barber" data-pinyin="lǐfǎshī" class="bold">理髮師</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="lunatic" data-pinyin="fēngzi">瘋子</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>   
            </td>
            <td>
                <span class="bold">Barber:</span>
                <span>Are you a lunatic?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="customer" data-pinyin="kèrén" class="bold">客人</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                    </span>
                </span> 
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="not wrong" data-pinyin="méicuò">沒錯</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="fast" data-pinyin="kuài">快</span>
                        <span data-word="" data-meaning="a bit" data-pinyin="yīdiǎn">一點</span>
                        <span data-word="" data-meaning="(direct object indicating particle)" data-pinyin="bǎ">把</span>
                        <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="become" data-pinyin="biànchéng">變成</span>
                        <span data-word="" data-meaning="bald head" data-pinyin="guāngtóu">光頭</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="lunatic" data-pinyin="fēngzi">瘋子</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>  
            </td>
            <td>
                <span class="bold">Customer:</span>
                <span>Yes, now turn me into a bald-headed lunatic.</span>
            </td>
        </tr>
    </tbody></table>

</div>

{% endblock %}