{
    "title": "Parallel Texts",
    "description": "A test article about the word 吧",
    "hskLevel": 2,
    "tags": ["grammar"],

    allTexts: () => {
        return data.content.texts._pages
        .filter(x => x.filename !== 'index.html');
    }
}
---

{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Parallel Texts</h1>

    {% for text in page.allTexts() %}
        <a href="{{text.url}}">{{ text.metadata.title }}</a><br>
    {% endfor %}
</div>

{% endblock %}