{
    "title": "Parallel Texts",
    "description": "A test article about the word 吧",
    "hskLevel": 2,
    "tags": ["grammar"],

    allTexts: () => {

        let texts = data.content.texts._pages
        .filter(x => x.filename !== 'index.html');

        let levels = {};

        texts.forEach(text => {
            if (!levels[text.metadata.hskLevel]) levels[text.metadata.hskLevel] = [];
            levels[text.metadata.hskLevel].push(text);
        });

        return levels;
    }
}
---

{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Parallel Texts</h1>

    {% for level, texts in page.allTexts() %}
        <h4 style="margin-top:30px;">HSK Level {{level}}</h4>
        {% for text in texts %}
            <a href="{{text.url}}">{{ text.metadata.title }}</a><br>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}