{
    title: "Old Mister Li",
    description: "",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">
        <tbody>
            <tr class="ptext-title">
                <td>
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="Li (surname" data-pinyin="lǐ">李</span>
                            <span data-word="" data-meaning="old" data-pinyin="lǎo">老</span>
                            <span data-word="" data-meaning="mister" data-pinyin="xiānshēng">先生</span>
                        </span>
                    </span>
                </td>
                <td>
                    <span>Old Mister Li</span>
                </td>
            </tr>
        
            <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Li (surname)" data-pinyin="lǐ">李</span>
                        <span data-word="" data-meaning="mister" data-pinyin="xiānshēng">先生</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="old" data-pinyin="lǎo">老</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>    
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="He" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="probably" data-pinyin="yǒukěnéng">有可能</span>
                        <span data-word="" data-meaning="compared to" data-pinyin="bǐ">比</span>
                        <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                        <span data-word="" data-meaning="grandpa" data-pinyin="yéyé">爺爺</span>
                        <span data-word="" data-meaning="and (formal written form)" data-pinyin="yǔ">與</span>
                        <span data-word="" data-meaning="grandma" data-pinyin="nǎinǎi">奶奶</span>
                        <span data-word="" data-meaning="even " data-pinyin="hái">還</span>
                        <span data-word="" data-meaning="old" data-pinyin="lǎo">老</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I      " data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="sure" data-pinyin="quèdìng">確定</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="after all" data-pinyin="dàodǐ">到底</span>
                        <span data-word="" data-meaning="how old" data-pinyin="duōlǎo">多老</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="feel" data-pinyin="juédé">覺得</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="already" data-pinyin="yǐjīng">已經</span>
                        <span data-word="" data-meaning="100" data-pinyin="yībǎi">一百</span>
                        <span data-word="" data-meaning="more than (when placed after a number)" data-pinyin="duō">多</span>
                        <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>
                        <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span>Mr. Li is very old.</span>
                <span>He is probably even older than your grandmother and your grandfather.</span>
                <span>I don't know exactly how old he is,</span>
                <span>but I bet he is more than a hundred years old!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="although" data-pinyin="suīrán">雖然</span>
                        <span data-word="" data-meaning="Li (surname)" data-pinyin="lǐ">李</span>
                        <span data-word="" data-meaning="mister" data-pinyin="xiānshēng">先生</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="old" data-pinyin="lǎo">老</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="but" data-pinyin="kěshì">可是</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="healthy" data-pinyin="jiànkāng">健康</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="feel" data-pinyin="juédé">覺得</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="that" data-pinyin="nàme">那麼</span>
                        <span data-word="" data-meaning="healthy" data-pinyin="jiànkāng">健康</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="because" data-pinyin="yīnwèi">因為</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="every day" data-pinyin="měitiān">每天</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="go for a walk" data-pinyin="sànbù">散步</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="every" data-pinyin="měiyīge">每一個</span>
                        <span data-word="" data-meaning="morning" data-pinyin="zǎoshàng">早上</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="walk" data-pinyin="zǒu">走</span>
                        <span data-word="" data-meaning="to" data-pinyin="dào">到</span>
                        <span data-word="" data-meaning="market" data-pinyin="shìchǎng">市場</span>
                        <span data-word="" data-meaning="to buy" data-pinyin="mǎi">買</span>
                        <span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="how long (time)" data-pinyin="duōjiǔ">多久</span>
                        <span data-word="" data-meaning="ago" data-pinyin="zhīqián">之前</span>
                        <span data-word="" data-meaning="only then" data-pinyin="cái">才</span>
                        <span data-word="" data-meaning="buy" data-pinyin="mǎi">買</span>
                        <span data-word="" data-meaning="(completed action particle)" data-pinyin="le"">了</span>
                        <span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="nowadays" data-pinyin="rújīn">如今</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="the majority" data-pinyin="dàbùfēn">大部分</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="people" data-pinyin="rén">人</span>
                        <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                        <span data-word="" data-meaning="to go online" data-pinyin="shàngwǎng">上網</span>
                        <span data-word="" data-meaning="to read" data-pinyin="kàn">看</span>
                        <span data-word="" data-meaning="news" data-pinyin="xīnwén">新聞</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span>But Mr. Li is in good shape for his age.</span>
                <span>I think he is so healthy because he goes for a walk every day.</span>
                <span>Every morning he walks to the grocery shop to buy the newspaper.</span>
                <span>When was the last time you bought a newspaper?</span>
                <span>Most people read news online these days!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                        <span data-word="" data-meaning="to know" data-pinyin="zhīdào">知道</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="when" data-pinyin="dāng">當</span>
                        <span data-word="" data-meaning="Li (surname)" data-pinyin="lǐ">李</span>
                        <span data-word="" data-meaning="mister" data-pinyin="xiānshēng">先生</span>
                        <span data-word="" data-meaning="not have" data-pinyin="méiyǒu">沒有</span>
                        <span data-word="" data-meaning="go for a walk" data-pinyin="sànbù">散步</span>
                        <span data-word="" data-meaning="or" data-pinyin="huòzhě">或者</span>
                        <span data-word="" data-meaning="read" data-pinyin="kàn">看</span>
                        <span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="likes" data-pinyin="xǐhuān">喜歡</span>
                        <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ne">呢</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="probably" data-pinyin="dàgài">大概</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="use" data-pinyin="yòng">用</span>
                        <span data-word="" data-meaning="social media" data-pinyin="shèjiāoméitǐ">社交媒體</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        
                        <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                        <span data-word="" data-meaning="probably" data-pinyin="dàgài">大概</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="play" data-pinyin="wán">玩</span>
                        <span data-word="" data-meaning="video games" data-pinyin="diànzǐyóuxì">電子遊戲</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Old people" data-pinyin="lǎorén">老人</span>
                        <span data-word="" data-meaning="have free time" data-pinyin="yǒukōng">有空</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span>
                        <span data-word="" data-meaning="after all" data-pinyin="dàodǐ">到底</span>
                        <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                        <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="" data-pinyin="">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span>I wonder what Mr. Li does when he's not walking or reading the newspaper.</span>
                <span>He probably doesn't use social media.</span>
                <span>And he probably doesn't play video games either.</span>
                <span>What do old people do in their spare time?</span>
            </td>
        </tr>
    </tbody></table>

    <div class="row">
        <div class="col-md-9">
            <h3>Vocabulary from the Text</h3>
            <ul>
                <li><span data-word="" data-meaning="newspaper" data-pinyin="bàozhǐ">報紙</span> - Newspaper</li>
                <li><span data-word="" data-meaning="social media" data-pinyin="shèjiāoméitǐ">社交媒體</span> - Social media</li>
                <li><span data-word="" data-meaning="video game" data-pinyin="diànzǐyóuxì">電子遊戲</span> - Video game</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="{{data.prefix}}/assets/img/svg/old-man-mr-li.svg" style="width: 100%;" />
        </div>
    </div>

</div>

{% endblock %}