{
    title: "The Taxi Driver",
    description: "Someone's confused",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">

        <tr class="ptext-title">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="taxi" data-pinyin="">計程車</span>
                        <span data-word="" data-meaning="(posessive particle)" data-pinyin="">的</span>
                        <span data-word="" data-meaning="driver" data-pinyin="">司機</span>
                    </span>
                </span>
            </td>
            <td>
                <span>The Taxi Driver</span>
            </td>
        </tr>

        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="hi" data-pinyin="">嗨</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="to need" data-pinyin="">需要</span>
                        <span data-word="" data-meaning="help" data-pinyin="">幫忙</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Hi, do you need help with something?</span> 
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="excuse me" data-pinyin="">不好意思</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="to wait" data-pinyin="">等</span>
                        <span data-word="" data-meaning="me" data-pinyin="">我</span>
                        <span data-word="" data-meaning="a moment" data-pinyin="">一下</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="">我</span>
                        <span data-word="" data-meaning="to want" data-pinyin="">要</span>
                        <span data-word="" data-meaning="first" data-pinyin="">先</span>
                        <span data-word="" data-meaning="to use" data-pinyin="">用</span>
                        <span data-word="" data-meaning="cellphone" data-pinyin="">手機</span>
                        <span data-word="" data-meaning="to look for" data-pinyin="">找</span>
                        <span data-word="" data-meaning="address" data-pinyin="">地址</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="okay" data-pinyin="">好</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="to find" data-pinyin="">找到</span>
                        <span data-word="" data-meaning="(completed action marker)" data-pinyin="">了</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="">我</span>
                        <span data-word="" data-meaning="to want" data-pinyin="">想</span>
                        <span data-word="" data-meaning="to go" data-pinyin="">去</span>
                        <span data-word="" data-meaning="Linsen" data-pinyin="">林森</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="with" data-pinyin="">跟</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="(possessive particle)" data-pinyin="">的</span>
                        <span data-word="" data-meaning="intersection" data-pinyin="">路口</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>                    
            </td>
            <td>
                <span><strong>Passenger</strong>: Sorry, one moment,</span>
                <span>I have to check the address on my phone.</span>
                <span>Okay, I found it.</span>
                <span>I want to go to the intersection of Linsen Rd. and Zhongshan Rd.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="Linsen" data-pinyin="">林森</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="with" data-pinyin="">跟</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="they" data-pinyin="">它們</span>
                        <span data-word="" data-meaning="to not have" data-pinyin="：">沒有</span>
                        <span data-word="" data-meaning="intersection" data-pinyin="">路口</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Linsen Rd. and Zhongshan Rd.?</span>
                <span>They don't intersect!</span>      
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="how" data-pinyin="">怎麼</span>
                        <span data-word="" data-meaning="possible" data-pinyin="">可能</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: How is that possible?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(direct object indicating particle)" data-pinyin="">把</span>
                        <span data-word="" data-meaning="cellphone" data-pinyin="">手機</span>
                        <span data-word="" data-meaning="to give" data-pinyin="">給</span>
                        <span data-word="" data-meaning="me" data-pinyin="">我</span>
                        <span data-word="" data-meaning="to see" data-pinyin="">看</span>
                        <span data-word="" data-meaning="a moment" data-pinyin="">一下</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Let me take a look at your phone.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="">好的</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: Okay.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="">喔</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                        <span data-word="" data-meaning="to not be" data-pinyin="">不是</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="！">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="to be" data-pinyin="">是</span>
                        <span data-word="" data-meaning="Chongshan" data-pinyin="">崇善</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">路</span>
                        <span data-word="" data-meaning="" data-pinyin="!">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Oh! It's not Zhongshan Rd.! It's Chongshan Rd.!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="">喔</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                        <span data-word="" data-meaning="to not be" data-pinyin="">不好意思</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="！">我</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">看錯</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="">了</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: Oh, I misread it, sorry.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="">沒事</span>
                        <span data-word="" data-meaning="(disposal preposition)" data-pinyin="">啦</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner"></span>
                        <span data-word="" data-meaning="actually" data-pinyin="">其實</span>
                        <span data-word="" data-meaning="I" data-pinyin="">我</span>
                        <span data-word="" data-meaning="now" data-pinyin="">現在</span>
                        <span data-word="" data-meaning="to not have" data-pinyin="">沒有</span>
                        <span data-word="" data-meaning="time" data-pinyin="">時間</span>
                        <span data-word="" data-meaning="to carry/ to take along" data-pinyin="">帶</span>
                        <span data-word="" data-meaning="you" data-pinyin="">你</span>
                        <span data-word="" data-meaning="to go" data-pinyin="">去</span> 
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="but" data-pinyin="">但是</span>
                        <span data-word="" data-meaning="I" data-pinyin="：">我</span>
                        <span data-word="" data-meaning="will" data-pinyin="">會</span>
                        <span data-word="" data-meaning="to help" data-pinyin="">幫</span>
                        <span data-word="" data-meaning="you" data-pinyin="">你</span>
                        <span data-word="" data-meaning="to call" data-pinyin="">叫</span>
                        <span data-word="" data-meaning="taxi (Taiwan variant)" data-pinyin="">計程車</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver:</strong> No problem!</span>
                <span>I actually don't have time to take you there now,</span>
                <span>but I'll call you a taxi.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="what" data-pinyin="">什麼</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                        <span data-word="" data-meaning="you" data-pinyin="">你</span>
                        <span data-word="" data-meaning="to not be" data-pinyin="">不是</span>
                        <span data-word="" data-meaning="taxi" data-pinyin="">計程車</span>
                        <span data-word="" data-meaning="(posessive particle)" data-pinyin="">的</span>
                        <span data-word="" data-meaning="driver" data-pinyin="">司機</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger:</strong> What? You're not a taxi driver?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="to not be" data-pinyin=""><strong>(不是</strong></span>
                        <span data-word="" data-meaning="taxi (Taiwan variant)" data-pinyin=""><strong>計程車</strong></span>
                        <span data-word="" data-meaning="(possessive particle)" data-pinyin=""><strong>的)</strong></span>
                        <span data-word="" data-meaning="passenger" data-pinyin=""><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="I" data-pinyin="">我</span>
                        <span data-word="" data-meaning="to not be" data-pinyin="">不是</span>
                        <span data-word="" data-meaning="(exclamation particle)" data-pinyin="">啦</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                        <span data-word="" data-meaning="I" data-pinyin="">我</span>
                        <span data-word="" data-meaning="(possessive particle)" data-pinyin="">的</span>
                        <span data-word="" data-meaning="car" data-pinyin="">車子</span>
                        <span data-word="" data-meaning="only" data-pinyin="">只</span>
                        <span data-word="" data-meaning="to be" data-pinyin="">是</span>
                        <span data-word="" data-meaning="yellow" data-pinyin="">黃色</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="">的</span>
                        <span data-word="" data-meaning="only" data-pinyin="">而已</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>(Not a taxi) driver</strong>: No, I'm not! My car's just yellow.</span>
            </td>
        </tr>

    </table>

    <div class="row">
        <div class="col-md-6">
            <h3>Vocabulary from the Text</h3>
            <ul>
                <li><span data-word="" data-meaning="" data-pinyin="">Chinese</span> - English</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="" style="width: 100%;">
        </div>
    </div>

</div>

{% endblock %}