{
    title: "The Taxi Driver",
    description: "Someone's confused",
    "hskLevel": 1,
}
---

{% extends "text.html" %}
{% block text %}

<div class="container">

    <table class="ptext">

        <tbody><tr class="ptext-title">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="taxi" data-pinyin="jìchéngchē">計程車</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="driver" data-pinyin="sījī">司機</span>
                    </span>
                </span>
            </td>
            <td>
                <span>The Taxi Driver</span>
            </td>
        </tr>

        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="hi" data-pinyin="hāi">嗨</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="need" data-pinyin="xūyào">需要</span>
                        <span data-word="" data-meaning="help" data-pinyin="bāngmáng">幫忙</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Hi, do you need help with something?</span> 
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin="chéngkè"><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="excuse me" data-pinyin="bùhǎoyìsī">不好意思</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="wait" data-pinyin="děng">等</span>
                        <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="a moment" data-pinyin="yīxià">一下</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="yào">要</span>
                        <span data-word="" data-meaning="first" data-pinyin="xiān">先</span>
                        <span data-word="" data-meaning="to use" data-pinyin="yòng">用</span>
                        <span data-word="" data-meaning="cellphone" data-pinyin="shǒujī">手機</span>
                        <span data-word="" data-meaning="to look for" data-pinyin="zhǎo">找</span>
                        <span data-word="" data-meaning="address" data-pinyin="dìzhǐ">地址</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="okay" data-pinyin="hǎo">好</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="find" data-pinyin="zhǎodào">找到</span>
                        <span data-word="" data-meaning="(completed action marker)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                        <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                        <span data-word="" data-meaning="Linsen" data-pinyin="línsēn">林森</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="with" data-pinyin="gēn">跟</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="zhōngshān">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="(possessive particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="intersection" data-pinyin="lùkǒu">路口</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>                    
            </td>
            <td>
                <span><strong>Passenger</strong>: Sorry, one moment,</span>
                <span>I have to check the address on my phone.</span>
                <span>Okay, I found it.</span>
                <span>I want to go to the intersection of Linsen Rd. and Zhongshan Rd.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="Linsen" data-pinyin="línsēn">林森</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="with" data-pinyin="gēn">跟</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="zhōngshān">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="they" data-pinyin="tāmén">它們</span>
                        <span data-word="" data-meaning="not have" data-pinyin="méiyǒu">沒有</span>
                        <span data-word="" data-meaning="intersection" data-pinyin="lùkǒu">路口</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Linsen Rd. and Zhongshan Rd.?</span>
                <span>They don't intersect!</span>      
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin="chéngkè"><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="how" data-pinyin="zěnme">怎麼</span>
                        <span data-word="" data-meaning="possible" data-pinyin="kěnéng">可能</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: How is that possible?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(direct object indicating particle)" data-pinyin="bǎ">把</span>
                        <span data-word="" data-meaning="cellphone" data-pinyin="shǒujī">手機</span>
                        <span data-word="" data-meaning="give" data-pinyin="gěi">給</span>
                        <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="to see" data-pinyin="kàn">看</span>
                        <span data-word="" data-meaning="a moment" data-pinyin="yīxià">一下</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Let me take a look at your phone.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin="chéngkè"><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="okay" data-pinyin="hǎode">好的</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: Okay.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(particle indicating surprise)" data-pinyin="ō">喔</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                        <span data-word="" data-meaning="is not" data-pinyin="bùshì">不是</span>
                        <span data-word="" data-meaning="(honorary name of Sun Yat-Sen)" data-pinyin="zhōngshān">中山</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="Chongshan" data-pinyin="chóngshàn">崇善</span>
                        <span data-word="" data-meaning="Rd." data-pinyin="lù">路</span>
                        <span data-word="" data-meaning="" data-pinyin="!">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver</strong>: Oh! It's not Zhongshan Rd.! It's Chongshan Rd.!</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin="chéngkè"><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="(particle indicating surprise)" data-pinyin="ō">喔</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                        <span data-word="" data-meaning="excuse me" data-pinyin="bùhǎoyìsī">不好意思</span>
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="misread" data-pinyin="kàncuò">看錯</span>
                        <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger</strong>: Oh, I misread it, sorry.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="no problem" data-pinyin="méishì">沒事</span>
                        <span data-word="" data-meaning="(exclamation particle)" data-pinyin="lā">啦</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="actually" data-pinyin="qíshí">其實</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span>
                        <span data-word="" data-meaning="not have" data-pinyin="méiyǒu">沒有</span>
                        <span data-word="" data-meaning="time" data-pinyin="shíjiān">時間</span>
                        <span data-word="" data-meaning="to take" data-pinyin="dài">帶</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="to go" data-pinyin="qù">去</span> 
                        <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    </span>
                </span>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span>
                        <span data-word="" data-meaning="I" data-pinyin="：">我</span>
                        <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                        <span data-word="" data-meaning="help" data-pinyin="bāng">幫</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="call" data-pinyin="jiào">叫</span>
                        <span data-word="" data-meaning="taxi (Taiwan variant)" data-pinyin="jìchéngchē">計程車</span>
                        <span data-word="" data-meaning="" data-pinyin="！">！</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Driver:</strong> No problem!</span>
                <span>I actually don't have time to take you there now,</span>
                <span>but I'll call you a taxi.</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="passenger" data-pinyin="chéngkè"><strong>乘客</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="are not" data-pinyin="bùshì">不是</span>
                        <span data-word="" data-meaning="taxi" data-pinyin="jìchéngchē">計程車</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="driver" data-pinyin="sījī">司機</span>
                        <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                        <span data-word="" data-meaning="" data-pinyin="？">？</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>Passenger:</strong> What? You're not a taxi driver?</span>
            </td>
        </tr>
        <tr class="less-spacing">
            <td>
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="is not" data-pinyin="bùshì"><strong>(不是)</strong></span>
                        <span data-word="" data-meaning="taxi (Taiwan variant)" data-pinyin="jìchéngchē"><strong>計程車</strong></span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de"><strong>的</strong></span>
                        <span data-word="" data-meaning="driver" data-pinyin="sījī"><strong>司機</strong></span>
                        <span data-word="" data-meaning="" data-pinyin="：">：</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="am not" data-pinyin="bùshì">不是</span>
                        <span data-word="" data-meaning="(exclamation particle)" data-pinyin="lā">啦</span>
                        <span data-word="" data-meaning="" data-pinyin="">！</span>
                        <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                        <span data-word="" data-meaning="car" data-pinyin="chēzǐ">車子</span>
                        <span data-word="" data-meaning="only" data-pinyin="zhǐ">只</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="yellow" data-pinyin="huángsè">黃色</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="only" data-pinyin="éryǐ">而已</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
            </td>
            <td>
                <span><strong>(Not a) taxi driver</strong>: No, I'm not! My car's just yellow.</span>
            </td>
        </tr>

    </tbody></table>

    <div class="row">
        <div class="col-md-6">
            <h3>Vocabulary from the Text</h3>
            <ul>
                <li><span data-word="" data-meaning="" data-pinyin="">Chinese</span> - English</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="" style="width: 100%;" />
        </div>
    </div>

</div>

{% endblock %} 