.banner {
    color: white;

    padding-top: 120px;
    padding-bottom: 120px;
    
    text-align: center;

    background-color: gray;
    background-size: cover;
    background-position: center;
}