{
    title: "國家",
    description: "A test article about the word 吧",
    hskLevel: 3,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>國家 (guó jiā)</strong> means 
        <em>country</em> and the classifier for it is 
        <strong>個 (ge)</strong>.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                <span data-word="" data-meaning="how many" data-pinyin="duōshǎo">多少</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ qù guò duōshǎo ge guójiā ？ </div>
        <div class="meaning">How many countries have you been to?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="the world" data-pinyin="shìjiè">世界</span>
                <span data-word="" data-meaning="in" data-pinyin="shàng">上</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="beautiful" data-pinyin="měi">美</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="which" data-pinyin="nǎ">哪</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">shìjiè shàng zuì měi de guójiā shì nǎ yī ge ？ </div>
        <div class="meaning">Which is the most beautiful country in the world?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                <span data-word="" data-meaning="(comparative preposition)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                <span data-word="" data-meaning="coutry" data-pinyin="guójiā">國家</span>
                <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ de guójiā bǐ nǐ de guójiā dà 。 </div>
        <div class="meaning">My country is bigger than your country.</div>
    </div>

    <p>
        <strong>家 (jiā)</strong>, which means 
        <em>family</em> or 
        <em>home</em>, forms part of the word 
        <strong>國家 (guó jiā)</strong>. From this we can see a close relationship between family and country. In Chinese culture, it has been often said that 
        <strong>'國家國家，國就是我們的家 (guójiā guójiā , guó jiùshì wǒmen de jiā)'</strong>, which implies that we should love and be loyal to our country.
    </p>

</div>

{% endblock %}