{
    title: "姓氏",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>姓氏 (xìngshì)</strong> means 
        <em>surname</em>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                <span data-word="" data-meaning="surname" data-pinyin="xìngshì">姓氏</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ de xìngshì shì shénme ？ </div>
        <div class="meaning">What is your surname?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="China" data-pinyin="zhōngguó">中國</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="common" data-pinyin="pǔbiàn">普遍</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="surname" data-pinyin="xìngshì">姓氏</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">zhōngguó zuì pǔbiàn de xìngshì shì shénme ？ </div>
        <div class="meaning">What is the most common surname in China?</div>
    </div>

    <p>
        Sometimes we just use 
        <strong>姓 (xìng)</strong> to express 
        <em>surname</em>. However, when 
        <strong>姓 (xìng)</strong> stands alone without 
        <strong>氏 (shì)</strong>, it has an additional function: to function as 
        <em>'to be surnamed'</em>. The following is some examples:
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="" data-pinyin="「">「</span>
                <span data-word="" data-meaning="Liu" data-pinyin="liú">劉</span>
                <span data-word="" data-meaning="" data-pinyin="」">」</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="common" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="surname" data-pinyin="xìng">姓</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">「 liú 」 shì dà xìng 。 </div>
        <div class="meaning">Liu is a common surname. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="'to be surnamed'" data-pinyin="xìng">姓</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ xìng shénme ？ </div>
        <div class="meaning">What is your surname? (Lit: What are you surnamed?)</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="'to be surnamed'" data-pinyin="xìng">姓</span>
                <span data-word="" data-meaning="Wang" data-pinyin="wáng">王</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xìng wáng 。 </div>
        <div class="meaning">My surname is Wang.(Lit: I am surnamed Wang)</div>
    </div>

    <p>
        (Note that to tell people what our surname is, we usually answer 
        <strong>我姓...</strong> instead of 
        <strong>我的姓氏是...</strong>)
        <br/>The Chinese word for 
        <em>full name</em> is 
        <strong>姓名 (xìngmíng)</strong>, which is comprised of the 
        <strong>名 (míng)</strong> in 
        <a href="/pages/名字">
            <strong>名字 (míngzi)</strong>
        </a>, which means 
        <em>name</em>, and the 
        <strong>姓 (xìng)</strong> in 
        <strong>姓氏 (xìngshì)</strong>.
    </p>

</div>

{% endblock %}