{
    title: "學習",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>學習 (xuéxí)</strong> means 
        <em>to study</em> or 
        <em>to learn</em>. 
    </p>

    <h2>
        <strong>學習</strong> as 
        <em>to study</em> 
    </h2>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to study" data-pinyin="xuéxí">學習</span>
                <span data-word="" data-meaning="biology " data-pinyin="shēngwùxué">生物學</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ne">呢</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǒ xuéxí shēngwùxué ， nǐ ne ？ </div>
        <div class="meaning">I study biology, what about you?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="library" data-pinyin="túshūguǎn">圖書館</span>
                <span data-word="" data-meaning="to study" data-pinyin="xuéxí">學習</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to want" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to come" data-pinyin="lái">來</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǒ qù túshūguǎn xuéxí ， nǐ yào lái ma ？ </div>
        <div class="meaning">I am going to the library to study, do you want to come?</div>
    </div>

    <h2>
        <strong>學習</strong> as 
        <em>to learn</em> 
    </h2>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="should" data-pinyin="yīnggāi">應該</span>
                <span data-word="" data-meaning="from" data-pinyin="cóng">從</span>
                <span data-word="" data-meaning="mistake" data-pinyin="cuòwù">錯誤</span>
                <span data-word="" data-meaning="inside" data-pinyin="zhōng">中</span>
                <span data-word="" data-meaning="to learn" data-pinyin="xuéxí">學習</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen yīnggāi cóng cuòwù zhōng xuéxí 。 </div>
        <div class="meaning">We should learn from mistakes.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(progressive marker)" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="to learn" data-pinyin="xuéxí">學習</span>
                <span data-word="" data-meaning="to swim" data-pinyin="yóuyǒng">游泳</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zài xuéxí yóuyǒng 。 </div>
        <div class="meaning">I am learning to swim.</div>
    </div>

    <p>
        Sometimes we can just use 
        <strong>學 (xué)</strong> as 
        <strong>學習 (xuéxí)</strong>, for example:
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="next " data-pinyin="míng">明</span>
                <span data-word="" data-meaning="year" data-pinyin="nián">年</span>
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="to study" data-pinyin="xué">學</span>
                <span data-word="" data-meaning="animal" data-pinyin="dòngwù">動物</span>
                <span data-word="" data-meaning="cell" data-pinyin="xìbāo">細胞</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">míng nián wǒmen huì xué dòngwù xìbāo 。 </div>
        <div class="meaning">Next year we still study animal cells.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="why" data-pinyin="wèishénme">為什麼</span>
                <span data-word="" data-meaning="to want" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to learn" data-pinyin="xué">學</span>
                <span data-word="" data-meaning="Chinese" data-pinyin="zhōngwén">中文</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ wèishénme yào xué zhōngwén ？ </div>
        <div class="meaning">Why do you want to learn Chinese?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to learn" data-pinyin="xué">學</span>
                <span data-word="" data-meaning="to learn" data-pinyin="xué">學</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">xué xué wǒ ba 。 </div>
        <div class="meaning">Learn from me.</div>
    </div>
</div>

{% endblock %}