{
    title: "家人",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <strong>家人 (jiā rén)</strong> refers family member(s). It is often translated into 
        <em>family</em> but it is not exactly a Chinese equivalent of 
        <em>family</em>. 
        <em>family</em> describes a group of related people by blood while 
        <strong>家人 (jiā rén)</strong> can mean a single member of a family or a group of family members. It is particularly useful when want to avoid stating the role of a family member. The examples below might help you understand the usage of 
        <strong>家人 (jiā rén)</strong> better:
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="wife" data-pinyin="lǎopó">老婆</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="family member " data-pinyin="jiārén">家人</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="to hurt" data-pinyin="shānghài">傷害</span>
                <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā shì wǒ lǎopó de jiārén ， wǒ bù huì shānghài tā 。 </div>
        <div class="meaning">She is a family member of my wife, I won't hurt her.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="family member" data-pinyin="jiārén">家人</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to trust" data-pinyin="xìn">信</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ shì wǒ de jiārén ， wǒ xìn nǐ 。 </div>
        <div class="meaning">You are my family member, I trust you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="they" data-pinyin="tāmen">他們</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                <span data-word="" data-meaning="family member" data-pinyin="jiārén">家人</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="of course " data-pinyin="dāngrán">當然</span>
                <span data-word="" data-meaning="to know" data-pinyin="rènshí">認識</span>
                <span data-word="" data-meaning="them" data-pinyin="tāmen">他們</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tāmen shì nǐ de jiārén ， nǐ dāngrán rènshí tāmen 。 </div>
        <div class="meaning">They are your family, of course you know them.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="please" data-pinyin="qǐng">請</span>
                <span data-word="" data-meaning="to tell" data-pinyin="gàosù">告訴</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="family" data-pinyin="jiārén">家人</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to love" data-pinyin="ài">愛</span>
                <span data-word="" data-meaning="them" data-pinyin="tāmen">他們</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">qǐng gàosù wǒ de jiārén ， wǒ ài tāmen 。 </div>
        <div class="meaning">Please tell my family that I love them.</div>
    </div>
</div>

{% endblock %}