{
    title: "謝謝",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>謝謝 (xièxie)</strong> means 
        <em>thanks</em> or 
        <em>to thank</em>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
                <span data-word="" data-meaning="thanks" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">nǐ zuò le ？ xièxie ！ </div>
        <div class="meaning">You did it? Thanks! </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="too" data-pinyin="tài">太</span>
                <span data-word="" data-meaning="good" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="thanks" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">tài hǎo le ， xièxie ！ </div>
        <div class="meaning">Great, thanks!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span>
                <span data-word="" data-meaning="to need" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to thank" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ míngtiān yào xièxie tā 。 </div>
        <div class="meaning">I have to thank her tomorrow.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to understand" data-pinyin="míngbái">明白</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to thank" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ míngbái le ， xièxie nǐ 。 </div>
        <div class="meaning">I have understood, thank you.</div>
    </div>
</div>

{% endblock %}