{
    "title": "Lexicon",
    "description": "A test article about the word 吧",
    "hskLevel": 2,
    "tags": ["grammar"],

    allWords: () => {

        let words = data.content.words._pages
        .filter(x => x.filename !== 'index.html')
        .filter(x => !x.filename.startsWith('_'));

        let levels = {};

        words.forEach(word => {
            if (!levels[word.metadata.hskLevel]) levels[word.metadata.hskLevel] = [];
            levels[word.metadata.hskLevel].push(word);
        });

        return levels;
    }
}
---

{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Lexicon</h1>
    <p>Welcome to the <strong><em>Lexicon</em></strong>! It's like a dictionary, with articles that explain how to use Chinese words, with explanations of grammar, and lots of example sentences.</p>
    <p>Our goal is to cover as many Chinese words as possible, with tons of examples and useful information!</p>

    {% for level, words in page.allWords() %}
        <h4 style="margin-top:30px;">HSK Level {{level}}</h4>
        {% for word in words %}
            <a href="{{word.url}}">{{ word.metadata.title }}</a><br/>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}