{
    title: "",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> is a <a href="https://google.com">function word</a> primarily used to express possession, and to describe things. Grammatically speaking, what <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> does is to attach a modifying clause to a noun.</p>

    <h2>Usage</h2>

    <p>A common usage of <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> is to describe who owns something, similarly to how <em>of</em> and genitive <em>'s</em> work in English.</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="clothes" data-pinyin="yīfú">衣服</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Māma de yīfú.</div>
        <div class="meaning">Mom's clothes.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánhái">男孩</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="dog" data-pinyin="gǒu">狗</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Nà ge nánhái de gǒu.</div>
        <div class="meaning">That boy's dog.</div>
    </div>

    <p>It is also used to connect an adjective to the noun it describes:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="white" data-pinyin="báisè">白色</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="sand" data-pinyin="shā">沙</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Báisè de shā.</div>
        <div class="meaning">White sand.</div>
    </div>

</div>

{% endblock %}