{
    "title": "不",
    "description": "",
    "hskLevel": 1,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p><span data-word="" data-meaning="not" data-pinyin="bù">不</span> serves as a negator in Chinese. We can put it before many different kind of words in order to negate the meaning. Sentences with <span data-word="" data-meaning="not" data-pinyin="bù">不</span>. In some circumstances, like when talking about the past, we use the negator <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>, instead.

    <h2><strong>The simple rules of negation</strong></h2>
    
    <p>In order to negate most words, just add <span data-word="" data-meaning="not" data-pinyin="bù">不</span> right before. For example, take the following positive statement<span data-word="" data-meaning="" data-pinyin="">：</span>
        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
        <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
        <span data-word="" data-meaning="ice-cream" data-pinyin="bīngqílín">冰淇淋</span>
        <span data-word="" data-meaning="" data-pinyin="。">。</span>
        "I eat ice cream." Now, negate it by placing <span data-word="" data-meaning="not" data-pinyin="bù">不</span> before the verb <span data-word="" data-meaning="to eat" data-pinyin="chī ">吃</span><span data-word="" data-meaning="" data-pinyin="">：</span>
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
            <span data-word="" data-meaning="ice-cream" data-pinyin="bīngqílín">冰淇淋</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
            "I don't eat ice cream."</p>

    <p><span data-word="" data-meaning="not" data-pinyin="bù">不</span> + verb]

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="am" data-pinyin="shì">是</span>
            <span data-word="" data-meaning="teacher" data-pinyin="lǎoshī">老師</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ bù shì lǎoshī.</div>
        <div class="meaning">I am not a teacher.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
            <span data-word="" data-meaning="forgive " data-pinyin="yuánliàng">原諒</span>
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ bù huì yuánliàng.</div>
        <div class="meaning">I will not forgive you.</div>
    </div>

    <p>Note that we use <span data-word="" data-meaning="not" data-pinyin="méi">沒</span> to negate the verb <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>.</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
            <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
            <span data-word="" data-meaning="money" data-pinyin="qián">錢</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ méi yǒu qián 。 </div>
        <div class="meaning">I don't have money.</div>
    </div>

    <p>[<span data-word="" data-meaning="not" data-pinyin="bù">不</span> + adjective]<p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
            <span data-word="" data-meaning="house" data-pinyin="fángzi">房子</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ de fángzi bù dà.</div>
        <div class="meaning">My house is not big.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
            <span data-word="" data-meaning="child" data-pinyin="háizi">孩子</span>
            <span data-word="" data-meaning="not " data-pinyin="bù">不</span>
            <span data-word="" data-meaning="weird" data-pinyin="guài">怪</span>
            <span data-word="" data-meaning="" data-pinyin="，">，</span>
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="(emphatic particle)" data-pinyin="cái">才</span>
            <span data-word="" data-meaning="weird" data-pinyin="guài">怪</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Zhè háizi bù guài, nǐ cái guài.</div>
        <div class="meaning">This child is not weird. You are the weird one!</div>
    </div>
    
    <p>[<span data-word="" data-meaning="not" data-pinyin="bù">不</span> + preposition]</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
            <span data-word="" data-meaning="home" data-pinyin="jiā">家</span>
            <span data-word="" data-meaning="to eat" data-pinyin="chīfàn">吃飯</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ jīntiān bù zài jiā chīfàn.</div>
        <div class="meaning">I am not going to eat at home today.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
            <span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="to" data-pinyin="gēn">跟</span>
            <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="talk" data-pinyin="shuōhuà">說話</span>
            <span data-word="" data-meaning="(change marker)" data-pinyin="le">了</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Tā xiànzài bù gēn wǒ shuōhuà.</div>
        <div class="meaning">He doesn't talk to me now.</div>
    </div>

    <h2><strong>Negating Adverbs</strong></h2>

    <p>Adverbs are a bit different, but still logical. <span data-word="" data-meaning="not" data-pinyin="bù">不</span> usually comes after adverbs in a sentence, since you don’t generally negate adverbs. Note the position of the adverbs in the following sentences:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="today" data-pinyin="jīntiān" class="bold">今天</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
            <span data-word="" data-meaning="to spend" data-pinyin="huā">花</span>
            <span data-word="" data-meaning="too" data-pinyin="tài">太</span>
            <span data-word="" data-meaning="much" data-pinyin="duō">多</span>
            <span data-word="" data-meaning="money" data-pinyin="qián">錢</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ jīntiān bù xiǎng huā tài duō qián.</div>
        <div class="meaning">I don't want to spend too much money today.</div>
    </div>
    <p>In this case, the adverb comes before the negator, since <span data-word="" data-meaning="not" data-pinyin="bù">不</span> is negating the verb. There’s no logical situation in which <span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span> would themselves need be negated. However, a few adverbs can be negated, and in these situations <span data-word="" data-meaning="not" data-pinyin="bù">不</span> will come before them. Note the positions of the adverbs in the following sentences:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="often" data-pinyin="cháng" class="bold">常</span>
            <span data-word="" data-meaning="go" data-pinyin="qù">去</span>
            <span data-word="" data-meaning="library" data-pinyin="túshūguǎn">圖書館</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Wǒ bù cháng qù túshūguǎn.</div>
        <div class="meaning">I don't go to the library often.</div>
    </div>

    <p>In some cases, the <span data-word="" data-meaning="not" data-pinyin="bù">不</span> can go on either side of the adverb, and the meaning will change:</p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="surely" data-pinyin="yīdìng"class="bold">一定</span>
            <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
            <span data-word="" data-meaning="win" data-pinyin="yíng">贏</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">Nǐ bù yīdìng huì yíng.</div>
        <div class="meaning">You might not win!</div>
    </div>    
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="surely" data-pinyin="yīdìng"class="bold">一定</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
            <span data-word="" data-meaning="win" data-pinyin="yíng">贏</span>
            <span data-word="" data-meaning="" data-pinyin="">！</span>
        </span></span>
        <div class="pinyin">Nǐ yīdìng bù huì yíng.</div>
        <div class="meaning">You definitely will not win!</div>
    </div>    

    <h2><strong>Negating the result of a verb</strong></h2>

    <p>In Chinese, verbs often take on a verb-result format:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to find" data-pinyin="zhǎodào">找到</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="to understand" data-pinyin="tīngdǒng">聽懂</span>
            </span>
        </span> 
        <div class="pinyin">zhǎodào, tīngdǒng.</div>
        <div class="meaning">to look for and find, to listen and understand.</div>        
    </div>

    <p><span data-word="" data-meaning="not" data-pinyin="bù">不</span> can be used to negate the ability to achieve the result by placing placing it the middle:</p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to not find" data-pinyin="zhǎobùdào">找不到</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="to not understand" data-pinyin="tīngbùdǒng">聽不懂</span>
            </span>
        </span>
        <div class="pinyin">zhǎobùdào, tīngbùdǒng.</div>
        <div class="meaning">to look for but not be able find,  to listen to but not be able to understand.</div>        
    </div>
</div>

{% endblock %}