{
    "title": "不",
    "description": "",
    "hskLevel": 1,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    
    <p><span data-word="" data-meaning="not" data-pinyin="bù">不</span> serves as a negator in Chinese. We can put it before a verb, an adjective, an adverb or a preposition. Sentences with <span data-word="" data-meaning="not" data-pinyin="bù">不</span> are used to describe a present, future or habitual event, unless a specific time in the past is stated.</p>

    <h2><span data-word="" data-meaning="not" data-pinyin="bù">不</span> to negate verbs</h2>
    
    <p>We can use <span data-word="" data-meaning="not" data-pinyin="bù">不</span> to negate an action verb, stative verb or a modal verb.<br/><strong><span data-word="" data-meaning="not" data-pinyin="bù">不</span> + verb</strong></p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
            <span data-word="" data-meaning="ice-cream" data-pinyin="bīngqílín">冰淇淋</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ bù chī bīngqílín 。 </div>
        <div class="meaning">I don't eat ice-cream.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
            <span data-word="" data-meaning="teacher" data-pinyin="lǎoshī">老師</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ bù shì lǎoshī 。 </div>
        <div class="meaning">I am not a teacher.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
            <span data-word="" data-meaning="to forgive " data-pinyin="yuánliàng">原諒</span>
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ bù huì yuánliàng nǐ 。 </div>
        <div class="meaning">I will not forgive you.</div>
    </div>

    <p>Note that we use another negator <span data-word="" data-meaning="not" data-pinyin="méi">沒</span> to negate the verb <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>. For example:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
            <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
            <span data-word="" data-meaning="money" data-pinyin="qián">錢</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ méi yǒu qián 。 </div>
        <div class="meaning">I don't have money.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not " data-pinyin="méi">沒</span>
            <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
            <span data-word="" data-meaning="child" data-pinyin="háizi">孩子</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ méi yǒu háizi 。 </div>
        <div class="meaning">I don't have children.</div>
    </div>

    <p>To learn more about the usage of <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>, click <a href="/rco/words/有">here</a>.</p>

    <h2><span data-word="" data-meaning="not" data-pinyin="bù">不</span> to negate adjectives</h2>

    <p><strong><span data-word="" data-meaning="not" data-pinyin="bù">不</span> + adjective</strong></p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
            <span data-word="" data-meaning="house" data-pinyin="fángzi">房子</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ de fángzi bù dà 。 </div>
        <div class="meaning">My house is not big.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner"><span data-word="" data-meaning="he" data-pinyin="tā">他</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="handsome" data-pinyin="shuài">帥</span>
            <span data-word="" data-meaning="" data-pinyin="，">，</span>
            <span data-word="" data-meaning="but" data-pinyin="dàn">但</span>
            <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
            <span data-word="" data-meaning="smart" data-pinyin="cōngmíng">聰明</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">tā bù shuài ， dàn hěn cōngmíng 。 </div>
        <div class="meaning">He is not handsome but very smart.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
            <span data-word="" data-meaning="child" data-pinyin="háizi">孩子</span>
            <span data-word="" data-meaning="not " data-pinyin="bù">不</span>
            <span data-word="" data-meaning="weird" data-pinyin="guài">怪</span>
            <span data-word="" data-meaning="" data-pinyin="，">，</span>
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="(emphatic particle)" data-pinyin="cái">才</span>
            <span data-word="" data-meaning="weird" data-pinyin="guài">怪</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">zhè háizi bù guài ， nǐ cái guài 。 </div>
        <div class="meaning">This child is not weird, you are the weird one.</div>
    </div>

    <h2><span data-word="" data-meaning="not" data-pinyin="bù">不</span> to negate adverbs</h2>

    <p>Most of the time we put adverbs before <strong>不 (bù)</strong>, but there are a few adverbs that can occur before <span data-word="" data-meaning="not" data-pinyin="bù">不</span> as well. For example: <br/><strong><span data-word="" data-meaning="not" data-pinyin="bù">不</span> + adverb</strong></p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="often" data-pinyin="cháng">常</span>
            <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
            <span data-word="" data-meaning="library" data-pinyin="túshūguǎn">圖書館</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ bù cháng qù túshūguǎn 。 </div>
        <div class="meaning">I don't go to the library often.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="surely" data-pinyin="yīdìng">一定</span>
            <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
            <span data-word="" data-meaning="to win" data-pinyin="yíng">贏</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">nǐ bù yīdìng huì yíng 。 </div>
        <div class="meaning">You may not win.</div>
    </div>

    <h2><span data-word="" data-meaning="not" data-pinyin="bù">不</span> to negate adverbs</h2>
    
    <p><strong><span data-word="" data-meaning="not" data-pinyin="bù">不</span> + preposition</strong></p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
            <span data-word="" data-meaning="home" data-pinyin="jiā">家</span>
            <span data-word="" data-meaning="to eat" data-pinyin="chīfàn">吃飯</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">wǒ jīntiān bù zài jiā chīfàn 。 </div>
        <div class="meaning">I am not going to eat at home today.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
            <span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="to" data-pinyin="gēn">跟</span>
            <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
            <span data-word="" data-meaning="to talk" data-pinyin="shuōhuà">說話</span>
            <span data-word="" data-meaning="(change marker)" data-pinyin="le">了</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">tā xiànzài bù gēn wǒ shuōhuà le 。 </div>
        <div class="meaning">He doesn't talk to me now.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
            <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
            <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
            <span data-word="" data-meaning="with" data-pinyin="yǔ">與</span>
            <span data-word="" data-meaning="other" data-pinyin="qítā">其他</span>
            <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
            <span data-word="" data-meaning="to interact" data-pinyin="hùdòng">互動</span>
            <span data-word="" data-meaning="" data-pinyin="，">，</span>
            <span data-word="" data-meaning="only" data-pinyin="zhǐ ">只</span>
            <span data-word="" data-meaning="oneself" data-pinyin="zìjǐ">自己</span>
            <span data-word="" data-meaning="to sit" data-pinyin="zuò">坐</span>
            <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
            <span data-word="" data-meaning="there" data-pinyin="nàr">那兒</span>
            <span data-word="" data-meaning="" data-pinyin="。">。</span>
        </span></span>
        <div class="pinyin">tā bù yǔ qítā rén hùdòng ， zhǐ  zìjǐ zuò zài nàr 。 </div>
        <div class="meaning">He doesn't interact with others, but just sitting there alone.</div>
    </div>
</div>

{% endblock %}