{
    title: "了",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}
<div class="container">

    <p>
        As Chinese has no past-tense form for verbs, <span data-word="" data-meaning="completed action particle" data-pinyin="le">了</span> can act, of sorts, as a substitute. However, instead of explicitly saying, “this verb is past tense,” it says, “this is a completed action.” This might seem like a trivial distinction, but it’s important when entering the nuanced world of <span data-word="" data-meaning="completed action particle" data-pinyin="le">了</span> Let’s take a look at some of those, from most common (and easiest!) to some more obscure, baffling ones.
    </p>


    <h2>Primary uses of <span data-word="" data-meaning="completed action particle" data-pinyin="le">了</span></h2>

    <h3>Completed actions</h3>
    <p><span class="structure hint">V. + <span data-word="" data-meaning="completed action particle" data-pinyin="le">了</span></span></p>

    <p
        >When used to state that an action has been completed, the <span data-word="" data-meaning="completed action particle" data-pinyin="le">了</span> generally comes directly after the action.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="yesterday" data-pinyin="zuótiān">昨天</span>
                <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>                    <span data-word="" data-meaning="sushi" data-pinyin="shòusī">壽司</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>            
            </span>
        </span>
        <div class="pinyin">Wǒ zuótiān chī le shòusī.</div>
        <div class="meaning">I ate sushi yesterday.</div>
    </div>
    <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="broke" data-pinyin="dǎpò">打破</span>
                    <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                    <span data-word="" data-meaning="vase" data-pinyin="huāpíng">花瓶</span>
                    <span data-word="" data-meaning="" data-pinyin="">。</span>                               
                </span>
            </span>
            <div class="pinyin">Wǒ zuótiān chī le shòusī.</div>
            <div class="meaning">I ate sushi yesterday.</div>
        </div>
</div>
{% endblock %}