{
    title: "什麼",
    pinyin: "shénme",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <h2>
        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>&nbsp;as <strong>“what”</strong>
    </h2>

    <p>
        In Chinese sentences, <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>, meaning <strong>“what”</strong>, simply takes the place of the information you’re asking about. Let's look at the sentence 
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier for cars)" data-pinyin="liàng">輛</span>
                <span data-word="" data-meaning="car" data-pinyin="chē">車</span>
                <span data-word="" data-meaning="crash into" data-pinyin="zhuàngdǎo">撞倒</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier for trees)" data-pinyin="kē">棵</span>
                <span data-word="" data-meaning="tree" data-pinyin="shù">樹</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        which means, <strong>“That car crashed into this tree.”</strong> You can replace the tree, so it becomes 
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier for cars)" data-pinyin="liàng">輛</span>
                <span data-word="" data-meaning="car" data-pinyin="chē">車</span>
                <span data-word="" data-meaning="crash into" data-pinyin="zhuàngdǎo">撞倒</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>
            </span>
        </span>
         which means, <strong>“What did that car crash into?”</strong> Or you can replace the car, so it becomes 
         <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="crash into" data-pinyin="zhuàngdǎo">撞倒</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier for trees)" data-pinyin="kē">棵</span>
                <span data-word="" data-meaning="tree" data-pinyin="shù">樹</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>
            </span>
         </span>&nbsp;
          which means, <strong>“What crashed into this tree?”</strong>
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān chī shénme?</div>
        <div class="meaning">What do you like to eat?</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="on" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="table" data-pinyin="zhuōzǐ">桌子</span>
                <span data-word="" data-meaning="on" data-pinyin="shàng">上</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="round" data-pinyin="yuán">圓</span>
                <span data-word="" data-meaning="round" data-pinyin="yuán">圓</span>
                <span data-word="" data-meaning="(adjectivizing particle" data-pinyin="de">的</span>
                <span data-word="" data-meaning="thing" data-pinyin="dōngxī">東西</span>
                <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>                       
                <span data-word="" data-meaning="" data-pinyin="">？</span>
            </span>
        </span>
        <div>Zhè ge zài zhuōzǐ shàng de yuán yuán de dōngxī shì shénme?</div>
        <div>What's this round thing on the table?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="with" data-pinyin="gēn">跟</span>
                <span data-word="" data-meaning="him" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="to say" data-pinyin="shuō">說</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ gēn tā shuō le shénme?</div>
        <div class="meaning">What did you say to him?</div>
    </div>

    <h2>
        <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span> as <strong>“everything”</strong>, <strong>“anything”</strong>, and <strong>“all”</strong>.
    </h2>
    <span class="structure-hint">
            <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>&nbsp;+ <span data-word="" data-meaning="also" data-pinyin="yě">也</span>/<span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
    </span>
    <span class="structure-hint">
            <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>&nbsp;+ noun + <span data-word="" data-meaning="also" data-pinyin="yě">也</span>/<span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
    </span>
    <p>
        When paired with <span data-word="" data-meaning="also" data-pinyin="yě">也</span> or <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>, <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>&nbsp;  takes on the meaning of “everything”, “anything”, and “any”
    </p>

    <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                    <span data-word="" data-meaning="any" data-pinyin="shénme">什麼</span>
                    <span data-word="" data-meaning="language " data-pinyin="yǔyán">語言</span>
                    <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                    <span data-word="" data-meaning="can" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="speak" data-pinyin="shuō">說</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">Tā shénme yǔyán dōu huì shuō.</div>
            <div class="meaning">He can speak any language. </div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="anything" data-pinyin="shénme">什麼</span>
                    <span data-word="" data-meaning="all" data-pinyin="yě">也</span>
                    <span data-word="" data-meaning="not " data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="scared" data-pinyin="pà">怕</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">Wǒ shénme yě bù pà.</div>
            <div class="meaning">I am not scared of anything. </div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                    <span data-word="" data-meaning="any" data-pinyin="shénme">什麼</span>
                    <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
                    <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                    <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="respect" data-pinyin="zūnzhòng">尊重</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">Tā shénme rén dōu bù zūnzhòng.</div>
            <div class="meaning">He doesn't respect anyone.</div>
        </div>

    <p>
        There are some instances in which <span data-word="" data-meaning="any" data-pinyin="shénme">什麼</span> means <strong>“any”</strong> or <strong>“anything”</strong> even without the <span data-word="" data-meaning="also" data-pinyin="yě">也</span> or <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>&nbsp;pairing.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="refrigerator" data-pinyin="bīngxiāng">冰箱</span>
                <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="any" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="tasty" data-pinyin="hǎochī">好吃</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="food" data-pinyin="shíwù">食物</span>
                <span data-word="" data-meaning="(question particle" data-pinyin="má">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>
            </span>
        </span>
        <div>Bīngxiāng lǐ yǒu shénme hǎochī de shíwù má?</div>
        <div>Is there any tasty food in the refrigerator?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="not " data-pinyin="bù">不</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="any" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="bad" data-pinyin="huài">壞</span>
                <span data-word="" data-meaning="thing" data-pinyin="shì">事</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā bù huì zuò shénme huài shì.</div>
        <div class="meaning">He won't do anything bad.</div>
    </div>
    <p>Essentially, it takes on this meaning when used as a modifier instead of a question word.</p>
</div>

{% endblock %}