{
    title: "今天",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>今天 (jīntiān)</strong> means <em>today</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span><span data-word="" data-meaning="birthday" data-pinyin="shēngrì">生日</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">jīntiān shì wǒ de shēngrì 。 </div>
        <div class="meaning">Today is my birthday.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span><span data-word="" data-meaning="very" data-pinyin="shífēn">十分</span><span data-word="" data-meaning="happy" data-pinyin="kāixīn">開心</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="to thank" data-pinyin="xièxie">謝謝</span><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ jīntiān shífēn kāixīn ， xièxie nǐ 。 </div>
        <div class="meaning">I was really happy today, thank you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="today" data-pinyin="jīntiān">今天</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span><span data-word="" data-meaning="big" data-pinyin="dà">大</span><span data-word="" data-meaning="day" data-pinyin="rìzǐ">日子</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">jīntiān shì wǒ de dà rìzǐ 。 </div>
        <div class="meaning">Today is my big day.</div>
    </div>
</div>

{% endblock %}