{
    title: "你",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   <strong>你 (nǐ)</strong> means <em>you</em>, but only used informally.
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="yet" data-pinyin="méiyǒu">沒有</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ chī le méiyǒu ？ </div>
      <div class="meaning">Have you eaten yet?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span><span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span><span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ xǐhuān chī shénme ？ </div>
      <div class="meaning">What do you like to eat?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="to lie" data-pinyin="piàn">騙</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">wǒ piàn le nǐ 。 </div>
      <div class="meaning">I lied to you.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="he" data-pinyin="tā">他</span><span data-word="" data-meaning="to hate" data-pinyin="tǎoyàn">討厭</span><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">tā tǎoyàn nǐ 。 </div>
      <div class="meaning">He hates you.</div>
   </div>
   In a formal occasion, we use <strong>您 (nín)</strong> as <em>you</em> instead of <strong>你 (nǐ)</strong>.
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nín">您</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="Huang" data-pinyin="huáng">黃</span><span data-word="" data-meaning="professor" data-pinyin="jiàoshòu">教授</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nín shì huáng jiàoshòu ma ？ </div>
      <div class="meaning">Are you Professor Huang?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nín">您</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="a" data-pinyin="yī">一</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="good" data-pinyin="hǎo">好</span><span data-word="" data-meaning="person" data-pinyin="rén">人</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">nín shì yī gè hǎo rén 。 </div>
      <div class="meaning">You are a good person.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="excuse me" data-pinyin="bùhǎoyìsi">不好意思</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="to disturb" data-pinyin="dǎrǎo">打擾</span><span data-word="" data-meaning="you" data-pinyin="nín">您</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">bùhǎoyìsi ， dǎrǎo nín le 。 </div>
      <div class="meaning">Excuse me for disturbing you.</div>
   </div>
   If you add <strong>們 (men)</strong> after <strong>你 (nǐ)</strong> or <strong>您 (nín)</strong> , you get <strong>你們 (nǐmen)</strong> or <strong>您們 (nínmen)</strong>, which means <em>you</em>.
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐmen">你們</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="Taiwanese " data-pinyin="táiwānrén">台灣人</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐmen shì táiwānrén ma ？ </div>
      <div class="meaning">Are you Taiwanese?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="to miss" data-pinyin="xiǎngniàn">想念</span><span data-word="" data-meaning="you" data-pinyin="nǐmen">你們</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">wǒ huì xiǎngniàn nǐmen 。 </div>
      <div class="meaning">I will miss you.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span><span data-word="" data-meaning="to teach" data-pinyin="jiāo">教</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="me" data-pinyin="wǒ">我</span><span data-word="" data-meaning="many" data-pinyin="hěnduō">很多</span><span data-word="" data-meaning="things" data-pinyin="dōngxi">東西</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">nínmen jiāo le wǒ hěnduō dōngxi 。 </div>
      <div class="meaning">You taught me a lot.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="to thank" data-pinyin="xièxie">謝謝</span><span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
      <div class="pinyin">xièxie nínmen ！ </div>
      <div class="meaning">Thank you so much!</div>
   </div>
</div>

{% endblock %}