{
    title: "你",
    description: "",
    hskLevel: 1,

    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
        means <i>you</i> in informal occasions. The formal version is <span data-word="" data-meaning="you (formal)" data-pinyin="nín">您</span>.
        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span> is used primarily for males. The female counterpart is <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span>.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="(completed action marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="or not" data-pinyin="méiyǒu">沒有</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ chī le méiyǒu?</div>
        <div class="meaning">Have you eaten yet or not?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="lie" data-pinyin="piàn">騙</span>
                <span data-word="" data-meaning="(completed action marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ piàn le nǐ.</div>
        <div class="meaning">I lied to you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="hates" data-pinyin="tǎoyàn">討厭</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā tǎoyàn nǐ.</div>
        <div class="meaning">He hates you.</div>
    </div>

    <p>
        Like all pronouns, 
        <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span>
        will make it plural.
        <span data-word="" data-meaning="you (plural)" data-pinyin="nǐmen">你們</span>
        means <i>you (plural)</i> or <i>you (plural)</i>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you (plural)" data-pinyin="nǐmen">你們</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Taiwanese " data-pinyin="táiwānrén">台灣人</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐmen shì táiwānrén ma?</div>
        <div class="meaning">Are you Taiwanese?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="miss" data-pinyin="xiǎngniàn">想念</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐmen">你們</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ huì xiǎngniàn nǐmen.</div>
        <div class="meaning">I will miss you.</div>
    </div>
</div>

{% endblock %}