{
    title: "你好",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        你好! Hope you are enjoying learning Chinese. 
        <strong>你好 (nǐhǎo)</strong> is used to greet people and means 
        <em>hello</em>. It literally means 
        <em>you are well</em>. Let's look at some examples with 
        <strong>你好 (nǐhǎo)</strong>:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="hello" data-pinyin="nǐhǎo">你好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="to make reservation" data-pinyin="dìngzuò">訂座</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐhǎo ， yǒu dìngzuò ma ？ </div>
        <div class="meaning">Hello, do you have a reservation?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Hi" data-pinyin="nǐhǎo">你好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to be called " data-pinyin="jiào">叫</span>
                <span data-word="" data-meaning="Li Ming" data-pinyin="lǐmíng">李名</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐhǎo ， wǒ jiào lǐmíng 。 </div>
        <div class="meaning">Hi, my name is Li Ming.</div>
    </div>

    <p>
        For a formal conversation, we can change the informal 
        <strong>你 (nǐ)</strong> into formal 
        <strong>您 (nín)</strong> and use 
        <strong>您好 (nínhǎo)</strong> instead. Here are some examples:
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Hi" data-pinyin="nínhǎo">您好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I " data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="manager" data-pinyin="jīnglǐ">經理</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nínhǎo ， wǒ shì zhèlǐ de jīnglǐ 。 </div>
        <div class="meaning">Hi, I am the manager here.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Hi" data-pinyin="nínhǎo">您好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I " data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to be " data-pinyin="shì">是</span>
                <span data-word="" data-meaning="your" data-pinyin="nínde">您的</span>
                <span data-word="" data-meaning="student " data-pinyin="xuéshēng">學生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nínhǎo ， wǒ shì nínde xuéshēng 。 </div>
        <div class="meaning">Hi, I am your student.</div>
    </div>

    <p>
        When we add the question marker 
        <strong>
            <a href="/pages/嗎">嗎 (ma)</a>
        </strong>
        <strong> after </strong>你好 (nǐhǎo)
        <strong>, as in </strong>你好嗎 (nǐhǎo ma)
        <strong>, we produce the meaning 
            <em>how are you</em>. 
        </strong>你好嗎 (nǐhǎo ma)
        <strong> literally means 
            <em> are you well</em>, so we actually ask whether someone is doing well rather than how someone is doing. Same as 
        </strong>你好 (nǐhǎo)
        <strong>, it is very simple to use </strong>你好嗎 (nǐhǎo ma)
        <strong>. For example: </strong>
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="hi" data-pinyin="nǐhǎo">你好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="how are you" data-pinyin="nǐhǎoma">你好嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐhǎo ， nǐhǎoma ？ </div>
        <div class="meaning">Hi, how are you?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="very" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="long" data-pinyin="jiǔ">久</span>
                <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                <span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="how are you" data-pinyin="nǐhǎoma">你好嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">hǎo jiǔ méi jiàn le ， nǐhǎoma ？ </div>
        <div class="meaning">Haven't seen you for ages, how are you?</div>
    </div>
</div>

{% endblock %}