{
    title: "做",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>做 (zuò)</strong> is a very versatile word which can be translated into various English words. It means to bring something into existence; it is also an equivalent of 
        <em>to do</em> or 
        <em>to be/become</em>.
    </p>
   
    <h2>
        <strong>做</strong> as 
        <em>to bring something into existence</em>
    </h2>

    <p>
        <strong>做 (zuò)</strong> is often translated into 
        <em>to make</em>, 
        <em>to produce</em> or 
        <em>to create</em> , etc. We should be aware that they are not the only possible translations, 
        <strong>做 (zuò)</strong> can also be used for action verbs that denote bringing something into existence, and the 'something' could be abstract, such as a plan, or concrete like a cake. 
        <strong>做 (zuò)</strong> is put between a subject and the thing that is brought into existence:
        <br/>
        <strong> subject + 做 + object brought to existence</strong>
        <br/>For example:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to make" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="important" data-pinyin="zhòngdà">重大</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="decision" data-pinyin="juédìng">決定</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zuò le yī gè zhòngdà de juédìng 。 </div>
        <div class="meaning">I have made an important decision.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="company" data-pinyin="gōngsī">公司</span>
                <span data-word="" data-meaning="to produce" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="many" data-pinyin="dàliáng">大量</span>
                <span data-word="" data-meaning="toxic" data-pinyin="yǒudú">有毒</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="products" data-pinyin="chǎnpǐn">產品</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè gōngsī zuò le dàliáng yǒudú de chǎnpǐn 。 </div>
        <div class="meaning">This company produced a lot of toxic products.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="yesterday" data-pinyin="zuówǎn">昨晚</span>
                <span data-word="" data-meaning="to have " data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="nightmare" data-pinyin="èmèng">惡夢</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zuówǎn zuò le yī gè èmèng 。 </div>
        <div class="meaning">I had a nightmare last night. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="oneself" data-pinyin="zìjǐ">自己</span>
                <span data-word="" data-meaning="to make" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="bread" data-pinyin="miànbāo">麵包</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen xǐhuān zìjǐ zuò miànbāo 。 </div>
        <div class="meaning">We love to make our own breads. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to create" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="tiáo">條</span>
                <span data-word="" data-meaning="new" data-pinyin="xīn">新</span>
                <span data-word="" data-meaning="rule" data-pinyin="guīzé">規則</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen zuò le yī tiáo xīn guīzé 。 </div>
        <div class="meaning">We have created a new rule.</div>
    </div>

    <h2>
        <strong>做</strong> as 
        <em>to do</em>
    </h2>

    <p>
        When we 
        <em>perform</em> or 
        <em>engage in</em> something, we can use 
        <strong>做 (zuò)</strong>as the verb. It is used in the following sentence structure:
        <br/>
        <strong> subject + 做 + activity to be performed or engaged in </strong>
        <br/>For example:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="business" data-pinyin="shēngyì">生意</span>
                <span data-word="" data-meaning="to need" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to use" data-pinyin="yòng">用</span>
                <span data-word="" data-meaning="brain" data-pinyin="nǎo">腦</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen zuò shēngyì yào yòng nǎo 。 </div>
        <div class="meaning">We need to be smart to do business.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="to want" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="labor work" data-pinyin="kǔgōng">苦工</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ bù yào zuò kǔgōng 。 </div>
        <div class="meaning">I don't want to do labor work.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(progressive marker)" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="to do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ zài zuò shénme ？ </div>
        <div class="meaning">What are you doing?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="don't" data-pinyin="bié">別</span>
                <span data-word="" data-meaning="to do " data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="illegal" data-pinyin="fànfǎ">犯法</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="thing" data-pinyin="dōngxi">東西</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="ok" data-pinyin="hǎoma">好嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">bié zuò fànfǎ de dōngxi ， hǎoma ？ </div>
        <div class="meaning">Don't do illegal things, ok?</div>
    </div>

    <h2>
        <strong>做</strong> as 
        <em>to be</em> or 
        <em>to become</em>
    </h2>

    <p>
        <strong>做 (zuò)</strong> could be a Chinese equivalent of 
        <em>to be</em> or 
        <em>to become</em>. Similar to the English sentence structure, we simply put 
        <strong>做 (zuò)</strong> between its subject and object.
        <br/>
        <strong> subject + 做 + object </strong>
        <br/>For example:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to become" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="friend" data-pinyin="péngyǒu">朋友</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen zuò le péngyǒu 。 </div>
        <div class="meaning">We have become friends.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to want" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to be/become" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="president" data-pinyin="zǒngtǒng">總統</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yào zuò zǒngtǒng 。 </div>
        <div class="meaning">I want to become a president.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="sofa" data-pinyin="shāfā">沙發</span>
                <span data-word="" data-meaning="can" data-pinyin="kěyǐ">可以</span>
                <span data-word="" data-meaning="to be/become" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="bed" data-pinyin="chuáng">床</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè shāfā kěyǐ zuò wǒ de chuáng 。 </div>
        <div class="meaning">This sofa can be my bed.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to be/become" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="parent" data-pinyin="fùmǔ">父母</span>
                <span data-word="" data-meaning="two" data-pinyin="liǎng">兩</span>
                <span data-word="" data-meaning="year" data-pinyin="nián">年</span>
                <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zuò le fùmǔ liǎng nián le 。 </div>
        <div class="meaning">I have been a parent since two years ago.</div>
    </div>
</div>

{% endblock %}