{
    title: "再見",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>再見 (zàijiàn)</strong> means 
    <em>goodbye</em>.
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to need " data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to go" data-pinyin="zǒu">走</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="goodbye" data-pinyin="zàijiàn">再見</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">wǒ yào zǒu le ， zàijiàn ！ </div>
        <div class="meaning">I need to go now, goodbye!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="goodbye" data-pinyin="zàijiàn">再見</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to take care" data-pinyin="bǎozhòng">保重</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">zàijiàn ， bǎozhòng ！ </div>
        <div class="meaning">Bye, take care! </div>
    </div>
    <strong>再見 (zàijiàn)</strong> literally means 
    <em>to see again</em>. Sometimes it appears in a sentence and functions as a verb phrase like in the following:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                <span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǒ shénme shíhòu huì zài jiàn nǐ ？ </div>
        <div class="meaning">When will I see you again?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="can" data-pinyin="néng">能</span>
                <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                <span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ bù néng zài jiàn nǐ le 。 </div>
        <div class="meaning">I can't see you anymore.</div>
    </div>
   In a more casual occasion, we also use the loanword 
    <strong>拜拜 (bàibai)</strong> to say goodbye:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="tonight" data-pinyin="jīnwǎn">今晚</span>
                <span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="bye" data-pinyin="bàibai">拜拜</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">jīnwǎn jiàn ， bàibai ！ </div>
        <div class="meaning">See you tonight, bye!</div>
    </div>
</div>

{% endblock %}