{
    title: "別客氣",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 別客氣 (bié kèqi)</strong> means <em>you are welcome</em> or <em> don't mention it</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span><span data-word="" data-meaning="good" data-pinyin="hǎo">好</span><span data-word="" data-meaning="friends" data-pinyin="péngyǒu">朋友</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="don't mention it" data-pinyin="bié kèqi">別客氣</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">nǐ shì wǒ de hǎo péngyǒu ， bié kèqi ！ </div>
        <div class="meaning">You are my good friend, don't mention it!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you are welcome" data-pinyin="bié kèqi">別客氣</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="to hope" data-pinyin="xīwàng">希望</span><span data-word="" data-meaning="can" data-pinyin="néng">能</span><span data-word="" data-meaning="again" data-pinyin="zài">再</span><span data-word="" data-meaning="(classifier)" data-pinyin="cì">次</span><span data-word="" data-meaning="for " data-pinyin="wéi">為</span><span data-word="" data-meaning="you" data-pinyin="nín">您</span><span data-word="" data-meaning="to serve" data-pinyin="fúwù">服務</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">bié kèqi ， xīwàng néng zài cì wéi nín fúwù 。 </div>
        <div class="meaning">You are welcome, hope to serve you again!</div>
    </div>
    <strong> 別客氣 (bié kèqi)</strong> literally means <em>no formalities</em> or <em> don't be formal</em>. We can take its literal meaning and use it in other situations as well. Here are some examples:
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="to come in" data-pinyin="jìnlái">進來</span><span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="don't" data-pinyin="bié">別</span><span data-word="" data-meaning="formal" data-pinyin="kèqi">客氣</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">jìnlái ba ， bié kèqi ！ </div>
        <div class="meaning">Come in, don't be so formal! </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="to help yourself (to start eating)" data-pinyin="qǐkuài">起筷</span><span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="don't" data-pinyin="bié">別</span><span data-word="" data-meaning="formal" data-pinyin="kèqi">客氣</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">qǐkuài ba ， bié kèqi ！ </div>
        <div class="meaning">Help yourself, don't be so formal.</div>
    </div>
    The synonym of <strong> 別客氣 (bié kèqi)</strong> is <strong>不用謝 (bùyòng xiè)</strong>.<strong>不用謝 (bùyòng xiè)</strong> literally means <em>no need to thank</em>, which is used only after someone has thanked us.
</div>

{% endblock %}