{
    title: "午安",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 午安 (wǔān)</strong> means 
    <em>good afternoon</em>. Unlike 
    <strong>
        <a href="/pages/早上好">早上好 (zǎoshang hǎo)</a>
    </strong>
    <strong> or </strong>
    <a href="/pages/晚安">晚安 (wǎnān)</a>
    <strong>, it is not very commonly used in written or spoken form. We usually use </strong>你好 (nǐhǎo)
    <strong> instead. Regardless, we will look at some examples with </strong>午安 (wǔān)
    <strong> here. </strong>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="good afternoon" data-pinyin="wǔān">午安</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to sleep" data-pinyin="shuì">睡</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="well" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǔān ， nǐ shuì de hǎo ma ？ </div>
        <div class="meaning">Good afternoon, did you sleep well?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="good afternoon" data-pinyin="wǔān">午安</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="meal" data-pinyin="fàn">飯</span>
                <span data-word="" data-meaning="to cook" data-pinyin="zhǔ">煮</span>
                <span data-word="" data-meaning="(suffix indicating completion)" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǔān ， fàn zhǔ hǎo le 。 </div>
        <div class="meaning">Good afternoon, meals are ready.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="good afternoon" data-pinyin="wǔān">午安</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nín">您</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Mrs Liu" data-pinyin="liú tàitai">劉太太</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǔān ， nín shì liú tàitai ma ？ </div>
        <div class="meaning">Good afternoon, are you Mrs Liu?</div>
    </div>
</div>

{% endblock %}