{
    title: "名字",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   <strong>名字 (míngzi)</strong> is the Chinese equivalent of  the noun <em>name</em>. It is one of the very first words we should learn in order to be able to introduce ourselves! Let's look at some examples:
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to be called" data-pinyin="jiào">叫</span><span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span><span data-word="" data-meaning="name" data-pinyin="míngzi">名字</span><span data-word="" data-meaning="" data-pinyin="">？</span></span></span>
      <div class="pinyin">nǐ jiào shénme míngzi  </div>
      <div class="meaning">What is your name?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span><span data-word="" data-meaning="name" data-pinyin="míngzi">名字</span><span data-word="" data-meaning="to be called" data-pinyin="jiào">叫</span><span data-word="" data-meaning="Xiao Hua" data-pinyin="xiǎohuā">小花</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">wǒ de míngzi jiào xiǎohuā 。 </div>
      <div class="meaning">My name is Xiao Hua.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="this" data-pinyin="zhè">這</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="person" data-pinyin="rén">人</span><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span><span data-word="" data-meaning="name" data-pinyin="míngzi">名字</span><span data-word="" data-meaning="(dummy linking adverb)" data-pinyin="hěn">很</span><span data-word="" data-meaning="weird" data-pinyin="qíguài">奇怪</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">zhè gè rén de míngzi hěn qíguài 。 </div>
      <div class="meaning">This person has a weird name.</div>
   </div>
   The Chinese word for <em>full name</em> is <strong>姓名 (xìngmíng)</strong>, which is comprised of the first character of <strong>名字 (míngzi)</strong> with that of <a href="/pages/姓氏"><strong>姓氏 (xìngshì)</strong></a>, which means <em>surname</em>.
</div>

{% endblock %}