{
    title: "吧",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>吧 (ba) </strong> is a very common sentence final particle in Chinese. We mainly use it to soften our speech in a command, suggestion, supposition or statement, or to concede an agreement or an acceptance to something.
    <br/>As you can imagine or you might have noticed already, we use this particle a lot. Now we will go through the situations where 
    <strong>吧 (ba) </strong> is often used. 
   
    <h2>To soften tones in a command ##</h2>
    <strong>吧 (ba) </strong> is very useful when we want to make a command but don't want to sound so strong. As the tone becomes less gentle, a command with 
    <strong>吧 (ba) </strong> also sounds like a suggestion.
    <br/>
    <strong> command + 吧 </strong>
    <br/>Let's look at some examples about how we can make a command in a more polite way:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="weather" data-pinyin="tiānqì">天氣</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="hot" data-pinyin="rè">熱</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="more" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="to drink" data-pinyin="hē">喝</span>
                <span data-word="" data-meaning="a little " data-pinyin="diǎn">點</span>
                <span data-word="" data-meaning="water" data-pinyin="shuǐ">水</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tiānqì hěn rè ， duō hē diǎn shuǐ ba 。 </div>
        <div class="meaning">It is very hot, drink more water!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="tired" data-pinyin="léi">累</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to go" data-pinyin="zǒu">走</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ léi le ， nǐ zǒu ba 。 </div>
        <div class="meaning">I am very tired, please go.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to be going to" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="late" data-pinyin="chídào">遲到</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="hurry up" data-pinyin="kuàiyīdiǎn">快一點</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">wǒmen yào chídào le ， kuàiyīdiǎn ba ！ </div>
        <div class="meaning">We are going to be late, hurry up!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                <span data-word="" data-meaning="all" data-pinyin="suǒyǒu">所有</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="let" data-pinyin="ràng">讓</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to go" data-pinyin="zǒu">走</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè shì wǒde suǒyǒu ， ràng wǒ zǒu ba 。 </div>
        <div class="meaning">This is all I have, let me go! </div>
    </div>
    <h2>To soften tones in a suggestion ##</h2>
   Sometimes a suggestion can sound quite pushy even it might have a good intention. We can use 
    <strong>吧 (ba) </strong> to water down our tone. 
    <br/>
    <strong>suggestion + 吧</strong>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="possibly " data-pinyin="kěnéng">可能</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="angry" data-pinyin="shēngqì">生氣</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to go to" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="apologize" data-pinyin="dàoqiàn">道歉</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ māma kěnéng huì hěn shēngqì ， nǐ qù dàoqiàn ba 。 </div>
        <div class="meaning">You mum might be very angry, you should apologize.  </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to have " data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="time" data-pinyin="shíjiān">時間</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">wǒ yǒu de shì shíjiān ， wǒ qù ba ！ </div>
        <div class="meaning">I have a lot of time, I will go. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐ">你的</span>
                <span data-word="" data-meaning="dress" data-pinyin="qúnzǐ">裙子</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="dirty" data-pinyin="zāng">髒</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="had better" data-pinyin="háishì">還是</span>
                <span data-word="" data-meaning="to change" data-pinyin="huàn">換</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="tiáo">條</span>
                <span data-word="" data-meaning="new" data-pinyin="xīn">新</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ qúnzǐ hěn zāng ， nǐ háishì huàn yī tiáo xīn de ba 。 </div>
        <div class="meaning">Your dress is dirty, you had better wear a new one.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="late" data-pinyin="wǎn">晚</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="had better" data-pinyin="zuìhǎo">最好</span>
                <span data-word="" data-meaning="to call" data-pinyin="jiào">叫</span>
                <span data-word="" data-meaning="taxi" data-pinyin="jìchéngchē">計程車</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">hěn wǎn le ， nǐ zuìhǎo jiào jìchéngchē ba ！ </div>
        <div class="meaning">It is very late already, you had better call a taxi.</div>
    </div>
    <h2>To soften tones in a supposition ##</h2>
   When we want to express uncertainty in our supposition and look for confirmation, we could add 
    <strong>吧 (ba) </strong> with a question mark at the end of it.
    <br/>
    <strong> supposition + 吧 + ? </strong>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="look" data-pinyin="kànqǐlái">看起來</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="happy" data-pinyin="gāoxīng">高興</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to win" data-pinyin="yíng">贏</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ kànqǐlái hěn gāoxīng ， nǐ yíng le ba ？ </div>
        <div class="meaning">You look so happy, did you win?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="woman" data-pinyin="nǚrén">女人</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="similar" data-pinyin="xiàng">像</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                <span data-word="" data-meaning="sister" data-pinyin="jiějie">姐姐</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">zhè gè nǚrén hěn xiàng nǐ ， tā shì nǐde jiějie ba ？ </div>
        <div class="meaning">This woman looks very similar to you, I guess she is your sister?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="muscular" data-pinyin="jiànshuò">健碩</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="surely" data-pinyin="yīdìng">一定</span>
                <span data-word="" data-meaning="often" data-pinyin="jīngcháng">經常</span>
                <span data-word="" data-meaning="to go " data-pinyin="qù">去</span>
                <span data-word="" data-meaning="gym" data-pinyin="jiànshēnshì">健身室</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ hěn jiànshuò ， nǐ yīdìng jīngcháng qù jiànshēnshì ba ？ </div>
        <div class="meaning">You look very muscular, I bet you go to gym a lot?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to learn" data-pinyin="xué">學</span>
                <span data-word="" data-meaning="Chinese" data-pinyin="zhōngwén">中文</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="fun" data-pinyin="yǒuqù">有趣</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="right" data-pinyin="duìba">對吧</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">xué zhōngwén hěn yǒuqù ， duìba ？ </div>
        <div class="meaning">Learning Chinese is fun, right?</div>
    </div>
    <h2>To soften tones in a statement ##</h2>
   For sure there are moments we don't want to be too forceful when making a statement especially when it might not be pleasant to hear. Adding a 
    <strong>吧 (ba) </strong> at the end of our statement will help make it gentler.
    <br/>
    <strong> statement + 吧 </strong>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to go to far" data-pinyin="tàiguòfēn">太過分</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ tàiguòfēn le ba 。 </div>
        <div class="meaning">You went too far. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="to lie" data-pinyin="piàn">騙</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā piàn nǐ ba 。 </div>
        <div class="meaning">He lied to you. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to think" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="yes" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xiǎng shì ba 。 </div>
        <div class="meaning">I think so.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā bù xǐhuān nǐ ba 。 </div>
        <div class="meaning">He doesn't like you.</div>
    </div>
    <h2>To express hesitation or unwillingness in our agreement ##</h2>
   Sometimes although we agree or say yes to something, we might not be 100% happy to accept it or we have some hesitation about it. In this case, we will add 
    <strong>吧 (ba) </strong> after our agreement.
    <br/>
    <strong> agreement + 吧 </strong>
    <br/>The four dialogues below illustrate how we can do this just by adding a 
    <strong>吧 (ba) </strong> in our speech:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="tonight" data-pinyin="jīnwǎn">今晚</span>
                <span data-word="" data-meaning="to need" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to work" data-pinyin="gōngzuò">工作</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="cannot" data-pinyin="bùnéng">不能</span>
                <span data-word="" data-meaning="go " data-pinyin="qù">去</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ jīnwǎn yào gōngzuò ， bùnéng qù 。 </div>
        <div class="meaning">I need to work tonight, I can't go.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="ok" data-pinyin="hǎoba">好吧</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="then" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="on one own" data-pinyin="zìjǐ">自己</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">hǎoba ， nà wǒ zìjǐ qù 。 </div>
        <div class="meaning">Ok, I will go alone.</div>
    </div>
</div>

{% endblock %}