{
    title: "呢",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   We can use <strong>呢 (ne)</strong> to either form a question, indicate that an action is in an on-going state or emphasize a statement. <br>We use <strong>呢 (ne) </strong> a lot to form a question. Many will link this particle to <a href="/pages/嗎"><strong>嗎 (ma)</strong></a> because both are very commonly used for forming questions. I understand it could be quite tempting to mix them up but DON'T! <strong>呢 (ne) </strong> is used to ask follow-up questions, wh-questions and affirmative-negative questions while  <strong>嗎 (ma)</strong> is used to ask a different kind of question. For further details of the usage of <strong>嗎 (ma)</strong>, check this out: <a href="/pages/嗎">To Ask Questions with Ma</a>. <br>Let's have a look at how <strong>呢 (ne)</strong> can be used to form different questions, we would move on to talk about how it is used as a continuous aspect marker and an emphatic particle afterwards.
   <h2>To ask follow-up questions as in <em>what about</em> or <em>how about</em> ##</h2>
   <strong>呢 (ne)</strong> is used to follow up what has been said or to bounce back a question, which is very similar to <em>what about</em> or <em>how about</em> in English.<br>It is very simple to use and I guess you might find the following exchanges familiar already:
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="my" data-pinyin="wǒ">我</span><span data-word="" data-meaning="sister" data-pinyin="jiějie">姐姐</span><span data-word="" data-meaning="can" data-pinyin="néng">能</span><span data-word="" data-meaning="run" data-pinyin="pǎo">跑</span><span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span><span data-word="" data-meaning="very" data-pinyin="hěn">很</span><span data-word="" data-meaning="fast" data-pinyin="kuài">快</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">wǒ jiějie néng pǎo de hěn kuài 。 </div>
      <div class="meaning">My sister can run very fast.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="(question marker)" data-pinyin="ne">呢</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ ne ？ </div>
      <div class="meaning">What about you?</div>
   </div>
</div>

{% endblock %}