{
    title: "哪裡",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <strong>哪裡 (nǎlǐ)</strong> is used as 
        <em>where</em> to ask questions about locations, to mean 
        <em>anywhere</em>, 
        <em>everywhere</em> or 
        <em>wherever</em>, or to function as a humble response after a compliment. 
    </p>
    
    <h2>
        <strong>哪裡</strong> as 
        <em>where</em> in questions 
    </h2>

    <p>
        We use 
        <strong>哪裡 (nǎlǐ)</strong> to ask 
        <em>where</em> something is. For example:
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="book" data-pinyin="shū">書</span>
                <span data-word="" data-meaning="to be at" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">wǒ de shū zài nǎlǐ ？ </div>
        <div class="meaning">Where is my book?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to be at" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="to grow up" data-pinyin="zhǎngdà">長大</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ zài nǎlǐ zhǎngdà ？ </div>
        <div class="meaning">Where did you grow up in?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="to feel" data-pinyin="juéde">覺得</span>
                <span data-word="" data-meaning="pain" data-pinyin="tòng">痛</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ nǎlǐ juéde tòng ？ </div>
        <div class="meaning">Where do you feel the pain?</div>
    </div>

    <h2>
        <strong>哪裡</strong> as 
        <em>wherever</em>, 
        <em>anywhere</em> or 
        <em>everywhere</em>
    </h2>
    
    <p>
        <strong>哪裡 (nǎlǐ)</strong> is used when there is no specific location referent of 'where'. The common translations used are 
        <em>wherever</em>, 
        <em>anywhere</em> or 
        <em>everywhere</em>. 
        <strong>都 (dōu)</strong> usually follows 
        <strong>哪裡 (nǎlǐ)</strong> in this kind of expressions.
        <br/>Here are some examples:
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="to want" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ qù dào nǎlǐ dōu yào chī 。 </div>
        <div class="meaning">I want to eat wherever I go to.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(sequential marker)" data-pinyin="jiù">就</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="where" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ qù nǎlǐ ， wǒ jiù qù nǎlǐ 。 </div>
        <div class="meaning">I will go to wherever you go.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="anywhere" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="to want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ nǎlǐ dōu bù xiǎng qù 。 </div>
        <div class="meaning">I don't want to go to anywhere.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span>
                <span data-word="" data-meaning="everywhere" data-pinyin="nǎlǐ">哪裡</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhèlǐ nǎlǐ dōu shì rén 。 </div>
        <div class="meaning">Here are people everywhere.</div>
    </div>

    <h2>
        <strong>哪裡</strong> as a humble response after receiving a compliment 
    </h2>
    
    <p>
        <strong>哪裡哪裡 (nǎlǐ nǎlǐ)</strong> is often used as a humble response after we have received a compliment. Its literal translation is 'where where' and this expression has no English equivalents. In the following, I will use 'where where' as the translation of 
        <strong>哪裡哪裡 (nǎlǐ nǎlǐ)</strong>:
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="(humble response after compliment)" data-pinyin="nǎlǐnǎlǐ">哪裡哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="only" data-pinyin="zhīshì">只是</span>
                <span data-word="" data-meaning="luck" data-pinyin="xìngyùn">幸運</span>
                <span data-word="" data-meaning="only" data-pinyin="éryǐ">而已</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǎlǐnǎlǐ ， wǒ zhīshì xìngyùn éryǐ 。 </div>
        <div class="meaning">'Where where', I was just lucky. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="(humble response after compliment)" data-pinyin="nǎlǐnǎlǐ">哪裡哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="should" data-pinyin="yīnggāi">應該</span>
                <span data-word="" data-meaning="(nominalizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǎlǐnǎlǐ ， zhè shì yīnggāi de 。 </div>
        <div class="meaning">'Where where', it was what I should do.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="(humble response after compliment)" data-pinyin="nǎlǐnǎlǐ">哪裡哪裡</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="(comparative preposition)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="us" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="good" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="(nominalizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="(fixed expression for 'there are a lot of such people " data-pinyin="dà">大有人在</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǎlǐnǎlǐ ， bǐ wǒmen hǎo de dà 。 </div>
        <div class="meaning">'Where where', there are many more people who are better than us.</div>
    </div>
</div>

{% endblock %}