{
    title: "嗎",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   There are so many ways to form a question in Chinese, adding <strong>嗎 (ma)</strong> at the end of a sentence is one of the most common ways to do so. <strong>嗎 (ma)</strong> is used for two types of questions: yes-no questions and tag questions, which are different from those questions formed by another common question marker <a href="/pages/呢"><strong>呢 (le)</strong></a>. In this article, we will focus on learning to use <strong>嗎 (ma)</strong> to form questions.
   <h2>To ask yes-no questions ##</h2>
   By simply putting <strong>嗎 (ma)</strong> at the end of a statement, we can form a yes-no question. So easy it is! Let's go through some examples now:<br>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="this" data-pinyin="zhè">這</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="world" data-pinyin="shìjiè">世界</span><span data-word="" data-meaning="(existential verb)" data-pinyin="yǒu">有</span><span data-word="" data-meaning="ghost" data-pinyin="guǐ">鬼</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">zhè gè shìjiè yǒu guǐ ma ？ </div>
      <div class="meaning">Are there ghosts in the world?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="Mandarin" data-pinyin="pǔtōnghuà">普通話</span><span data-word="" data-meaning="pronunciation" data-pinyin="fāyīn">發音</span><span data-word="" data-meaning="easy" data-pinyin="róngyì">容易</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">pǔtōnghuà fāyīn róngyì ma ？ </div>
      <div class="meaning">Is Mandarin pronunciation easy?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to take shower" data-pinyin="xǐzǎo">洗澡</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ xǐzǎo le ma ？ </div>
      <div class="meaning">Have you taken shower?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="to leave" data-pinyin="líkāi">離開</span><span data-word="" data-meaning="me" data-pinyin="wǒ">我</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ huì líkāi wǒ ma ？ </div>
      <div class="meaning">Will you leave me?</div>
   </div>
   <h2>To ask tag questions ##</h2>
   We can use <strong>嗎 (ma)</strong> to form a tag question as well. Some common question tags are: <strong>對嗎</strong>，<strong>好嗎</strong>, <strong>行嗎</strong> and <strong>是嗎</strong>. A tag question is used to look for confirmation of your statement so we can simply add question tags after statements which we are not sure about. <br>Let's have a look at some simple examples:
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="not" data-pinyin="bù">不</span><span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span><span data-word="" data-meaning="fish" data-pinyin="yú">魚</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="right" data-pinyin="duì">對</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ bù chī yú ， duì ma ？ </div>
      <div class="meaning">You don't eat fish, right?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to come" data-pinyin="lái">來</span><span data-word="" data-meaning="to help" data-pinyin="bāng">幫</span><span data-word="" data-meaning="me" data-pinyin="wǒ">我</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="ok" data-pinyin="hǎo">好</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ lái bāng wǒ ， hǎo ma ？ </div>
      <div class="meaning">You will come to help me, ok?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span><span data-word="" data-meaning="to go" data-pinyin="qù">去</span><span data-word="" data-meaning="Italy" data-pinyin="yìdàlì">義大利</span><span data-word="" data-meaning="restaurant " data-pinyin="cāntīng">餐廳</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="ok" data-pinyin="xíng">行</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">wǒmen qù yìdàlì cāntīng ， xíng ma ？ </div>
      <div class="meaning">We are going to an Italian restaurant, ok?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="fat" data-pinyin="pàn">胖</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="right" data-pinyin="shì">是</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">nǐ pàn le ， shì ma ？ </div>
      <div class="meaning">You have become fatter, right?</div>
   </div>
</div>

{% endblock %}