{
    title: "地方",
    description: "A test article about the word 吧",
    hskLevel: 3,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 地方 (dìfang)</strong> is a noun which means 
    <em>place</em>, 
    <em>room</em> or 
    <em>space</em>, or 
    <em>part</em>.
    
    <h2>
        <strong>地方</strong> as 
        <em>place</em>, 
        <em>room</em> or 
        <em>space</em> ##
    </h2>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="in the end" data-pinyin="zuìhòu">最後</span>
                <span data-word="" data-meaning="to choose" data-pinyin="xuǎn">選</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="which" data-pinyin="nǎ">哪</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="place" data-pinyin="dìfang">地方</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ zuìhòu xuǎn le nǎ yī gè dìfang ？ </div>
        <div class="meaning">Which place did you choose in the end?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="still" data-pinyin="hái">還</span>
                <span data-word="" data-meaning="(existential verb)" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="improvement " data-pinyin="jìnbù">進步</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="room" data-pinyin="dìfang">地方</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè hái yǒu jìnbù de dìfang 。 </div>
        <div class="meaning">There is still room for improvement. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="much " data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="space" data-pinyin="dìfang">地方</span>
                <span data-word="" data-meaning="to keep" data-pinyin="yǎng">養</span>
                <span data-word="" data-meaning="pet" data-pinyin="chǒngwù">寵物</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen méi yǒu shénme dìfang yǎng chǒngwù 。 </div>
        <div class="meaning">We don't have much space for a pet.</div>
    </div>
    <h2>
        <strong>地方</strong> as 
        <em>part</em>##
    </h2>
    <strong> 地方 (dìfang)</strong> can also refers to 
    <em>part</em> of something.
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="proposal" data-pinyin="jiànyìshū">建議書</span>
                <span data-word="" data-meaning="(existential verb)" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="of great quality" data-pinyin="kěqǔ">可取</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="part" data-pinyin="dìfang">地方</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè jiànyìshū yǒu kěqǔ de dìfang 。 </div>
        <div class="meaning">Some parts of the proposal have merits.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="article" data-pinyin="wénzhāng">文章</span>
                <span data-word="" data-meaning="some" data-pinyin="yǒuxiē">有些</span>
                <span data-word="" data-meaning="part" data-pinyin="dìfang">地方</span>
                <span data-word="" data-meaning="wrong" data-pinyin="cuò">錯</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè wénzhāng yǒuxiē dìfang cuò le 。 </div>
        <div class="meaning">There are some mistakes in the article.</div>
    </div>
    When 
    <strong>地方</strong> is pronounced as 
    <strong>dìfāng</strong>, it is used to describe a place that is administered by a regional authority. The possible translations are 
    <em>regional</em> or 
    <em>local</em>. Here are some examples:
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="regioal" data-pinyin="dìfāng">地方</span>
                <span data-word="" data-meaning="authority" data-pinyin="zhèngfǔ">政府</span>
                <span data-word="" data-meaning="could " data-pinyin="kěyǐ">可以</span>
                <span data-word="" data-meaning="very" data-pinyin="shífēn">十分</span>
                <span data-word="" data-meaning="corrupt" data-pinyin="fǔbài">腐敗</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">dìfāng zhèngfǔ kěyǐ shífēn fǔbài 。 </div>
        <div class="meaning">Regional authorities could be very corrupt. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="some" data-pinyin="yǒuxiē">有些</span>
                <span data-word="" data-meaning="local" data-pinyin="dìfāng">地方</span>
                <span data-word="" data-meaning="organization " data-pinyin="zǔzhī">組織</span>
                <span data-word="" data-meaning="(progressive marker)" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="to protest against" data-pinyin="kàngyì">抗議</span>
                <span data-word="" data-meaning="to increase" data-pinyin="tígāo">提高</span>
                <span data-word="" data-meaning="tax" data-pinyin="shuì">稅</span>
                <span data-word="" data-meaning="rate" data-pinyin="lǜ">率</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">yǒuxiē dìfāng zǔzhī zài kàngyì tígāo shuì lǜ 。 </div>
        <div class="meaning">Some local organisations are protesting against the increase of tax rate.</div>
    </div>
</div>

{% endblock %}