{
    title: "太",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   <strong>太 (tài)</strong> means <em>too</em>, as in <em>too much</em>.<br>When used in a sentence, you will usually add a <strong>了 (le)</strong> at the end of the sentence as well:
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="this" data-pinyin="zhè">這</span><span data-word="" data-meaning="food" data-pinyin="shíwù">食物</span><span data-word="" data-meaning="too much" data-pinyin="tài">太</span><span data-word="" data-meaning="spicy" data-pinyin="là">辣</span><span data-word="" data-meaning="" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="!">！</span></span></span>
      <div class="pinyin">zhè shíwù tài là le ! </div>
      <div class="meaning">This food is too spicy!</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="can't" data-pinyin="bùnéng">不能</span><span data-word="" data-meaning="do" data-pinyin="zuò">做</span><span data-word="" data-meaning="," data-pinyin=",">，</span><span data-word="" data-meaning="too" data-pinyin="tài">太</span><span data-word="" data-meaning="difficult" data-pinyin="nán">難</span><span data-word="" data-meaning="" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin=".">。</span></span></span>
      <div class="pinyin">wǒ bùnéng zuò , tài nán le . </div>
      <div class="meaning">I can't do it. It's too difficult.</div>
   </div>
   <strong>太</strong> is also used colloquially with a meaning similar to <em>very</em>. (Just like in English!)
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="puppy" data-pinyin="xiǎogǒu">小狗</span><span data-word="" data-meaning="too" data-pinyin="tài">太</span><span data-word="" data-meaning="cute" data-pinyin="kěài">可愛</span><span data-word="" data-meaning="" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="!">！</span></span></span>
      <div class="pinyin">xiǎogǒu tài kěài le ! </div>
      <div class="meaning">The puppy is too cute!</div>
   </div>
</div>

{% endblock %}