{
    title: "她",
    pinyin: "tā",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <span data-word="" data-meaning="she" data-pinyin="tā">她</span> means 
        <strong>"she"</strong> or 
        <strong>"her"</strong>. 
        Note the female radical <span data-word="" data-meaning="female" data-pinyin="nǚ">女</span> on the left side of the character.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="lives" data-pinyin="zhù">住</span>
                <span data-word="" data-meaning="in" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="Korea" data-pinyin="hánguó">韓國</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā zhù zài hánguó.</div>
        <div class="meaning">She lives in Korea.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="disppear" data-pinyin="bùjiàn">不見</span>
                <span data-word="" data-meaning="(change-of-state particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā bùjiàn le. </div>
        <div class="meaning">She disappeared.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="don't" data-pinyin="bùyào">不要</span>
                <span data-word="" data-meaning="trust" data-pinyin="xiāngxìn">相信</span>
                <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Bùyào xiāngxìn tā.</div>
        <div class="meaning">Don't trust her.</div>
    </div>

    <p>
        Like all pronouns, 
        <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span>
        will make it plural.
        <span data-word="" data-meaning="they (female)" data-pinyin="tāmen">她們</span>
        means <strong>"they (female)"</strong> or <strong>"them (female)"</strong>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="they (female)" data-pinyin="tāmen">她們</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="daughter" data-pinyin="nǚér">女兒</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tāmen shì wǒ de nǚér</div>
        <div class="meaning">They are my daughters.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="they" data-pinyin="tāmen">她們</span>
                <span data-word="" data-meaning="laugh" data-pinyin="xiào">笑</span>
                <span data-word="" data-meaning="(action completed particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tāmen xiào le 。 </div>
        <div class="meaning">They laughed.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="teacher" data-pinyin="lǎoshī">老師</span>
                <span data-word="" data-meaning="choose" data-pinyin="xuǎn">選</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="them" data-pinyin="tāmen">她們</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Lǎoshī xuǎn le tāmen.</div>
        <div class="meaning">The teacher chose them.</div>
    </div>
</div>

{% endblock %}