{
    title: "妳",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span>
        means <i>you</i> in informal occasions. The formal version is <span data-word="" data-meaning="you" data-pinyin="nín">您</span>.
    </p>
   
    <p>
        <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span> is used only for females. Note the female radical <span data-word="" data-meaning="female" data-pinyin="nǚ">女</span> on the left side of the character. The male counterpart is <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>.
    </p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="sushi" data-pinyin="shòusī">壽司</span>
                <span data-word="" data-meaning="(question particle" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān chī shòusī ma? </div>
        <div class="meaning">Do you like to eat sushi?</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="(ongoing action particle)" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="pursue" data-pinyin="zhuī">追</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā zài zhuī nǐ. </div>
        <div class="meaning">He is pursuing you.</div>
    </div>

    <p>
        Like all pronouns, 
        <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span>
        will make it plural.
        <span data-word="" data-meaning="you (plural)" data-pinyin="nǐmen">妳們</span>
        means <i>they (plural-female)</i> or <i>them (plural-female)</i>.
    </p>

   <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you (plural)" data-pinyin="nǐmen">妳們</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Singaporean" data-pinyin="xīnjiāpōrén">新加坡人</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐmen shì xīnjiāpōrén ma?</div>
        <div class="meaning">Are you Singaporean?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="help" data-pinyin="bāngzhù">幫助</span>
                <span data-word="" data-meaning="you (plural)" data-pinyin="nǐmen">妳們</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ huì bāngzhù nǐmen.</div>
        <div class="meaning">I will help you.</div></div>
    </div>

{% endblock %}