{
    title: "年",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>年 (nián)</strong> is the Chinese word for 
        <em>"year"</em>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="year" data-pinyin="nián">年</span>
                <span data-word="" data-meaning="365" data-pinyin="sānbǎiliùshíwǔ">三百六十五</span>
                <span data-word="" data-meaning="day" data-pinyin="tiān">天</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">yī nián sānbǎiliùshíwǔ tiān 。 </div>
        <div class="meaning">One year is 365 days long.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="in" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="Paris" data-pinyin="bālí">巴黎</span>
                <span data-word="" data-meaning="lived" data-pinyin="zhùliǎo">住了</span>
                <span data-word="" data-meaning="two" data-pinyin="liǎng">兩</span>
                <span data-word="" data-meaning="year" data-pinyin="nián">年</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā zài bālí zhùliǎo liǎng nián 。 </div>
        <div class="meaning">She has lived four years in Paris.</div>
    </div>
</div>

{% endblock %}