{
    title: "得",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>得</strong> has three functions: to serve as a complementing particle, to mean 
    <em>have to</em> or 
    <em>must</em>, or to mean 
    <em>to obtain</em> or 
    <em>to get</em>.
   
    <h2>
        <strong>得 (de)</strong> to introduce result complements ##
    </h2>
   A 
    <em>complement</em> is a structure following a verb/adjective that provides additional information of them. 
    <strong>得(de)</strong> is usually used to introduce complements that describe the result of their preceding verb.
    <br/>The examples below show how 
    <strong>得 (de)</strong> as a complementing particle connects a verb with its result complement:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
                <span data-word="" data-meaning="to be able to" data-pinyin="néng">能</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="finish" data-pinyin="wán">完</span>
                <span data-word="" data-meaning="five" data-pinyin="wǔ">五</span>
                <span data-word="" data-meaning="bowl" data-pinyin="wǎn">碗</span>
                <span data-word="" data-meaning="rice" data-pinyin="fàn">飯</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yī gè rén néng chī de wán wǔ wǎn fàn 。 </div>
        <div class="meaning">I can finish five bowls of rice alone.</div>
    </div>
    <strong>吃 (chī)</strong> refers to the process of eating, which does not include an end-point of this process; the complement 
    <strong>完 (wán)</strong> indicates the result ‘finishing up the food’ of the action 
    <strong>吃 (chī)</strong>.
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="To hear" data-pinyin="tīng">聽</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="(here:to be able to perceive something)" data-pinyin="jiàn">見</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="neighbor" data-pinyin="línjū">鄰居</span>
                <span data-word="" data-meaning="(progressive marker)" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="to quarrel" data-pinyin="chǎojià">吵架</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ tīng de jiàn wǒ línjū zài chǎojià 。 </div>
        <div class="meaning">I can hear my neighbors quarreling.</div>
    </div>
    <strong>聽 (tīng)</strong> refers to the process of listening/hearing, which does not include the meaning 'successfully hearing something'; the complement 
    <strong>見 (jiàn)</strong> denotes the result ‘perceiving something’ from the action 
    <strong>聽 (tīng)</strong>.
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="to say" data-pinyin="shuō">說</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="right" data-pinyin="duì">對</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="women" data-pinyin="nǚxìng">女性</span>
                <span data-word="" data-meaning="also" data-pinyin="yě">也</span>
                <span data-word="" data-meaning="can" data-pinyin="kěyǐ">可以</span>
                <span data-word="" data-meaning="very" data-pinyin="shífēn">十分</span>
                <span data-word="" data-meaning="strong" data-pinyin="qiángzhuàng">強壯</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">tā shuō de duì ， nǚxìng yě kěyǐ shífēn qiángzhuàng ！ </div>
        <div class="meaning">He is right, women could also be very strong!</div>
    </div>
    <strong>對 (duì)</strong> here is an adjectival complement used to describe that the result, which is the speech statement from the action 
    <strong>說 (shuō)</strong>, is correct.
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="such" data-pinyin="zhèmó">這麼</span>
                <span data-word="" data-meaning="difficult" data-pinyin="nán">難</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="book" data-pinyin="shū">書</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="also" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="to read" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="to understand" data-pinyin="dǒng">懂</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">zhèmó nán de shū ， nǐ dōu kàn de dǒng ！ </div>
        <div class="meaning">You can even understand such a difficult book! </div>
    </div>
    <strong>懂 (dǒng)</strong> here is a complement used to describe the result ‘understanding something’ from the action 
    <strong>看 (kàn)</strong>.
   
    <h2>
        <strong>得 (děi)</strong> as an auxiliary verb ##
    </h2>
   Note that 
    <strong>得</strong> can also be prononunced as 
    <strong>děi</strong>. 
    <strong>得 (děi)</strong> is an auxiliary verb which means 
    <em>must</em> or 
    <em>have to</em>. In the following, 
    <strong>得</strong> is an auxiliary verb:
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="must" data-pinyin="děi">得</span>
                <span data-word="" data-meaning="hard" data-pinyin="nǔlì">努力</span>
                <span data-word="" data-meaning="to work" data-pinyin="gōngzuò">工作</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="('...,才'='only if...,')" data-pinyin="cái">才</span>
                <span data-word="" data-meaning="can" data-pinyin="néng">能</span>
                <span data-word="" data-meaning="to earn" data-pinyin="zhuàn">賺</span>
                <span data-word="" data-meaning="a lot of money" data-pinyin="dàqián">大錢</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen děi nǔlì gōngzuò ， cái néng zhuàn dàqián 。 </div>
        <div class="meaning">We must work hard in order to earn a lot of money.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="have to" data-pinyin="děi">得</span>
                <span data-word="" data-meaning="more" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="to smile" data-pinyin="xiào">笑</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="('...,才'='only if...,')" data-pinyin="cái">才</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="(existential verb)" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánhái">男孩</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(sentence final interjection particle)" data-pinyin="a">啊</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ děi duō xiào ， cái huì yǒu nánhái xǐhuān nǐ a  </div>
        <div class="meaning">You have to smile more so you can attract more guys.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="have to" data-pinyin="děi">得</span>
                <span data-word="" data-meaning="to respect" data-pinyin="zūnzhòng">尊重</span>
                <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā shì wǒ de māma  wǒ děi zūnzhòng tā 。 </div>
        <div class="meaning">She is my mother, I have to respect her.</div>
    </div>
    <h2>
        <strong>得 (dé)</strong> as 
        <em>to obtain</em> or 
        <em>to get</em> ##
    </h2>
   When 
    <strong>得</strong> is pronounced as 
    <strong>dé</strong>, it means 
    <em>to obtain</em> or 
    <em>to get</em>.
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to get" data-pinyin="dé">得</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="championship" data-pinyin="guānjūn">冠軍</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ dé le guānjūn 。 </div>
        <div class="meaning">I got the championship. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to get" data-pinyin="dé">得</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="terminal illness" data-pinyin="juézhèng">絕症</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ dé le juézhèng 。 </div>
        <div class="meaning">I got a terminal illness.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="even if" data-pinyin="jiùsuàn">就算</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to get" data-pinyin="dé">得</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="whole" data-pinyin="quán">全</span>
                <span data-word="" data-meaning="world" data-pinyin="shìjiè">世界</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="so what" data-pinyin="yòurúhé">又如何</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">jiùsuàn wǒ dé le quán shìjiè ， yòurúhé ？ </div>
        <div class="meaning">Even if I got the whole world, so what?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to obtain" data-pinyin="dé">得</span>
                <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="good" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="reputation." data-pinyin="shēngyù">聲譽</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen dé dào le hěn hǎo de shēngyù 。 </div>
        <div class="meaning">We have obtained a good reputation.</div>
    </div>
   Let's practise! Which 
    <strong>得</strong> is which?
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="must" data-pinyin="děi">得</span>
                <span data-word="" data-meaning="a lot" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="to practise" data-pinyin="liànxí">練習</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="('...,才'='only if...,')" data-pinyin="cái">才</span>
                <span data-word="" data-meaning="can" data-pinyin="néng">能</span>
                <span data-word="" data-meaning="to jump" data-pinyin="tiào">跳</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="high" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ děi duō liànxí ， cái néng tiào de gāo 。 </div>
        <div class="meaning">You must practise a lot in order to jump high. </div>
    </div>
</div>

{% endblock %}