{
    title: "您",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <span data-word="" data-meaning="you (formal)" data-pinyin="nín">您</span>
        means <em>you</em> in formal situations. The informal versions are 
        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span> for males and 
        <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span> for females.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nín">您</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Huang" data-pinyin="huáng">黃</span>
                <span data-word="" data-meaning="professor" data-pinyin="jiàoshòu">教授</span>
                <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nín shì huáng jiàoshòu ma?</div>
        <div class="meaning">Are you Professor Huang?</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="excuse me" data-pinyin="bùhǎoyìsi">不好意思</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to disturb" data-pinyin="dǎrǎo">打擾</span>
                <span data-word="" data-meaning="you" data-pinyin="nín">您</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Bùhǎoyìsi， dǎrǎo nín le. </div>
        <div class="meaning">Excuse me for disturbing you.</div>
    </div>

    <p>
        Like all pronouns, 
        <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span>
        will make it plural.
        <span data-word="" data-meaning="you (formal-plural)" data-pinyin="nínmen">您們</span>
        means <em>you (formal-plural)</em>
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span>
                <span data-word="" data-meaning="teach" data-pinyin="jiāo">教</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="many" data-pinyin="hěnduō">很多</span>
                <span data-word="" data-meaning="things" data-pinyin="dōngxi">東西</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Nínmen jiāo le wǒ hěnduō dōngxi.</div>
        <div class="meaning">You taught me a lot.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="thank" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">Xièxie nínmen! </div>
        <div class="meaning">Thank you so much!</div>
    </div>
</div>

{% endblock %}