{
    title: "您",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <span data-word="" data-meaning="you (formal)" data-pinyin="nín">您</span>
        means <i>you</i> in formal situations. The informal versions are 
        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span> for males and 
        <span data-word="" data-meaning="you" data-pinyin="nǐ">妳</span> for females.
    </p>
   
    <p>
        For formal occasions, we use 
        <span data-word="" data-meaning="you (formal)" data-pinyin="nín">您</span> as 
        <i>you</i>. 
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nín">您</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Huang" data-pinyin="huáng">黃</span>
                <span data-word="" data-meaning="professor" data-pinyin="jiàoshòu">教授</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nín shì huáng jiàoshòu ma ？ </div>
        <div class="meaning">Are you Professor Huang?</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="excuse me" data-pinyin="bùhǎoyìsi">不好意思</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to disturb" data-pinyin="dǎrǎo">打擾</span>
                <span data-word="" data-meaning="you" data-pinyin="nín">您</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">bùhǎoyìsi ， dǎrǎo nín le 。 </div>
        <div class="meaning">Excuse me for disturbing you.</div>
    </div>

    <p>
        If you add 
        <strong>們 (men)</strong> after 
        <strong>你 (nǐ)</strong> or 
        <strong>您 (nín)</strong> , you get 
        <strong>你們 (nǐmen)</strong> or 
        <strong>您們 (nínmen)</strong>, which means 
        <em>you</em>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span>
                <span data-word="" data-meaning="to teach" data-pinyin="jiāo">教</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="many" data-pinyin="hěnduō">很多</span>
                <span data-word="" data-meaning="things" data-pinyin="dōngxi">東西</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nínmen jiāo le wǒ hěnduō dōngxi 。 </div>
        <div class="meaning">You taught me a lot.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to thank" data-pinyin="xièxie">謝謝</span>
                <span data-word="" data-meaning="you" data-pinyin="nínmen">您們</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">xièxie nínmen ！ </div>
        <div class="meaning">Thank you so much!</div>
    </div>
</div>

{% endblock %}