{
    "title": "想",
    "description": "最 is a cool word",
    "hskLevel": 1,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p><span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span> can be translated to English as either <strong>would like to</strong>, <strong>to miss</strong> or <strong>to think</strong>. Since they have exactly the same pronunciation, we can only get its correct meaning from their context. Let's look in detail <span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span> can produce these three meanings.</p>

    <h2><span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span> as <strong>would like to</strong></h2>

    <p>It is similar to <strong>要</strong>, but less emphatic. It should always be followed by a verb like in the following:</p>

    <strong>subject + <span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span> + verb</strong>

    <div class="example-sentence">
        <span data-sentence class="chinese chinese-sentence"><span class="inner">
            <span data-word data-meaning="you" data-pinyin="nǐ">你</span>
            <span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span>
            <span data-word data-meaning="to drink" data-pinyin="hē">喝</span>
            <span data-word data-meaning="what" data-pinyin="shénme">什麼</span>
            <span data-word data-meaning="" data-pinyin="?">？</span>
        </span></span>
        <div class="pinyin">nǐ xiǎng hē shénme?</div>
        <div class="meaning">What would you like to drink?</div>
    </div>

    <div class="example-sentence">
        <span data-sentence class="chinese chinese-sentence"><span class="inner">
            <span data-word data-meaning="I" data-pinyin="wǒ">我</span>
            <span data-word data-meaning="would like to" data-pinyin="xiǎng">想</span>
            <span data-word data-meaning="for" data-pinyin="gēn">跟</span>
            <span data-word data-meaning="for" data-pinyin="nín">您</span>
            <span data-word data-meaning="for" data-pinyin="gōngzuò">工作</span>
            <span data-word data-meaning="for" data-pinyin=".">。</span>
        </span></span>
        <div class="pinyin">wǒ xiǎng gēn nín gōngzuò.</div>
        <div class="meaning">I would like to work for you</div>
    </div>

</div>

{% endblock %}