{
    "title": "我",
    "description": "wǒ - I",
    "hskLevel": 1,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span> is the Chinese word for <strong>"I"</strong> or <strong>"me"</strong>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="dogs" data-pinyin="gǒu">狗</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān gǒu.</div>
        <div class="meaning">I like dogs.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="don't" data-pinyin="bùyào">不要</span>
                <span data-word="" data-meaning="hit" data-pinyin="dǎ">打</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">Bùyào dǎ wǒ!</div>
        <div class="meaning">Don't hit me!</div>
    </div>

    <p>
        Like all pronouns, 
        <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span>
        will make it plural.
        <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
        means <strong>"we"</strong> or <strong>"us"</strong>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this " data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="do" data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Zhè ge wǒmen míngtiān huì zuò.</div>
        <div class="meaning">We will do it tomorrow.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we " data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="Chinese " data-pinyin="zhōngguórén">中國人</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒmen shì zhōngguórén.</div>
        <div class="meaning">We are Chinese.</div>
    </div>
</div>

{% endblock %}