{
    "title": "新",
    "description": "A test article about the word 新",
    "hskLevel": 2,
    "tags": ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>新 (xīn)</strong> means 
        <strong>new</strong>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="need" data-pinyin="xūyào">需要</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(generic measure word)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="new" data-pinyin="xīn">新</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="phone" data-pinyin="shǒujī">手機</span>
                <span data-word="" data-meaning="" data-pinyin=".">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xūyào yī gè xīn de shǒujī . </div>
        <div class="meaning">I need a new phone.</div>
    </div>
</div>

{% endblock %}
