{
    title: "早上好",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
   We use <strong>早上好 (zǎoshang hǎo)</strong> as <em>good morning</em> to greet people in the morning. Here are some examples:
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="good morning " data-pinyin="zǎoshàng hǎo">早上好</span><span data-word="" data-meaning="" data-pinyin="！">！</span><span data-word="" data-meaning="you" data-pinyin="nín">您</span><span data-word="" data-meaning="to need" data-pinyin="xūyào">需要</span><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="to help" data-pinyin="bāngmáng">幫忙</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">zǎoshàng hǎo ！ nín xūyào wǒ bāngmáng ma ？ </div>
      <div class="meaning">Good morning! May I help you?</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="everyone" data-pinyin="dàjiā">大家</span><span data-word="" data-meaning="good morning" data-pinyin="zǎoshàng hǎo">早上好</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="to be" data-pinyin="shì">是</span><span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span><span data-word="" data-meaning="newly " data-pinyin="xīn">新</span><span data-word="" data-meaning="to come" data-pinyin="lái">來</span><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span><span data-word="" data-meaning="staff" data-pinyin="zhíyuán">職員</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
      <div class="pinyin">dàjiā zǎoshàng hǎo ， wǒ shì zhèlǐ xīn lái de zhíyuán 。 </div>
      <div class="meaning">Good morning everyone, I am a new staff here.</div>
   </div>
   <div class="example-sentence">
      <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="good morning" data-pinyin="zǎoshàng hǎo">早上好</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to want" data-pinyin="yào">要</span><span data-word="" data-meaning="coffee" data-pinyin="kāfēi">咖啡</span><span data-word="" data-meaning="or" data-pinyin="háishì">還是</span><span data-word="" data-meaning="tea" data-pinyin="chá">茶</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
      <div class="pinyin">zǎoshàng hǎo ， nǐ yào kāfēi háishì chá ？ </div>
      <div class="meaning">Good morning, coffee or tea?</div>
   </div>
   In casual occasions, sometimes we just say <strong>早 (zǎo)</strong> instead of <strong>早上好 (zǎoshàng hǎo)</strong>, just like how we use <em>morning</em> in English. <br>We can also say <strong>早安 (zǎoān)</strong> to express <em>good morning</em>, it is however less common than <strong>早 (zǎo)</strong> or <strong>早上好 (zǎoshàng hǎo)</strong> in daily conversation as <strong>早安 (zǎoān)</strong> is more formal and often used in written form.
</div>

{% endblock %}