{
    title: "明天",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 明天 (míngtiān)</strong> means <em>tomorrow</em>.  It is made up of 明 (míng), which means <em>next</em> or <em>bright</em>, and 天 (tiān), the word for <em>day</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="to happen" data-pinyin="fāshēng">發生</span><span data-word="" data-meaning="what " data-pinyin="shénme">什麼</span><span data-word="" data-meaning="thing" data-pinyin="shì">事</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
        <div class="pinyin">míngtiān huì fāshēng shénme shì ？ </div>
        <div class="meaning">What will happen tomorrow?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span><span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">míngtiān jiàn ！ </div>
        <div class="meaning">See you tomorrow! </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span><span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="cook" data-pinyin="zhǔ">煮</span><span data-word="" data-meaning="curry" data-pinyin="kāli">咖哩</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒmen míngtiān huì zhǔ kāli 。 </div>
        <div class="meaning">We are going to cook curry tomorrow.</div>
    </div>
</div>

{% endblock %}