{
    title: "星期",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>星期 (xīngqī)</strong> means <em>week</em> or functions to constitute part of the compound words for the weekday names.
    <h2><strong>星期</strong> as <em>week</em> ##</h2>
    The classifier for <strong>星期 (xīngqī)</strong> is <strong>個 (gè)</strong>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="January" data-pinyin="yīyuè">一月</span><span data-word="" data-meaning="(existential verb)" data-pinyin="yǒu">有</span><span data-word="" data-meaning="how many" data-pinyin="duōshǎo">多少</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="week" data-pinyin="xīngqī">星期</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
        <div class="pinyin">yīyuè yǒu duōshǎo gè xīngqī ？ </div>
        <div class="meaning">How many weeks are there in January?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="next" data-pinyin="xià">下</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="week" data-pinyin="xīngqī">星期</span><span data-word="" data-meaning="twenty five" data-pinyin="èrshíwǔ">二十五</span><span data-word="" data-meaning="years old" data-pinyin="suì">歲</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ xià gè xīngqī èrshíwǔ suì 。 </div>
        <div class="meaning">I will be twenty-five years old next week.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="every" data-pinyin="měi">每</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="week" data-pinyin="xīngqī">星期</span><span data-word="" data-meaning="all" data-pinyin="dōu">都</span><span data-word="" data-meaning="to need" data-pinyin="yào">要</span><span data-word="" data-meaning="to work" data-pinyin="gōngzuò">工作</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ měi gè xīngqī dōu yào gōngzuò 。 </div>
        <div class="meaning">I need to work every week.</div>
    </div>
    The synonym of <strong>星期 (xīngqī)</strong> is <strong>週 (zhōu)</strong>.
    <h2><strong>星期</strong> to form the weekday names##</h2>
    The weekday names in Chinese are compound words made up of <strong>星期 (xīngqī)</strong> and numbers from <strong>一 (yī)</strong> to <strong>六 (liù)</strong> (for Monday to Saturday) or <strong>日 (rì)</strong> (for Sunday)
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="Monday" data-pinyin="xīngqīyī">星期一</span><span data-word="" data-meaning="to " data-pinyin="dào">到</span><span data-word="" data-meaning="Friday" data-pinyin="xīngqīwǔ">星期五</span><span data-word="" data-meaning="all" data-pinyin="dōu">都</span><span data-word="" data-meaning="to need" data-pinyin="yào">要</span><span data-word="" data-meaning="to go to school" data-pinyin="shàngxué">上學</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ xīngqīyī dào xīngqīwǔ dōu yào shàngxué 。 </div>
        <div class="meaning">I go to school from Monday to Friday.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="gym" data-pinyin="jiànshēnfáng">健身房</span><span data-word="" data-meaning="every" data-pinyin="měi">每</span><span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span><span data-word="" data-meaning="Sunday" data-pinyin="xīngqīrì">星期日</span><span data-word="" data-meaning="all" data-pinyin="dōu">都</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="to close" data-pinyin="guānbì">關閉</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">jiànshēnfáng měi gè xīngqīrì dōu huì guānbì 。 </div>
        <div class="meaning">The gym closes on Sundays.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="to hate" data-pinyin="tǎoyàn">討厭</span><span data-word="" data-meaning="Wednesday" data-pinyin="xīngqīsān">星期三</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ tǎoyàn xīngqīsān 。 </div>
        <div class="meaning">I hate Wednesdays.</div>
    </div>
</div>

{% endblock %}