{
    title: "昨天",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 昨天 (zuótiān) </strong> means <em>yesterday</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="yesterday" data-pinyin="zuótiān">昨天</span><span data-word="" data-meaning="to see" data-pinyin="kàn">看</span><span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span><span data-word="" data-meaning="a" data-pinyin="yī">一</span><span data-word="" data-meaning="(classifier)" data-pinyin="tiáo">條</span><span data-word="" data-meaning="dragon" data-pinyin="lóng">龍</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ zuótiān kàn dào yī tiáo lóng 。 </div>
        <div class="meaning">I saw a dragon yesterday.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="he" data-pinyin="tā">他</span><span data-word="" data-meaning="yesterday" data-pinyin="zuótiān">昨天</span><span data-word="" data-meaning="to kill" data-pinyin="shā">殺</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="his" data-pinyin="tā de">他的</span><span data-word="" data-meaning="enemy" data-pinyin="dírén">敵人</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">tā zuótiān shā le tā de dírén 。 </div>
        <div class="meaning">He killed his enemy yesterday.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="yesterday" data-pinyin="zuótiān">昨天</span><span data-word="" data-meaning="already" data-pinyin="yǐjīng">已經</span><span data-word="" data-meaning="finish" data-pinyin="jiéshù">結束</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span><span data-word="" data-meaning="not to have" data-pinyin="méi">沒</span><span data-word="" data-meaning="anything" data-pinyin="shénme">什麼</span><span data-word="" data-meaning="can" data-pinyin="kěyǐ">可以</span><span data-word="" data-meaning="to do" data-pinyin="zuò">做</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">zuótiān yǐjīng jiéshù le ， nǐ xiànzài méi shénme kěyǐ zuò 。 </div>
        <div class="meaning">Yesterday is gone, you can do nothing now.</div>
    </div>
</div>

{% endblock %}