{
    title: "時間",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 時間 (shíjiān)</strong> is translated into <em>time</em>. More specifically, it refers to a period of time or the concept of time. The following is some examples with <strong> 時間 (shíjiān)</strong>:
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="not" data-pinyin="méi">沒</span><span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span><span data-word="" data-meaning="time" data-pinyin="shíjiān">時間</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span><span data-word="" data-meaning="to have to" data-pinyin="yào">要</span><span data-word="" data-meaning="to go" data-pinyin="zǒu">走</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">méi yǒu shíjiān le ， wǒ xiànzài yào zǒu le 。 </div>
        <div class="meaning">I don't have much time left, I have to go now.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="don't" data-pinyin="bié">別</span><span data-word="" data-meaning="to waste " data-pinyin="làngfèi">浪費</span><span data-word="" data-meaning="time" data-pinyin="shíjiān">時間</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="exam" data-pinyin="kǎoshì">考試</span><span data-word="" data-meaning="almost" data-pinyin="kuài">快</span><span data-word="" data-meaning="to arrive" data-pinyin="dào">到</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">bié làngfèi shíjiān ， kǎoshì kuài dào le 。 </div>
        <div class="meaning">Don't waste your time, exams are coming.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="to spend" data-pinyin="huā">花</span><span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span><span data-word="" data-meaning="very" data-pinyin="hěn">很</span><span data-word="" data-meaning="long " data-pinyin="cháng">長</span><span data-word="" data-meaning="time" data-pinyin="shíjiān">時間</span><span data-word="" data-meaning="to clean up" data-pinyin="dǎsǎo">打掃</span><span data-word="" data-meaning="house" data-pinyin="fángzǐ">房子</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ huā le hěn cháng shíjiān dǎsǎo fángzǐ 。 </div>
        <div class="meaning">I have spent so much time cleaning up the house.</div>
    </div>
    We should be careful not to mix <strong> 時間 (shíjiān)</strong> with <strong>時候 (shíhòu)</strong>. <strong>時候 (shíhòu)</strong> refers to a certain point of time. Here are some examples with <strong>時候 (shíhòu)</strong>:
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span><span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span><span data-word="" data-meaning="to go" data-pinyin="qù">去</span><span data-word="" data-meaning="Canada" data-pinyin="jiānádà">加拿大</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
        <div class="pinyin">nǐ shénme shíhòu qù jiānádà ？ </div>
        <div class="meaning">When are you going to Canada?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="sometimes" data-pinyin="yǒushíhòu">有時候</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="not" data-pinyin="bù">不</span><span data-word="" data-meaning="happy" data-pinyin="kāixīn">開心</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ yǒushíhòu huì bù kāixīn 。 </div>
        <div class="meaning">I am upset sometimes.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="Christmas" data-pinyin="shèngdànjié">聖誕節</span><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span><span data-word="" data-meaning="time" data-pinyin="shíhòu">時候</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="will" data-pinyin="huì">會</span><span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span><span data-word="" data-meaning="a lot of" data-pinyin="hěnduō">很多</span><span data-word="" data-meaning="chocolate" data-pinyin="qiǎokèlì">巧克力</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">shèngdànjié de shíhòu ， wǒ huì chī hěnduō qiǎokèlì 。 </div>
        <div class="meaning">I eat a lot of chocolate during Christmas times.</div>
    </div>
</div>

{% endblock %}