{
    title: "晚上好",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>晚上好 (wǎnshàng hǎo)</strong> means 
        <em>good evening</em>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="every" data-pinyin="gè">各</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="wèi">位</span>
                <span data-word="" data-meaning="gentleman" data-pinyin="xiānshēng">先生</span>
                <span data-word="" data-meaning="lady" data-pinyin="nǚshì">女士</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="good evening" data-pinyin="wǎnshànghǎo">晚上好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="show" data-pinyin="biǎoyǎn">表演</span>
                <span data-word="" data-meaning="about " data-pinyin="jíjiāng">即將</span>
                <span data-word="" data-meaning="to begin" data-pinyin="kāishǐ">開始</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">gè wèi xiānshēng nǚshì ， wǎnshànghǎo ， biǎoyǎn jíjiāng kāishǐ 。 </div>
        <div class="meaning">Good evening ladies and gentlemen, the show is about to begin.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="everyone" data-pinyin="gèwèi">各位</span>
                <span data-word="" data-meaning="good evening" data-pinyin="wǎnshàng hǎo">晚上好</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐmen">你們</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="ready" data-pinyin="zhǔnbèihǎo">準備好</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">gèwèi wǎnshàng hǎo ， nǐmen dōu zhǔnbèihǎo le ma ？ </div>
        <div class="meaning">Good evening everyone, are you all ready?</div>
    </div>
</div>

{% endblock %}