{
    title: "晚安",
    description: "A test article about the word 吧",
    hskLevel: 3,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>晚安 (wǎnān)</strong> means 
        <em>good night</em>. Here are some examples with 
        <strong>晚安 (wǎnān)</strong>:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to be going to" data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to sleep" data-pinyin="shuì">睡</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="good night" data-pinyin="wǎnān">晚安</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yào shuì le ， wǎnān 。 </div>
        <div class="meaning">I am going to bed, good night.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="tomorrow" data-pinyin="míngtiān">明天</span>
                <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                <span data-word="" data-meaning="to talk" data-pinyin="shuō">說</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="good night" data-pinyin="wǎnān">晚安</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">míngtiān zài shuō ， wǎnān 。 </div>
        <div class="meaning">Talk to you tomorrow, good night.</div>
    </div>

    <p>
        Some young people like to say 
        <strong>wǎnān</strong> to their lovers because it is like an acronym of  
        <strong>我愛你愛你 (wǒàinǐàinǐ)</strong>. So it actually kills two birds with one stone, isn't it practical?
    </p>
</div>

{% endblock %}