{
    title: "最",
    pinyin: "zuì",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <h2>Superlative Marker</h2>
    <span class="structure-hint"> 
        <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>&nbsp;+ adjective
    </span>

    <span class="structure-hint">     
        <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>&nbsp;+ verb
    </span>
    <p>
        <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>&nbsp;
        is used to mark superlatives, like <strong>“the most”</strong> or <strong>“-est”</strong> in English. It comes directly before the word you want to make superlative. 
    </p>
 
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="fast" data-pinyin="kuài">快</span>

            </span>
        </span>
        <div class="pinyin">zuì kuài </div>
        <div class="meaning">the fastest</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="cute" data-pinyin="kě'ài">可愛</span>
            </span>
        </span>
        <div class="pinyin">zuì kě'ài </div>
        <div class="meaning">the cutest</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Russia" data-pinyin="éluósī">俄羅斯</span>
                <span data-word="" data-meaning="to" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="the world" data-pinyin="shìjiè">世界</span>
                <span data-word="" data-meaning="on" data-pinyin="shàng">上</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                <span data-word="" data-meaning="" data-pinyin=".">。</span>
            </span>
        </span>
        <div class="pinyin">Éluósī shì shìjiè shàng zuì dà de guójiā . </div>
        <div class="meaning">Russia is the biggest country in the world.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="in" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="friends" data-pinyin="péngyǒu">朋友</span>
                <span data-word="" data-meaning="among" data-pinyin="qízhōng">其中</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="intelligent" data-pinyin="cōngmíng">聰明</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Zài wǒ péngyǒu qízhōng,  nǐ shì zuì cōngmíng de.</div>
        <div class="meaning">Out of all of my friends, you are the smartest.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="are" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="choir" data-pinyin="héchàngtuán">合唱團</span>
                <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                <span data-word="" data-meaning="most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="can" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="sing" data-pinyin="chàng">唱</span>
                <span data-word="" data-meaning="(objectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Nǐ shì héchàngtuán lǐ zuì huì chàng de.</div>
        <div class="meaning">You are the most capable singer in the choir.</div>
    </div>

    <p>
        Adding 
        <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
        to the end will emphasize it even more. This is optional and most often heard in speech.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="to miss" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zuì xiǎng nǐ le 。 </div>
        <div class="meaning">I missed you the most.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="My" data-pinyin="wǒde">我的</span>
                <span data-word="" data-meaning="boyfriend" data-pinyin="nánpéngyǒu">男朋友</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="handsome" data-pinyin="shuài">帥</span>
                <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Wǒde nánpéngyǒu zuì shuài le!</div>
        <div class="meaning">My boyfriend is the most handsome!
        </div>
    </div>

</div>

{% endblock %}