    {
    title: "有",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p> 
        <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span> 
        most often indicates possession, like <strong>“have”</strong> in English. It also often indicates existence.
    </p>

    <h2>Possession</h2>
    <span class="structure-hint">subject + <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>&nbsp;+ object</span>        

    <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                    <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                    <span data-word="" data-meaning="many" data-pinyin="duō">多</span>
                    <span data-word="" data-meaning="spoons" data-pinyin="tāngchí">湯匙</span>
                    <span data-word="" data-meaning="" data-pinyin="">。</span>
                </span>
            </span>
            <div class="pinyin">Wǒ yǒu hěn duō tāngchí.</div>
            <div class="meaning">I have many spoons.</div>
        </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="vehicle" data-pinyin="chē">車</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="four" data-pinyin="sì">四</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="wheel" data-pinyin="chēlún">車輪</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">chē yǒu sì ge chēlún.</div>
        <div class="meaning">A vehicle has four wheels.</div>
    </div>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="handsome" data-pinyin="shuài">帥</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="son" data-pinyin="érzi">兒子</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yǒu ge hěn shuài de érzi 。 </div>
        <div class="meaning">I have a very handsome son.</div>
    </div>
   
    <h3>Negation</h3>
    <p>
        Note that 
        <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
        is always negated with
        <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>,
        rather than
        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>.
    </p>    
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="many" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="spoons" data-pinyin="tāngchí">湯匙</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ méi yǒu hěn duō tāngchí.</div>
        <div class="meaning">I don't have many spoons.</div>
    </div>

    <h2>Existence</h2>

    <p>
        <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
        can show the existence of an object in a place. Like saying, "There  is . . . at place" in English; but in Chinese, the place comes first.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="library" data-pinyin="túshūguǎn">圖書館</span>
                <span data-word="" data-meaning="in" data-pinyin="lǐ">裡</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier for books)" data-pinyin="běn">本</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="old" data-pinyin="jiù">舊</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="book" data-pinyin="shū">書</span>
            </span>
        </span>
        <div class="pinyin">túshūguǎn lǐ yǒu yī běn hěn jiù de shū</div>
        <div class="meaning">There is a very old book in the library.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="U.S.A." data-pinyin="měiguó">美國</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="middle part" data-pinyin="zhōngbù">中部</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="many" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="farms" data-pinyin="nóngchǎn">農產</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Měiguó de zhōngbù yǒu hěn duō nóngchǎn.</div>
        <div class="meaning"></div>
    </div>

    <p>
        Just like with places, this can also be used when talking about time, as in  “There was . . . yesterday.”
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="last" data-pinyin="shàng">上</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="week" data-pinyin="lǐbài">禮拜</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="fun" data-pinyin="hǎowán">好玩</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="activity" data-pinyin="huódòng">活動</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
                
            </span>
        </span>
        <div class="pinyin">Shàng ge lǐbài yǒu yī ge hěn hǎowán de huódòng.</div>
        <div class="meaning"></div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="yesterday" data-pinyin="zuótiān">昨天</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="person" data-pinyin="rén">人</span>
                <span data-word="" data-meaning="come" data-pinyin="lái">來</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                <span data-word="" data-meaning="house" data-pinyin="jiā">家</span>
                <span data-word="" data-meaning="sell" data-pinyin="mài">賣</span>
                <span data-word="" data-meaning="give" data-pinyin="gěi">給</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="cookies" data-pinyin="bǐngqián">餅乾</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
                
            </span>
        </span>
        <div class="pinyin">Zuótiān yǒu rén lái wǒde jiā mài gěi wǒ bǐngqián.</div>
        <div class="meaning"></div>
    </div>

    <h3>Portions</h3> 
    
    <span class="structure-hint">(whole group) + 
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                    <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                </span>
            </span>&nbsp;+ (portion of group)
    </span>

    <p>
        When 
        <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
        comes before
        <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>,
        the pairing emulates the "x out of y things" structure in English. But in Chinese, "y" (the whole group) comes first.
    </p>
    <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="these" data-pinyin="zhè">這</span>
                    <span data-word="" data-meaning="four" data-pinyin="sì">四</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                    <span data-word="" data-meaning="people" data-pinyin="rén">人</span>
                    <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                    <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                    <span data-word="" data-meaning="thief" data-pinyin="xiǎotōu">小偷</span>
                    <span data-word="" data-meaning="" data-pinyin="">。</span>
                </span>
            </span>
            <div class="pinyin">Zhè sì ge rén lǐ yǒu yī ge xiǎotōu.</div>
            <div class="meaning">One of these four people is a thief.</div>
        </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="every" data-pinyin="měi">每</span>
                <span data-word="" data-meaning="five" data-pinyin="wǔ">五</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="doctors" data-pinyin="yīshēng">醫生</span>
                <span data-word="" data-meaning="inside" data-pinyin="lǐ">裡</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="four" data-pinyin="sì">四</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="say" data-pinyin="shuō">說</span>
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="brand" data-pinyin="pái">牌</span>
                <span data-word="" data-meaning="toothpaste" data-pinyin="yágāo">牙膏</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="good" data-pinyin="hǎo">好</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>        
            </span>
        </span>
        <div class="pinyin">Měi wǔ ge yīshēng lǐ yǒu sì ge shuō zhè pái yágāo zuì hǎo.</div>
        <div class="meaning">Four out of every five doctors says this brand of toothpaste is the best.</div>
    </div>
    
    <h2>Adding measurements</h2>
    <p>
        <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>&nbsp;
        can also be used to connect a subject to various kinds of measurements like weight or length.
    </p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="human" data-pinyin="rén">人</span>
                <span data-word="" data-meaning="brain" data-pinyin="nǎo">腦</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="point" data-pinyin="diǎn">點</span>
                <span data-word="" data-meaning="three" data-pinyin="sān">三</span>
                <span data-word="" data-meaning="kilograms" data-pinyin="gōngjīn">公斤</span>
                <span data-word="" data-meaning="heavy" data-pinyin="zhòng">重</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Rén nǎo yǒu yī diǎn sān gōngjīn zhòng.</div>
        <div class="meaning">The human brain weighs 1.3 kilograms.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="(classifier for roads)" data-pinyin="tiáo">條</span>
                <span data-word="" data-meaning="road" data-pinyin="lù">路</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="three" data-pinyin="sān">三</span>
                <span data-word="" data-meaning="hundred" data-pinyin="bǎi">百</span>
                <span data-word="" data-meaning="kilometers" data-pinyin="gōnglǐ">公里</span>
                <span data-word="" data-meaning="approximately" data-pinyin="zuǒyòu">左右</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Zhè tiáo lù yǒu sān bǎi gōnglǐ zuǒyòu.</div>
        <div class="meaning">This road is approximately 3 kilometers long.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="fish" data-pinyin="yú">魚</span>
                <span data-word="" data-meaning="brain" data-pinyin="nǎo">腦</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="how much" data-pinyin="duō">多</span>
                <span data-word="" data-meaning="heavy" data-pinyin="zhòng">重</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>                
            </span>
        </span>
        <div class="pinyin">Yú nǎo yǒu duō zhòng?</div>
        <div class="meaning">How heavy is a fish’s brain?</div>
    </div>

    <h2>Comparing things</h2>

    <p>
        <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
        can be used to compare one thing to another.
    </p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="that" data-pinyin="nàme">那麼</span>
                <span data-word="" data-meaning="high" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Wǒ yǒu nǐ nàme gāo!</div>
        <div class="meaning">I have the same height as you!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                <span data-word="" data-meaning="expression" data-pinyin="liǎnsè">臉色</span>
                <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                <span data-word="" data-meaning="have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="his" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="that" data-pinyin="nàme">那麼</span>
                <span data-word="" data-meaning="serious" data-pinyin="yánzhòng">嚴重</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>                
            </span>
        </span>
        <div class="pinyin">Nǐ de liǎnsè méi yǒu tā nàme yánzhòng.</div>
        <div class="meaning">Your expression isn’t as stern as his.</div>
    </div>
</div>

{% endblock %}