{
    title: "歲",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <h2>
        <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>&nbsp;to state age
    </h2>
    <span class="structure-hint">subject + number + 
        <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>
    </span>
    <p>
        <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>&nbsp;
        is used to express age. It works the same way as “years old” in English, as in, “I am 10 years old.” However, in Chinese, a linking verb like “am” is not necessary.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="ten" data-pinyin="shí">十</span>
                <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ shí suì. </div>
        <div class="meaning">I am 10 years old.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="already" data-pinyin="yǐjīng">已經</span>
                <span data-word="" data-meaning="thirty" data-pinyin="sānshí">三十</span>
                <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>
                <span data-word="" data-meaning="(change-of-state particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="still" data-pinyin="hái">還</span>
                <span data-word="" data-meaning="cannot" data-pinyin="bùdǒng">不懂</span>
                <span data-word="" data-meaning="oneself" data-pinyin="zìjǐ">自己</span>
                <span data-word="" data-meaning="take care of" data-pinyin="zhàogù">照顧</span>
                <span data-word="" data-meaning="oneself" data-pinyin="zìjǐ">自己</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā yǐjīng sānshí suì le, hái bùdǒng zìjǐ zhàogù zìjǐ.</div>
        <div class="meaning">He is already 30 years old but still can't take care of himself.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="soon" data-pinyin="kuài">快</span>
                <span data-word="" data-meaning="twenty-five" data-pinyin="èrshíwǔ">二十五</span>
                <span data-word="" data-meaning="years old" data-pinyin="suì">歲</span>
                <span data-word="" data-meaning="(change-of-state particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ kuài èrshíwǔ suì le.</div>
        <div class="meaning">I am turning 25 years old soon.</div>
    </div>

    <h2>Asking age</h2>
    <p>
        To ask someone’s age, use the question word 
        <span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span>. 
    </p>
       
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="maternal grandfather" data-pinyin="wàigōng">外公</span>
                <span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span>
                <span data-word="" data-meaning="years of age" data-pinyin="suì">歲</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Wàigōng jǐ suì?</div>
        <div class="meaning">How old is grandfather?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="look" data-pinyin="kànqǐlái">看起來</span>
                <span data-word="" data-meaning="quite" data-pinyin="pō">頗</span>
                <span data-word="" data-meaning="young" data-pinyin="niánqīng">年輕</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span>
                <span data-word="" data-meaning="years of age" data-pinyin="suì">歲</span>
                <span data-word="" data-meaning="(emphasizing particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ kànqǐlái pō niánqīng ， nǐ jǐ suì le ？ </div>
        <div class="meaning">You look quite young. How old are you?</div>
    </div>
{% endblock %}