{
    title: "比",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}


<div class="container">

    

    <h2>
        <span data-word="" data-meaning="to compare " data-pinyin="bǐ">比</span>&nbsp;
        as a comparative particle
    </h2>
    <span class="structure-hint"> A +  <span data-word="" data-meaning="to compare " data-pinyin="bǐ">比</span>&nbsp;+ B + adjective</span> 
    <span class="structure-hint"> A +  <span data-word="" data-meaning="to compare " data-pinyin="bǐ">比</span>&nbsp;+ B + adverb</span>
    </span>
    
    <p>
        <span data-word="" data-meaning="to compare " data-pinyin="bǐ">比</span> 
        is used to compare a quality of two things. Like saying, “The tree is taller than the house” in English. In Chinese, however, the quality - in this case, “tall” - comes at the end of the sentence.
    </p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier for trees)" data-pinyin="kē">棵</span>
                <span data-word="" data-meaning="tree" data-pinyin="shù">樹</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="house" data-pinyin="fángzǐ">房子</span>
                <span data-word="" data-meaning="tall" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Nà kē shù bǐ nà ge fángzǐ gāo. </div>
        <div class="meaning">That tree is taller than that house.</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="China" data-pinyin="zhōngguó">中國</span>
                <span data-word="" data-meaning="(comparative preposition)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="Japan" data-pinyin="rìběn">日本</span>
                <span data-word="" data-meaning="large" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Zhōngguó bǐ rìběn dà.</div>
        <div class="meaning">China is larger than Japan.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="drink" data-pinyin="hē">喝</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="brandy" data-pinyin="báilándì">白蘭地</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="yours" data-pinyin="nǐde">你的</span>
                <span data-word="" data-meaning="strong" data-pinyin="liè">烈</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ hē de báilándì bǐ nǐde liè 。 </div>
        <div class="meaning">The brandy I drank was stronger than the one you drank.</div>
    </div>

    <p>You can also compare how two different things or people perform an action:</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="run" data-pinyin="pǎo">跑</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="fast" data-pinyin="kuài">快</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ pǎo de bǐ nǐ kuài. </div>
        <div class="meaning">I run faster than you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="see" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="far" data-pinyin="yuǎn">遠</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ kàn de bǐ nǐ yuǎn. </div>
        <div class="meaning">I can see further than you.</div>
    </div>
    <p>
        When we are comparing the subjects of the same action, you can rearrange the sentence so that the subjects both come before the action.
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="run" data-pinyin="pǎo">跑</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="fast" data-pinyin="kuài">快</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ bǐ nǐ pǎo de kuài.</div>
        <div class="meaning">I run faster than you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="see" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="(complementing particle)" data-pinyin="de">得</span>
                <span data-word="" data-meaning="far" data-pinyin="yuǎn">遠</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ bǐ nǐ kàn de yuǎn.</div>
        <div class="meaning">I can see further than you.</div>
    </div>
    
    <p>
        You can also add <em>degrees</em> to the qualities you are comparing: 
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span>
                <span data-word="" data-meaning="tea" data-pinyin="chá">茶</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="yours" data-pinyin="nǐde">你的</span>
                <span data-word="" data-meaning="bitter" data-pinyin="kǔ">苦</span>
                <span data-word="" data-meaning="much" data-pinyin="duō" class="underlined">多</span>
                <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le" class="underlined">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ de chá bǐ nǐ de kǔ <em>duō le</em>.</div>
        <div class="meaning">My tea is <em>way more</em> bitter than yours.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="rent" data-pinyin="zūjīn">租金</span>
                <span data-word="" data-meaning="(comparative particle)" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="yours" data-pinyin="nǐ de">你的</span>
                <span data-word="" data-meaning="expensive" data-pinyin="guì">貴</span>
                <span data-word="" data-meaning="300 " data-pinyin="sānbǎi"class="underlined">三百</span>
                <span data-word="" data-meaning="buck" data-pinyin="kuài"class="underlined">塊</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ de zūjīn bǐ nǐ de guì <em>sānbǎi kuài</em>.</div>
        <div class="meaning">My rent is <em>300 dollars</em> more expensive than yours.</div>
    </div>

    <h2>
        <span data-word="" data-meaning="(comparative preposition)" data-pinyin="bǐ">比</span>&nbsp;
        used in scores or ratios
    </h2>
    <p><span data-word="" data-meaning="(comparative preposition)" data-pinyin="bǐ">比</span> can be used to compare scores or state ratios, similar to <strong>"to"</strong> or <strong>":"</strong> in English.</p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Germany" data-pinyin="déguó">德國</span>
                <span data-word="" data-meaning="by means of" data-pinyin="yǐ">以</span>
                <span data-word="" data-meaning="seven" data-pinyin="qī">七</span>
                <span data-word="" data-meaning="to " data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="beat" data-pinyin="dǎbài">打敗</span>
                <span data-word="" data-meaning="Brazil" data-pinyin="bāxī">巴西</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Déguó yǐ qī bǐ yī dǎbài bāxī.</div>
        <div class="meaning">Germany beat Brazil by 7 to 1.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="to think" data-pinyin="juéde">覺得</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span>
                <span data-word="" data-meaning="to" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span>
                <span data-word="" data-meaning="(question marker)" data-pinyin="ne">呢</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ juéde huì jǐ bǐ jǐ ne?</div>
        <div class="meaning">What do think the score will be?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="vegetable" data-pinyin="shūcài">蔬菜</span>
                <span data-word="" data-meaning="to" data-pinyin="yǔ">與</span>
                <span data-word="" data-meaning="meat" data-pinyin="ròu">肉</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="ratio" data-pinyin="bǐlì">比例</span>
                <span data-word="" data-meaning="should" data-pinyin="yīnggāi">應該</span>
                <span data-word="" data-meaning="around" data-pinyin="dàgài">大概</span>
                <span data-word="" data-meaning="three" data-pinyin="sān">三</span>
                <span data-word="" data-meaning="to " data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Shūcài yǔ ròu de bǐlì yīnggāi dàgài sān bǐ yī. </div>
        <div class="meaning">The vegetable to meat consumption ratio should be around 3 to 1.</div>
    </div>

    <h2>
        <span data-word="" data-meaning="to " data-pinyin="bǐ">比</span>&nbsp;
        as "ratio"
    </h2>
    <p> 
        Along with expressing ratios, <span data-word="" data-meaning="to " data-pinyin="bǐ">比</span> can be used to express the word <strong>“ratio”</strong> itself.
    </p>        
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="perfect" data-pinyin="wánměi">完美</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="" data-pinyin="「">「</span>
                <span data-word="" data-meaning="rice" data-pinyin="mǐ">米</span>
                <span data-word="" data-meaning="water" data-pinyin="shuǐ">水</span>
                <span data-word="" data-meaning="" data-pinyin="」">」</span>
                <span data-word="" data-meaning="ratio" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="how many" data-pinyin="duōshǎo">多少</span>
                <span data-word="" data-meaning="(question particle)" data-pinyin="ne">呢</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">Zuì wánměi de 「 mǐ shuǐ 」 bǐ shì duōshǎo ne?</div>
        <div class="meaning">What is the perfect ratio of rice to water?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="two" data-pinyin="èr">二</span>
                <span data-word="" data-meaning="to" data-pinyin="yǔ">與</span>
                <span data-word="" data-meaning="four" data-pinyin="sì">四</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="ratio" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="equal to" data-pinyin="děngyú">等於</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="to" data-pinyin="yǔ">與</span>
                <span data-word="" data-meaning="two" data-pinyin="èr">二</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="ratio" data-pinyin="bǐ">比</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Èr yǔ sì de bǐ děngyú yī yǔ èr de bǐ.</div>
        <div class="meaning">The ratio of 2 to 4 equals to that of 1 to 2.</div>
    </div>
</div>

{% endblock %}