{
    title: "的",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <p>
        <strong>的 (de)</strong> is one of the most frequent words in Chinese. It has two major functions: adjectivizing and nominalizing, meaning that 
        <strong>的 (de)</strong> can make a sentence constituent function like an adjective or a noun.
    </p>

    <h2>
        <strong>的</strong> as an adjectivizing particle 
    </h2>

    <p>
        It serves to connect a noun/noun phrase with its modifier. Modifiers come in all types and forms, which could be nouns, pronouns, verbs and adjectives, etc. By adding 
        <strong>的 (de)</strong> after, we make them function like an adjective which is usually put before a noun. In other words, 
        <strong>的 (de)</strong> 'adjectivizes' modifiers, which makes them 'ready' to modify their nouns.
        <br/>We simply put 
        <strong>的 (de)</strong> between a modifier and its noun like in the following:
        <br/>
        <strong>modifier + 的 + head noun</strong>
        <br/>Now we will go through some of the most common modifier types:
    </p>
   
    <h3>Nouns/noun phrases as modifiers</h3>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="clothes" data-pinyin="yīfú">衣服</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">māma de yīfú 。 </div>
        <div class="meaning">Mum's clothes.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánhái">男孩</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="dog" data-pinyin="gǒu">狗</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nà ge nánhái de gǒu 。 </div>
        <div class="meaning">That boy's dog.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="jiàn">件</span>
                <span data-word="" data-meaning="to wear" data-pinyin="chuān">穿</span>
                <span data-word="" data-meaning="red" data-pinyin="hóngsè">紅色</span>
                <span data-word="" data-meaning="clothes" data-pinyin="yīfú">衣服</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="girl" data-pinyin="nǚhái">女孩</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="coat" data-pinyin="wàitào">外套</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nà jiàn chuān hóngsè yīfú de nǚhái de wàitào 。 </div>
        <div class="meaning">The coat from the girl who is wearing a red dress.</div>
    </div>
    
    <h3>Pronouns as modifiers</h3>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="book" data-pinyin="shū">書</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ de shū 。 </div>
        <div class="meaning">My book.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="mobile phone" data-pinyin="shǒujī">手機</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā de shǒujī 。 </div>
        <div class="meaning">Her mobile phone.</div>
    </div>

    <h3>Verbs/Verb phrases as modifiers</h3>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to come" data-pinyin="lái">來</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="car" data-pinyin="chē">車</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="to come" data-pinyin="lái">來</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">lái de chē dōu lái le 。 </div>
        <div class="meaning">The incoming cars are all already here.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="thing" data-pinyin="dōngxi">東西</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen méi yǒu chī de dōngxi le 。 </div>
        <div class="meaning">We don't have any edible things anymore.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="to wear" data-pinyin="chuān">穿</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="clothes" data-pinyin="yīfú">衣服</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="verb" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="expensive" data-pinyin="guì">貴</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">māma chuān de yīfú dōu hěn guì 。 </div>
        <div class="meaning">All the clothes mother wears are expensive.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="already" data-pinyin="yǐjīng">已經</span>
                <span data-word="" data-meaning="to break" data-pinyin="dǎpò">打破</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="vase" data-pinyin="huāpíng">花瓶</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhè shì yǐjīng dǎpò de huāpíng 。 </div>
        <div class="meaning">This is the broken vase.</div>
    </div>

    <h3>Adjectives/ Adjective phrases as modifiers</h3>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="white" data-pinyin="báisè">白色</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="sand" data-pinyin="shā">沙</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān báisè de shā 。 </div>
        <div class="meaning">I love white sand.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I " data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="to give birth" data-pinyin="shēng">生</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="cute" data-pinyin="kěài">可愛</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="child" data-pinyin="háizi">孩子</span>
                <span data-word="" data-meaning="" data-pinyin="！">！</span>
            </span>
        </span>
        <div class="pinyin">wǒ huì shēng yī gè kěài de háizi ！ </div>
        <div class="meaning">I will have a cute baby!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="happy" data-pinyin="kuàilè">快樂</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="girl" data-pinyin="nǚhái">女孩</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā shì yī gè hěn kuàilè de nǚhái 。 </div>
        <div class="meaning">She is a very happy girl.</div>
    </div>

   <p> 
        Note that we define 
        <strong>的 (de)</strong> as a 'adjectivizing particle' even when its modifier is an adjective because we use it as a general term for non-adjective modifiers as well.
        <br/>
    </p>

    <h3>Omission of 
        <strong>的 (de)</strong> 
    </h3>

    <p>
        Sometimes we can omit the particle 
        <strong>的 (de)</strong> between a pronoun modifier and its noun.
        <br/>
        <strong>pronoun + noun </strong>
        <br/>The omission of 
        <strong>的 (de)</strong> is possible in the situations below:
        <br/>1.To express close relationships
        <br/>
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="wǒ">你</span>
                <span data-word="" data-meaning="brother" data-pinyin="gēge">哥哥</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ gēge 。 </div>
        <div class="meaning">Your brother.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="Teacher" data-pinyin="lǎoshī">老師</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ lǎoshī 。 </div>
        <div class="meaning">My teacher.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="his" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="neighbor" data-pinyin="línjū">鄰居</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā línjū 。 </div>
        <div class="meaning">His neighbor. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="home" data-pinyin="jiā">家</span>
                <span data-word="" data-meaning="or" data-pinyin="háishì">還是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="home" data-pinyin="jiā">家</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ jiā háishì wǒ jiā ？ </div>
        <div class="meaning">Your place or my place?</div>
    </div>

    <p>
        2.To express relationships with an organisation
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="hospital" data-pinyin="yīyuàn">醫院</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yīyuàn hěn dà 。 </div>
        <div class="meaning">My hospital is big.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="company" data-pinyin="gōngsī">公司</span>
                <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="Norway" data-pinyin="nuówēi">挪威</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ gōngsī zài nuówēi 。 </div>
        <div class="meaning">My company is in Norway.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="school" data-pinyin="xuéxiào">學校</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="close" data-pinyin="jìn">近</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xuéxiào hěn jìn 。 </div>
        <div class="meaning">My school is close by.</div>
    </div>

    <p>
        3.When the modifier is a single syllabic adjective
        <br/>Sometimes the we can skip 
        <strong>的 (de)</strong> when an modifier is a single syllabic adjective, like this:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="only" data-pinyin="zhǐ ">只</span>
                <span data-word="" data-meaning="to know" data-pinyin="rènshí">懂</span>
                <span data-word="" data-meaning="expensive" data-pinyin="guì">貴</span>
                <span data-word="" data-meaning="brand" data-pinyin="páizi">牌子</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tā zhǐ  rènshí guì páizi 。 </div>
        <div class="meaning">She only knows expensive brands.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to want " data-pinyin="yào">要</span>
                <span data-word="" data-meaning="to buy" data-pinyin="mǎi">買</span>
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="big" data-pinyin="dà">大</span>
                <span data-word="" data-meaning="house" data-pinyin="fángzi">房子</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ yào mǎi yī gè dà fángzi 。 </div>
        <div class="meaning">I want to buy a big house.</div>
    </div>

    <p>
        Beware however, that this rule does not always apply. In the following examples, omitting 
        <strong>的 (de)</strong> still sounds unnatural:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="tall" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánshēng">男生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān gāo nánshēng 。 </div>
        <div class="meaning"></div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="tall" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánshēng">男生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān gāo de nánshēng 。 </div>
        <div class="meaning">I love tall guys.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="short" data-pinyin="ǎi">矮</span>
                <span data-word="" data-meaning="girl" data-pinyin="nǚshēng">女生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān ǎi nǚshēng 。 </div>
        <div class="meaning"></div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="short" data-pinyin="ǎi">矮</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="girl" data-pinyin="nǚshēng">女生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ xǐhuān ǎi de nǚshēng 。 </div>
        <div class="meaning">I love short girls.</div>
    </div>

    <p>
        It appears that the rules for the omission of 
        <strong>的 (de)</strong> still needs further discussion. One thing for sure is that adding the particle 
        <strong>的 (de)</strong> between modifiers and their nouns is always correct. Therefore, if you are not sure about whether to drop it or not, you could simply just use it all the time! 
    </p>

    <h2>
        <strong>的</strong> as a nominalizing particle 
    </h2>

    <p>
        Besides adjectives, 
        <strong>的 (de)</strong> can also be added to non-nominal sentence particles and make them function like a noun. It produces structures like 
        <em>the one who...</em>,  
        <em>the ...one</em> or 
        <em>what... is</em> in English. Same as when it is an adjectivizing particle, 
        <strong>的 (de)</strong> as a nominalizing particle is so versatile that it can come with words of quite various part of speeches. The most common ones that 
        <strong>的 (de)</strong> nominalizes are adjectives, verbs and clauses.
    </p>
    
    <h3>
        <strong>的</strong> nominalizing adjectives 
    </h3>

    <p>
        <strong>adjective + 的 </strong>
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="hard-working " data-pinyin="qínfèn">勤奮</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="to get" data-pinyin="qǔdé">取得</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="high" data-pinyin="gāo">高</span>
                <span data-word="" data-meaning="score" data-pinyin="fēn">分</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zuì qínfèn de huì qǔdé zuì gāo fēn 。 </div>
        <div class="meaning">The most hard-working one will get the the highest score.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="punctual" data-pinyin="zhǔnshí">準時</span>
                <span data-word="" data-meaning="(nominalizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="can" data-pinyin="néng">能</span>
                <span data-word="" data-meaning="to enter" data-pinyin="jìnrù">進入</span>
                <span data-word="" data-meaning="next" data-pinyin="xià">下</span>
                <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="round" data-pinyin="huí">回</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">zhǔnshí de dōu néng jìnrù xià yī huí 。 </div>
        <div class="meaning">Those who were punctual could all get into the next round.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="naughty" data-pinyin="wánpí">頑皮</span>
                <span data-word="" data-meaning="(nominalizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="student" data-pinyin="xuéshēng">學生</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wánpí de bù shì wǒ de xuéshēng 。 </div>
        <div class="meaning">The naughty ones are not my students.</div>
    </div>

    <h3><strong>的</strong> nominalizing verbs</h3>

    <p><strong>verb + 的 </strong></p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to lie" data-pinyin="sāhuǎng">撒謊</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="to get" data-pinyin="shòu">受</span>
                <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                <span data-word="" data-meaning="punishment" data-pinyin="chǔfá">處罰</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">sāhuǎng de dōu huì shòu dào chǔfá 。 </div>
        <div class="meaning">Those who lied will be punished.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to escape" data-pinyin="táozǒu">逃走</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="betrayer" data-pinyin="pàntú">叛徒</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">táozǒu de shì pàntú 。 </div>
        <div class="meaning">Those who escaped are betrayers.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="to dance" data-pinyin="tiàowǔ">跳舞</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="sister" data-pinyin="jiějie">姐姐</span>
                <span data-word="" data-meaning="" data-pinyin="，">，</span>
                <span data-word="" data-meaning="to sing" data-pinyin="chànggē">唱歌</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="brother" data-pinyin="gēge">哥哥</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">tiàowǔ de shì wǒ de jiějie ， chànggē de shì wǒ gēge 。 </div>
        <div class="meaning">The one who dances is my sister and the one who sings is my brother.</div>
    </div>
    
    <h3>
        <strong>的</strong> nominalizing clauses
    </h3>

    <p>
        <strong>clause + 的 </strong>
    </p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ zuì xǐhuān de shì nǐ 。 </div>
        <div class="meaning">The one I like most is you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to say" data-pinyin="shuō">說</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="to become" data-pinyin="chéng">成</span>
                <span data-word="" data-meaning="true" data-pinyin="zhēn">真</span>
                <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ shuō de chéng zhēn le 。 </div>
        <div class="meaning">What I said have come true.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="to steal" data-pinyin="tōu">偷</span>
                <span data-word="" data-meaning="(nominalizing particle) " data-pinyin="de">的</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="rubbish" data-pinyin="lājī">垃圾</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ tōu de dōu shì lājī 。 </div>
        <div class="meaning">What I have stolen were all rubbish.</div>
    </div>
</div>

{% endblock %}