{
    title: "的",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
        <p><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> is a very common particle, used primarily to attach descriptions to what they’re describing.</p>
            
        <h2>Basic descriptions</h2>

    <p>
        Let’s take a look at a <span data-word="" data-meaning="man" data-pinyin="">男人</span> “man.” We know nothing about him - what he looks like, acts like, and so forth . We can add <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
        to the end of some descriptions and put them before <span data-word="" data-meaning="man" data-pinyin="">男人</span>.
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="very" data-pinyin="hěn"class="bold">很</span>
                <span data-word="" data-meaning="tall" data-pinyin="gāo"class="bold">高</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de"class="bold">的</span>
                <span data-word="" data-meaning="man" data-pinyin="nánrén">男人</span>                
            </span>
        </span>
        "very tall man."
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="kind" data-pinyin="shànliáng"class="bold">善良</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de"class="bold">的</span>
                <span data-word="" data-meaning="man" data-pinyin="nánrén">男人</span>            
            </span>
        </span>
        "kind man."
    </p>

        <p>This is the fundamental function of <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> - connecting descriptions to things. Throughout the website it, you’ll see it called the “(adjectivizing particle),” because that’s precisely what it does - turns words or phrases into adjectives and links them to a head noun.</p>

        [adj. + <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>]

        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="white" data-pinyin="báisè">白色</span>
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="sand" data-pinyin="shā">沙</span>
                </span>
            </span>
            <div class="pinyin">báisè de shā</div>
            <div class="meaning">white sand</div>
        </div>

        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                    <span data-word="" data-meaning="long" data-pinyin="cháng">長</span>
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="river" data-pinyin="héliú">河流</span>
                </span>
            </span>
            <div class="pinyin">zuì cháng de héliú</div>
            <div class="meaning">the longest river</div>
        </div>
        
            <div class="example-sentence">
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                        <span data-word="" data-meaning="is" data-pinyin="shì">是</span>
                        <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                        <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                            <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                        <span data-word="" data-meaning="happy" data-pinyin="kuàilè">快樂</span>
                        <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                        <span data-word="" data-meaning="girl" data-pinyin="nǚhái">女孩</span>
                        <span data-word="" data-meaning="" data-pinyin="。">。</span>
                    </span>
                </span>
                <div class="pinyin">Tā shì yī gè hěn kuàilè de nǚhái. </div>
                <div class="meaning">She is a very happy girl.</div>
            </div>


    <h2>Showing ownership</h2>

    <p>
        Nouns can be descriptions, too. Let’s take 
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                    <span data-word="" data-meaning="man" data-pinyin="nánrén">男人</span>     
                </span>
            </span>
        “that man” from before, but we’ll add
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                    <span data-word="" data-meaning="man" data-pinyin="nánrén">男人</span>      
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="guitar" data-pinyin="jítā">吉他</span>
                </span>
            </span>
        “that man’s guitar.” This time, the guitar is the main subject of focus, while 
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="man" data-pinyin="nánrén">男人</span>      
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                </span>
            </span>
        "man’s" is a description of the guitar and shows the guitar belongs to him.</p>
    </p>

    <p>Essentially, when placed after a noun, <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> acts like a possessive “ ‘s ” in English.</p>
    
    <p>[noun + <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> ]</p>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Mother" data-pinyin="māma">媽媽</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="clothes" data-pinyin="yīfú">衣服</span>
            </span>
        </span>
        <div class="pinyin">Māma de yīfú </div>
        <div class="meaning">Mom's clothes</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="that" data-pinyin="nà">那</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="ge">個</span>
                <span data-word="" data-meaning="boy" data-pinyin="nánhái">男孩</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="dog" data-pinyin="gǒu">狗</span>
            </span>
        </span>
        <div class="pinyin">Nà ge nánhái de gǒu</div>
        <div class="meaning">That boy's dog</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Susan" data-pinyin="sūshān">蘇珊</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="hair" data-pinyin="tóufà">頭髮</span>
                <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="long" data-pinyin="cháng">長</span>
            </span>
        </span>
        <div class="pinyin">sūshān de tóufà hěn cháng.</div>
        <div class="meaning">Susan's hair is very long.</div>
    </div>


    <p>The same goes for pronouns, as well, like <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span> "I" becoming <span data-word="" data-meaning="my" data-pinyin="wǒde">我的</span> "my," <span data-word="" data-meaning="she" data-pinyin="tā">她</span> she" becoming <span data-word="" data-meaning="her" data-pinyin="tā">她的</span> "her," 
    <span data-word="" data-meaning="his mom" data-pinyin="tāmā">他媽</span> "his mom" becoming 
    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="tāmāde">他媽的</span> "his mother's," etc.

    <p>[pronoun + <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span> ]</p>
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="book" data-pinyin="shū">書</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒ de shū. </div>
        <div class="meaning">my book</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="nose" data-pinyin="bízi">鼻子</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nǐ de bízi</div>
        <div class="meaning">your nose</div>
    </div>

    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="mobile phone" data-pinyin="shǒujī">手機</span>
                <span data-word="" data-meaning="break" data-pinyin="huàidiào">壞掉</span>
                <span data-word="" data-meaning="(completed action particle)" data-pinyin="le">了</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā de shǒujī huàidiào le. </div>
        <div class="meaning">Her mobile phone broke.</div>
    </div>


</div>

{% endblock %}