{
    title: "號碼",
    description: "A test article about the word 吧",
    hskLevel: 4,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">

    <p>
        <strong>號碼 (hàomǎ)</strong> means 
        <em>number</em>. Unlike 
        <strong>數字 (shùzì),</strong> which also means 
        <em>number</em>, it particular means 
        <em>number</em> that is assigned to something, for example, the 'number' in 'street number' is assigned to a street and therefore, we use 
        <strong>街道號碼 (jiēdào hàomǎ)</strong> instead of  
        <strong>街道數字 (jiēdào shùzì)</strong>. Let's have a look at some examples and you will grasp a better understanding of the usage of 
        <strong>號碼 (hàomǎ)</strong>.
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="your" data-pinyin="nǐde">你的</span>
                <span data-word="" data-meaning="mobile phone" data-pinyin="shǒujī">手機</span>
                <span data-word="" data-meaning="number" data-pinyin="hàomǎ">號碼</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="how many" data-pinyin="duōshǎo">多少</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐde shǒujī hàomǎ shì duōshǎo ？ </div>
        <div class="meaning">What is your mobile phone number?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="a" data-pinyin="yī">一</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="personalized " data-pinyin="gèrén">個人</span>
                <span data-word="" data-meaning="licence plate " data-pinyin="chēpái">車牌</span>
                <span data-word="" data-meaning="number" data-pinyin="hàomǎ">號碼</span>
                <span data-word="" data-meaning="could" data-pinyin="kěyǐ">可以</span>
                <span data-word="" data-meaning="(dummy linking adverb)" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="expensive" data-pinyin="guì">貴</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">yī gè gèrén chēpái hàomǎ kěyǐ hěn guì 。 </div>
        <div class="meaning">A personalized license plate could be costly.</div>
    </div>

    <p>
        When a number is not assigned to anything, we usually use 
        <strong>數字 (shùzì)</strong>. The following is some examples:
    </p>
   
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="password" data-pinyin="mìmǎ">密碼</span>
                <span data-word="" data-meaning="must" data-pinyin="bìxū">必須</span>
                <span data-word="" data-meaning="to include" data-pinyin="bāokuò">包括</span>
                <span data-word="" data-meaning="letter" data-pinyin="yīngwén zìmǔ">字母</span>
                <span data-word="" data-meaning="and" data-pinyin="hé">和</span>
                <span data-word="" data-meaning="number" data-pinyin="shùzì">數字</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">mìmǎ bìxū bāokuò yīngwén zìmǔ hé shùzì 。 </div>
        <div class="meaning">The password must contain letters and numbers.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="" data-pinyin="「">「</span>
                <span data-word="" data-meaning="four" data-pinyin="sì">四</span>
                <span data-word="" data-meaning="" data-pinyin="」">」</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="lucky" data-pinyin="jílì">吉利</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="number" data-pinyin="shùzì">數字</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">「 sì 」 shì gè bù jílì de shùzì 。 </div>
        <div class="meaning">'Four' is an unlucky number. </div>
    </div>
</div>

{% endblock %}