{
    title: "這裡",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>這裡 (zhèlǐ)</strong> means <em>here</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span><span data-word="" data-meaning="too " data-pinyin="tài">太</span><span data-word="" data-meaning="many" data-pinyin="duō">多</span><span data-word="" data-meaning="people" data-pinyin="rén">人</span><span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span><span data-word="" data-meaning="to go" data-pinyin="qù">去</span><span data-word="" data-meaning="other" data-pinyin="bié">別</span><span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span><span data-word="" data-meaning="place" data-pinyin="dìfang">地方</span><span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">zhèlǐ tài duō rén le ， wǒmen qù bié de dìfang ba 。 </div>
        <div class="meaning">There are too many people here, let's go to somewhere else.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span><span data-word="" data-meaning="to want" data-pinyin="yào">要</span><span data-word="" data-meaning="to come" data-pinyin="lái">來</span><span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span><span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
        <div class="pinyin">nǐ yào lái zhèlǐ ma ？ </div>
        <div class="meaning">Do you wanna come over here?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="here" data-pinyin="zhèlǐ">這裡</span><span data-word="" data-meaning="everything" data-pinyin="shénme">什麼</span><span data-word="" data-meaning="all" data-pinyin="dōu">都</span><span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span><span data-word="" data-meaning="" data-pinyin="，">，</span><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="why" data-pinyin="wèishénme">為什麼</span><span data-word="" data-meaning="to need" data-pinyin="yào">要</span><span data-word="" data-meaning="to go out" data-pinyin="chūqù">出去</span><span data-word="" data-meaning="(question marker)" data-pinyin="ne">呢</span><span data-word="" data-meaning="" data-pinyin="？">？</span></span></span>
        <div class="pinyin">wǒ zhèlǐ shénme dōu yǒu ， wǒ wèishénme yào chūqù ne ？ </div>
        <div class="meaning">I have everything here, why should I go out?</div>
    </div>
</div>

{% endblock %}