{
    title: "週末",
    description: "A test article about the word 吧",
    hskLevel: 3,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 週末 (zhōumò)</strong> means 
    <em>weekend</em>. It is made up of the words 
    <strong> 週 (zhōu)</strong>, which means 
    <em>week</em> and 
    <strong>末 (mò)</strong>, which means 
    <em>end</em>.
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="weekend" data-pinyin="zhōumò">週末</span>
                <span data-word="" data-meaning="to do " data-pinyin="zuò">做</span>
                <span data-word="" data-meaning="what" data-pinyin="shénme">什麼</span>
                <span data-word="" data-meaning="" data-pinyin="？">？</span>
            </span>
        </span>
        <div class="pinyin">nǐ zhōumò zuò shénme ？ </div>
        <div class="meaning">What are you doing this weekend?</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="party" data-pinyin="pàiduì">派對</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="next" data-pinyin="xià">下</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="weekend" data-pinyin="zhōumò">週末</span>
                <span data-word="" data-meaning="to take place" data-pinyin="jǔxíng">舉行</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">pàiduì huì zài xià gè zhōumò jǔxíng 。 </div>
        <div class="meaning">The party will be in the next weekend.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="last" data-pinyin="shàng">上</span>
                <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                <span data-word="" data-meaning="weekend" data-pinyin="zhōumò">週末</span>
                <span data-word="" data-meaning="to be at" data-pinyin="zài">在</span>
                <span data-word="" data-meaning="Thailand" data-pinyin="tàiguó">泰國</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen shàng gè zhōumò zài tàiguó 。 </div>
        <div class="meaning">We were in Thailand last weekend.</div>
    </div>
</div>
{% endblock %}