{
    title: "過",
    description: "A test article about the word 吧",
    hskLevel: 2,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>過 (guò)</strong> has quite a number of functions, serving as a verb, an adverb, or an aspect marker. We will go through each of its meanings one by one here.
   
    <h2>
        <strong>過 (guò)</strong> as 
        <em>to cross</em> or 
        <em>to pass</em> ##
    </h2>
    <strong>過 (guò)</strong> can be used to mean crossing or passing a physical entity like a street or an abstract concept such as time. 
    <br/>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we " data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="to cross" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="road" data-pinyin="mǎlù">馬路</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="ok" data-pinyin="hǎo">好</span>
                    <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                    <span data-word="" data-meaning="" data-pinyin="？">？</span>
                </span>
            </span>
            <div class="pinyin">wǒmen guò mǎlù ， hǎo ma ？ </div>
            <div class="meaning">Shall we cross the road?</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="to pass" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                    <span data-word="" data-meaning="park" data-pinyin="gōngyuán">公園</span>
                    <span data-word="" data-meaning="after" data-pinyin="hòu">後</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="to see" data-pinyin="kàn">看</span>
                    <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="jiān">間</span>
                    <span data-word="" data-meaning="house" data-pinyin="wū">屋</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒmen guò le zhè gè gōngyuán hòu ， huì kàn dào yī jiān wū 。 </div>
            <div class="meaning">After we have passed this park, we will see a house.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="ten" data-pinyin="shí">十</span>
                    <span data-word="" data-meaning="day" data-pinyin="tiān">天</span>
                    <span data-word="" data-meaning="already" data-pinyin="yǐjīng">已經</span>
                    <span data-word="" data-meaning="to pass" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="still" data-pinyin="hái">還</span>
                    <span data-word="" data-meaning="not " data-pinyin="méi">沒</span>
                    <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                    <span data-word="" data-meaning="husband" data-pinyin="lǎogōng">老公</span>
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="news" data-pinyin="xiāoxi">消息</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">shí tiān yǐjīng guò le ， wǒ hái méi yǒu lǎogōng de xiāoxi 。 </div>
            <div class="meaning">Ten days have already passed, but I still haven't heard from my husband.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="to pass" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="(result complement)" data-pinyin="dào">到</span>
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                    <span data-word="" data-meaning="English" data-pinyin="yīngyǔ">英語</span>
                    <span data-word="" data-meaning="exam" data-pinyin="kǎoshì">考試</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒ guò bù dào zhè gè yīngyǔ kǎoshì 。 </div>
            <div class="meaning">I didn't pass this English exam.</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as 
            <em>to spend (time)</em> ##
        </h2>
        <strong>過 (guò)</strong> can be translated as 
        <em>to spend</em> in English, but it is only associated with 
        <em>time</em> but not 
        <em>money</em>.
   
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="how" data-pinyin="zěnyàng">怎樣</span>
                    <span data-word="" data-meaning="to spend" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="birthday" data-pinyin="shēngrì">生日</span>
                    <span data-word="" data-meaning="(question marker)" data-pinyin="ne">呢</span>
                    <span data-word="" data-meaning="" data-pinyin="？">？</span>
                </span>
            </span>
            <div class="pinyin">nǐ huì zěnyàng guò nǐ de shēngrì ne ？ </div>
            <div class="meaning">How will you spend your birthday?</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="not" data-pinyin="méi">沒</span>
                    <span data-word="" data-meaning="to have" data-pinyin="yǒu">有</span>
                    <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="day" data-pinyin="rìzǐ">日子</span>
                    <span data-word="" data-meaning="very" data-pinyin="hěn">很</span>
                    <span data-word="" data-meaning="difficult" data-pinyin="nán">難</span>
                    <span data-word="" data-meaning="to spend" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">méi yǒu nǐ ， rìzǐ hěn nán guò 。 </div>
            <div class="meaning">It is hard to live without you.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="at " data-pinyin="zài">在</span>
                    <span data-word="" data-meaning="Spain" data-pinyin="xībānyá">西班牙</span>
                    <span data-word="" data-meaning="to spend" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                    <span data-word="" data-meaning="Summer" data-pinyin="xiàtiān">夏天</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒmen zài xībānyá guò le yī gè xiàtiān 。 </div>
            <div class="meaning">We spent one summer in Spain.</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as 
            <em>to go over</em> ##
        </h2>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="can" data-pinyin="kěyǐ">可以</span>
                    <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                    <span data-word="" data-meaning="to go over" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="biàn">遍</span>
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="gè">個</span>
                    <span data-word="" data-meaning="article" data-pinyin="wénzhāng">文章</span>
                    <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                    <span data-word="" data-meaning="" data-pinyin="？">？</span>
                </span>
            </span>
            <div class="pinyin">wǒmen kěyǐ zài guò yī biàn zhè gè wénzhāng ma ？ </div>
            <div class="meaning">Can we go over the article again?</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word="" data-meaning="should" data-pinyin="yīnggāi">應該</span>
                    <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                    <span data-word="" data-meaning="exam" data-pinyin="kǎoshì">考試</span>
                    <span data-word="" data-meaning="before" data-pinyin="qián">前</span>
                    <span data-word="" data-meaning="to go voer" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="biàn">遍</span>
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="note" data-pinyin="bǐjì">筆記</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">nǐ yīnggāi zài kǎoshì qián guò yī biàn nǐ de bǐjì 。 </div>
            <div class="meaning">You should go over you notes before you take the exam.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="again" data-pinyin="zài">再</span>
                    <span data-word="" data-meaning="to go over" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word="" data-meaning="time " data-pinyin="cì">次</span>
                    <span data-word="" data-meaning="these" data-pinyin="zhèxiē">這些</span>
                    <span data-word="" data-meaning="procedure" data-pinyin="bùzhòu">步驟</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒmen huì zài guò yī cì zhèxiē bùzhòu 。 </div>
            <div class="meaning">We will go over the procedures again.</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as 
            <em>to exceed</em> ##
        </h2>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="performace" data-pinyin="biǎoxiàn">表現</span>
                    <span data-word="" data-meaning="to exceed" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="(perfective marker)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                    <span data-word="" data-meaning="expectation" data-pinyin="yùqī">預期</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">nǐ de biǎoxiàn guò le wǒ de yùqī 。 </div>
            <div class="meaning">Your performance exceeded my expectation.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="at" data-pinyin="zài">在</span>
                    <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                    <span data-word="" data-meaning="school" data-pinyin="xuéxiào">學校</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="girl" data-pinyin="nǚshēng">女生</span>
                    <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                    <span data-word="" data-meaning="to have to" data-pinyin="yào">要</span>
                    <span data-word="" data-meaning="to wear" data-pinyin="chuān">穿</span>
                    <span data-word="" data-meaning="to exceed" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="knee" data-pinyin="xī">膝</span>
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="dress" data-pinyin="qúnzǐ">裙子</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">zài wǒ de xuéxiào ， nǚshēng dōu yào chuān guò xī de qúnzǐ 。 </div>
            <div class="meaning">In my school, all girls had to wear dresses over their knees.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="salary" data-pinyin="xīnshuǐ">薪水</span>
                    <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="to exceed" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="the minimum" data-pinyin="zuìdī">最低</span>
                    <span data-word="" data-meaning="wage" data-pinyin="gōngzī">工資</span>
                    <span data-word="" data-meaning="" data-pinyin="！">！</span>
                </span>
            </span>
            <div class="pinyin">nǐ de xīnshuǐ bù guò zuìdī gōngzī ！ </div>
            <div class="meaning">Your salary doesn't exceed the minimum wage!</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as 
            <em>too</em> ##
        </h2>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="should" data-pinyin="yīng">應</span>
                    <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                    <span data-word="" data-meaning="too" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="much " data-pinyin="duō">多</span>
                    <span data-word="" data-meaning="or" data-pinyin="huò">或</span>
                    <span data-word="" data-meaning="too " data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="little" data-pinyin="shǎo">少</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒmen bù yīng chī guò duō huò guò shǎo 。 </div>
            <div class="meaning">We shouldn't eat too much or too little.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="foundation" data-pinyin="fěndǐshuāng">粉底霜</span>
                    <span data-word="" data-meaning="too" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="white" data-pinyin="bái">白</span>
                    <span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">nǐ de fěndǐshuāng guò bái le 。 </div>
            <div class="meaning">Your foundation is too white.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="your" data-pinyin="nǐ de">你的</span>
                    <span data-word="" data-meaning="pet" data-pinyin="chǒngwù">寵物</span>
                    <span data-word="" data-meaning="too" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="fat" data-pinyin="féi">肥</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">nǐ de chǒngwù guò féi 。 </div>
            <div class="meaning">Your pet is too fat.</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as 
            <em>across</em> or 
            <em>past</em> ##
        </h2>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒ">我</span>
                    <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="to swim" data-pinyin="yóu">游</span>
                    <span data-word="" data-meaning="across" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="this" data-pinyin="zhè">這</span>
                    <span data-word="" data-meaning="(classifier)" data-pinyin="tiáo">條</span>
                    <span data-word="" data-meaning="river" data-pinyin="hé">河</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒ huì yóu guò zhè tiáo hé 。 </div>
            <div class="meaning">I will swim across the river.</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                    <span data-word="" data-meaning="to walk" data-pinyin="zǒu">走</span>
                    <span data-word="" data-meaning="across" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="to" data-pinyin="qù">去</span>
                    <span data-word="" data-meaning="enemy" data-pinyin="dírén">敵人</span>
                    <span data-word="" data-meaning="there" data-pinyin="nàr">那兒</span>
                    <span data-word="" data-meaning="" data-pinyin="，">，</span>
                    <span data-word="" data-meaning="ok" data-pinyin="hǎo">好</span>
                    <span data-word="" data-meaning="(question marker)" data-pinyin="ma">嗎</span>
                    <span data-word="" data-meaning="" data-pinyin="？">？</span>
                </span>
            </span>
            <div class="pinyin">wǒmen huì zǒu guò qù dírén nàr ， hǎo ma ？ </div>
            <div class="meaning">We will walk across to where the enemies are, ok?</div>
        </div>
        <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                    <span data-word="" data-meaning="just now" data-pinyin="gānggāng">剛剛</span>
                    <span data-word="" data-meaning="to drive" data-pinyin="shǐ">駛</span>
                    <span data-word="" data-meaning="past" data-pinyin="guò">過</span>
                    <span data-word="" data-meaning="maternal grandma" data-pinyin="wàipó">外婆</span>
                    <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                    <span data-word="" data-meaning="store" data-pinyin="diàn">店</span>
                    <span data-word="" data-meaning="" data-pinyin="。">。</span>
                </span>
            </span>
            <div class="pinyin">wǒmen gānggāng shǐ guò wàipó de diàn 。 </div>
            <div class="meaning">We just drove past grandma's store.</div>
        </div>
        <h2>
            <strong>過 (guò)</strong> as an experiential aspect marker ##
        </h2>
   In this case, it is a suffix used to mark that an event has been experienced before. We should use it as in the following structure:
        <br/>
            <strong>Verb + 過 + Object</strong>
            <br/>For example:
   
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="sushi" data-pinyin="shòusī">壽司</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">wǒ chī guò shòusī 。 </div>
                    <div class="meaning">I have tried sushi before.</div>
                </div>
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="to learn" data-pinyin="xué">學</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="Chinese" data-pinyin="hànyǔ">漢語</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">wǒ xué guò hànyǔ 。 </div>
                    <div class="meaning">I have learnt Chinese before.</div>
                </div>
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="to experience" data-pinyin="jīnglì">經歷</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="hell" data-pinyin="dìyù">地獄</span>
                            <span data-word="" data-meaning="" data-pinyin="，">，</span>
                            <span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span>
                            <span data-word="" data-meaning="(sequential marker)" data-pinyin="jiù">就</span>
                            <span data-word="" data-meaning="to know" data-pinyin="zhīdào">知道</span>
                            <span data-word="" data-meaning="heaven" data-pinyin="tiāntáng">天堂</span>
                            <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                            <span data-word="" data-meaning="how" data-pinyin="zěnyàng">怎樣</span>
                            <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">wǒ jīnglì guò dìyù ， xiànzài jiù zhīdào tiāntáng shì zěnyàng de 。 </div>
                    <div class="meaning">I have been in a hell, so now I know what heaven is like.</div>
                </div>
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="to go" data-pinyin="qù">去</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="many" data-pinyin="hěnduō">很多</span>
                            <span data-word="" data-meaning="different" data-pinyin="bùtóng">不同</span>
                            <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                            <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                            <span data-word="" data-meaning="" data-pinyin="，">，</span>
                            <span data-word="" data-meaning="but" data-pinyin="dàn">但</span>
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="still" data-pinyin="háishì">還是</span>
                            <span data-word="" data-meaning="the most" data-pinyin="zuì">最</span>
                            <span data-word="" data-meaning="to like" data-pinyin="xǐhuān">喜歡</span>
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="oneself" data-pinyin="zìjǐ">自己</span>
                            <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                            <span data-word="" data-meaning="country" data-pinyin="guójiā">國家</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">wǒ qù guò hěnduō bùtóng de guójiā ， dàn wǒ háishì zuì xǐhuān wǒ zìjǐ de guójiā 。 </div>
                    <div class="meaning">I have been to many different countries before, but I still like my country most.</div>
                </div>
   Note that it can only apply to 
                <em> repeatable events</em> so that the emphasis on 'experience' will be meaningful. The following examples are ungrammatical since the events described cannot be repeated:
   
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                            <span data-word="" data-meaning="mother" data-pinyin="māma">媽媽</span>
                            <span data-word="" data-meaning="to die" data-pinyin="sǐ">死</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">tā māma sǐ guò 。 </div>
                    <div class="meaning"></div>
                </div>
                <div class="example-sentence">
                    <span data-sentence="" class="chinese chinese-sentence">
                        <span class="inner">
                            <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="to kill" data-pinyin="shā">殺</span>
                            <span data-word="" data-meaning="(experiential marker)" data-pinyin="guò">過</span>
                            <span data-word="" data-meaning="my" data-pinyin="wǒ">我</span>
                            <span data-word="" data-meaning="sister" data-pinyin="jiějie">姐姐</span>
                            <span data-word="" data-meaning="" data-pinyin="。">。</span>
                        </span>
                    </span>
                    <div class="pinyin">wǒ shā guò wǒ jiějie 。 </div>
                    <div class="meaning"></div>
                </div>
                <strong>過 (guò)</strong> should be replaced by the perfective marker 
                <strong>了(le) </strong> in the above examples. Click 
                <a href="/pages/了">here</a> for more information about the usage of 
                <strong>了(le) </strong>.

            </div>

{% endblock %}