{
    title: "那裡",
    description: "A test article about the word 吧",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong>那裡 (nàlǐ)</strong> means 
    <em>there</em>.
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="there" data-pinyin="nàlǐ">那裡</span>
                <span data-word="" data-meaning="(adjectivizing particle)" data-pinyin="de">的</span>
                <span data-word="" data-meaning="food" data-pinyin="shíwù">食物</span>
                <span data-word="" data-meaning="(dummy linking adverb)" data-pinyin="hěn">很</span>
                <span data-word="" data-meaning="great" data-pinyin="bàng">棒</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nàlǐ de shíwù hěn bàng 。 </div>
        <div class="meaning">The food is great there.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="there" data-pinyin="nàlǐ">那裡</span>
                <span data-word="" data-meaning="to be" data-pinyin="shì">是</span>
                <span data-word="" data-meaning="my" data-pinyin="wǒ de">我的</span>
                <span data-word="" data-meaning="hometown" data-pinyin="jiāxiāng">家鄉</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">nàlǐ shì wǒ de jiāxiāng 。 </div>
        <div class="meaning">It's my hometown there.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to move" data-pinyin="bān">搬</span>
                <span data-word="" data-meaning="to" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="coastal" data-pinyin="hǎibiān">海邊</span>
                <span data-word="" data-meaning="there" data-pinyin="nàlǐ">那裡</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen bān qù hǎibiān nàlǐ ba 。 </div>
        <div class="meaning">Let's move to the coastal (there). </div>
    </div>
    In the last example, 
    <strong>那裡 (nàlǐ)</strong> is not necessary. 
    <strong>我們搬去海邊吧 (wǒmen bān qù hǎibiān ba)</strong> is still grammatical and share almost the same meaning with 
    <strong>我們搬去海邊那裡吧 (wǒmen bān qù hǎibiān nàlǐ ba)</strong>. With 
    <strong>那裡 (nàlǐ)</strong>, the place 'over there but not here' is emphasized. However, the difference is so trivial that we can consider 
    <strong>我們搬去海邊吧 (wǒmen bān qù hǎibiān ba)</strong> and 
    <strong>我們搬去海邊那裡吧 (wǒmen bān qù hǎibiān nàlǐ ba)</strong> the same.  We can also say 
    <strong>我們搬去那裡吧 (wǒmen bān qù nàlǐ ba)</strong> if the hearer knows where 'there' is. Therefore we can say this as well:
    
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmen">我們</span>
                <span data-word="" data-meaning="to move" data-pinyin="bān">搬</span>
                <span data-word="" data-meaning="to " data-pinyin="qù">去</span>
                <span data-word="" data-meaning="there" data-pinyin="nàlǐ">那裡</span>
                <span data-word="" data-meaning="(tone softening particle)" data-pinyin="ba">吧</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">wǒmen bān qù nàlǐ ba 。 </div>
        <div class="meaning">Let's move there.</div>
    </div>
</div>

{% endblock %}