{
    title: "點鐘",
    description: "A test article about the word 吧",
    hskLevel: 3,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <strong> 點鐘 (diǎn zhōng)</strong> means <em>o'clock</em>.
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="now" data-pinyin="xiànzài">現在</span><span data-word="" data-meaning="how many" data-pinyin="jǐ">幾</span><span data-word="" data-meaning="o'clock" data-pinyin="diǎnzhōng">點鐘</span><span data-word="" data-meaning="(emphatic particle)" data-pinyin="le">了</span><span data-word="" data-meaning="" data-pinyin="？">？</span><span data-word="" data-meaning="still" data-pinyin="hái">還</span><span data-word="" data-meaning="(progressive marker)" data-pinyin="zài">在</span><span data-word="" data-meaning="to sleep" data-pinyin="shuì">睡</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">xiànzài jǐ diǎnzhōng le ？ hái zài shuì ！ </div>
        <div class="meaning">What time is it now? You are still sleeping! </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="two" data-pinyin="liǎng">兩</span><span data-word="" data-meaning="o'clock" data-pinyin="diǎnzhōng">點鐘</span><span data-word="" data-meaning="to see" data-pinyin="jiàn">見</span><span data-word="" data-meaning="" data-pinyin="！">！</span></span></span>
        <div class="pinyin">liǎng diǎnzhōng jiàn ！ </div>
        <div class="meaning">See you at 2 o'clock!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="five" data-pinyin="wǔ">五</span><span data-word="" data-meaning="o'clock" data-pinyin="diǎnzhōng">點鐘</span><span data-word="" data-meaning="to get off" data-pinyin="xià">下</span><span data-word="" data-meaning="work" data-pinyin="bān">班</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ wǔ diǎnzhōng xià bān 。 </div>
        <div class="meaning">I am off at 5 o'clock.</div>
    </div>
    We can also use the short form <strong> 點 (diǎn)</strong> as <strong> 點鐘 (diǎn zhōng)</strong> like in the following:
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="ten" data-pinyin="shí">十</span><span data-word="" data-meaning="o'clock" data-pinyin="diǎn">點</span><span data-word="" data-meaning="to sleep" data-pinyin="shuìjué">睡覺</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ shí diǎn shuìjué 。 </div>
        <div class="meaning">I go to bed at 10 o'clock.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence"><span class="inner"><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span><span data-word="" data-meaning="seven" data-pinyin="qī">七</span><span data-word="" data-meaning="o'clock" data-pinyin="diǎn">點</span><span data-word="" data-meaning="to get up" data-pinyin="qǐchuáng">起床</span><span data-word="" data-meaning="" data-pinyin="。">。</span></span></span>
        <div class="pinyin">wǒ qī diǎn qǐchuáng 。 </div>
        <div class="meaning">I get up at 7 o'clock.</div>
    </div>
</div>

{% endblock %}