{
    title: "Home",
    description: "最 is a cool word",
    hskLevel: 1,
    tags: ["grammar"],
    something: 4 + 4
}
---
{% extends "layout.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action. -->
<div class="jumbotron" style="background-color: rgb(30,30,30); background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url({{data.prefix}}/assets/img/photos/chinese-street.jpg); background-size: cover; background-position: center; color: white; text-align: center; border-radius: 0; padding: 150px 0;">
    <div class="container">
        <h1 class="display-3" style="margin: 20px 0; line-height: 1;">Practice Reading Chinese with Interactive Texts!</h1>
        <br>
        <p>
            <a class="btn btn-success btn-lg" href="/texts" role="button">Start Reading &raquo;</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="/words" role="button">Check out the Lexicon &raquo;</a>
        </p>
    </div>
</div>

     

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">
            <h4><i class="fa fa-book"></i> HSK Framework</h4>
            <p>Our material is based on the official HSK curriculum. If you're studying for an HSK exam, you've come to the right place!</p> 
        </div>
        <div class="col-md-3">
            <h4><i class="fa fa-language"></i> Both Scripts</h4>
            <p>Are you learning simplified or traditional characters? Doesn't matter which! Use the control in the top right corner of the page to choose your preferred script.</p> 
        </div>
        <div class="col-md-3">
            <h4><i class="fa fa-file-word"></i> Word Pages</h4>
            <p>See a word you don't know? Right click it and select <strong>"Learn More"</strong> - you'll be taken to a page explaining the word!</p>
        </div>
        <div class="col-md-3">
            <h4><i class="fa fa-volume-up"></i> There's Sound</h4>
            <p>Our texts and articles come with sound! Right click any word, and you can choose to hear it pronounced - or you can choose to hear the entire sentence.</p>
        </div>
    </div>
</div>

{% endblock %}