[data-word]{
    cursor: default;

    &:hover {
        background-color: $highlight-color-1;
    }

    &[data-wordpage]{
        cursor: pointer;

        background-color: rgba(0,0,0,0.09);

        &:hover {
            text-decoration: underline;
        }
    }

}




[data-highlight]{
    cursor: default;

    &.highlighted {
        background-color: $highlight-color-2;
    }
}

#wordbox {
    display: none;
    position: absolute;
    z-index: 9999999999;

    border: 1px solid rgb(200,200,200);
    box-shadow: 0px 1px 20px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    background-color: white;
    padding: 20px;

    text-align: center;
    transform: translate(-50%, calc(-100% - 30px));

    .chinese {
        font-size: 21px;
    }
    .pinyin {
        font-size: 18px;
    }
    .meaning {
        font-size: 18px;
        font-style: italic;
    }
}

#word-dropdown {
    display: none;

    position: absolute;
    z-index: 9999999999;

    border: 1px solid rgb(200,200,200);
    box-shadow: 0px 1px 20px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    background-color: white;

    .choice {
        display: block;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: rgb(245,245,245);
        }
        &:hover, &:visited, &:link, &:active {
            text-decoration: none;
            color: inherit;
        }
    }
}


.example-sentence {

    margin: 30px 0;
    padding-left: 20px;

    .pinyin {
        
    }
    .meaning {
        font-style: italic;
    }

}

.chinese-sentence {
    //background-color: rgb(240,240,240);

    font-size: $chinese-font-size;
    line-height: 1.64;
    .inner {
        font-size: 0;
        [data-word] {
            font-size: $chinese-font-size;
        }
    }
    &:hover {
        background-color: $highlight-color-2;
    }
}


[data-word] {
    font-size: $chinese-font-size;
}




table.ptext {

    margin-top: 50px;
    font-size: 18px;

    tr {
        border-bottom: 30px solid transparent;

        td {
            vertical-align: top;
            width: 50%;
            padding-right: 30px;
        }

        &.ptext-title {
            font-size: 30px;

            .chinese, .chinese span span {
                font-size: 28px;

            }
        }

        &.less-spacing {
            border-bottom: 15px solid transparent;
        }
    }

}


// styles for the articles (parallel texts, courses, word pages)
.rco-article {

    p, h1, h2, h3, h4, h5, h6 {
        margin: 20px 0;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-top: 40px;
    }

}