@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Spectral+SC');

body{
    font-family: 'Source Sans Pro', Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: 'Spectral SC';
    font-weight: 100;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}




.article-title {
    margin-bottom: 5px;
}
.article-description {
    font-size: 20px;
    margin-top: 5px;
}


table.table {
    th, td {
        
        border: 3px solid transparent;
        padding: 3px 15px;
    }

    td {
        background-color: rgb(225,225,225);
    }
    th {
        background-color: rgb(205,205,205);
        text-align: left;
    }
}