@import 'normalize';

$chinese-font-size: 21px;

$highlight-color-1: #009DFF;
$highlight-color-2: #9CD9FF;




@import 'typography';
@import 'layout';
@import 'app';

@import 'components/banner';
@import 'components/card';