{
    title: "Chapter 2 - Introduction to Chinese Grammar",
    priority: 200,
}
---

{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Chapter 2 - Introduction to Chinese Grammar</h1>

    <h2>Statements</h2>
    <p>We saw this sentence in the previous chapter:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ xǐhuān nǐ.</div>
        <div class="meaning">I like you.</div>
    </div>
    <p>In this case, Chinese grammar is just like English. Now let's turn this sentence around:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān wǒ.</div>
        <div class="meaning">You like me.</div>
    </div>
    <p>The person at the beginning of the phrase is the <em>subject</em>, and that is the one doing the liking. Likewise, the person at the end of the phrase is the <em>object</em>, and that is the one who is liked by the subject. From this you can see that the most basic sentence structure of Chinese is very similar to English.</p>
    <p>Of course, you can like things and actions too, not just people:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ xǐhuān māo.</div>
        <div class="meaning">I like cats.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to read" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="books" data-pinyin="shū">書</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān kàn shū.</div>
        <div class="meaning">You like to read.</div>
        <p>As you can see, <span data-word="" data-meaning="you" data-pinyin="māo">貓</span> is the Chinese word for <em>cats</em>. But be aware that <span data-word="" data-meaning="you" data-pinyin="māo">貓</span> also means <em>cat</em>, singular. It can even also mean <em>the cat</em>, and <em>the cats</em>. In English, you always explicitly state whether a noun is singular or plural, definite or indefinite. However, in Chinese this is often left up to context.</p>
    </div>
    <h2>Yes-No Questions</h2>
    <p>Asking yes-no questions in Chinese is incredibly easy. All you do is make a statement . . .</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                <span data-word="" data-meaning="" data-pinyin=" . . ."> . . .</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān māo . . .</div>
        <div class="meaning">You like cats . . .</div>
    </div>
    <p>And then add the question particle <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span> to the end:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān māo ma?</div>
        <div class="meaning">Do you like cats?</div>
    </div>

    <p>In order to answer yes, you merely repeat the verb:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Xǐhuān!</div>
        <div class="meaning">Yes! (Like!)</div>
    </div>
    <p>In order to answer no, you add <span data-word="" data-meaning="not" data-pinyin="bù">不</span> to the verb:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Bù xǐhuān!</div>
        <div class="meaning">No! (Not like!)</div>
    </div>
    <h2>Combining Sentences into One</h2>
    <p>Just like in English, we can take two sentences and combine them into one with words like “but”, which is <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span> in Chinese.</p>
    <p>Let’s look at this conversation I had with Phil about cats:</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="Me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="" data-pinyin="">：</span>
                <span data-word="" data-meaning="" data-pinyin="">Phil</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
                <span data-word="" data-meaning="You" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                <span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span>
                <span data-word="" data-meaning="" data-pinyin="">？</span>       
            </span>
        </span>
        <div class="pinyin">Wǒ: Phil, wǒ xǐhuān māo. Nǐ xǐhuān māo ma?</div>
        <div class="meaning">Me: Phil, I like cats. Do you like cats?</div>
    </div>
    <div class="example-sentence">
            <span data-sentence="" class="chinese chinese-sentence">
                <span class="inner">
                    <span data-word="" data-meaning="" data-pinyin="">Phil</span>
                    <span data-word="" data-meaning="" data-pinyin="">：</span>
                    <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                </span>
            </span>
            <div class="pinyin">Phil: Bù xǐhuān!</div>
            <div class="meaning">Phil: No!</div>
        </div>
        <div class="example-sentence">
                <span data-sentence="" class="chinese chinese-sentence">
                    <span class="inner">
                        <span data-word="" data-meaning="Me" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="" data-pinyin="">：</span>
                        <span data-word="" data-meaning="Oh" data-pinyin="ō">喔</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                        <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                        <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                        <span data-word="" data-meaning="" data-pinyin="">，</span>
                        <span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span>
                        <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                        <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                        <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                        <span data-word="" data-meaning="cats" data-pinyin="māo">貓</span>
                        <span data-word="" data-meaning="" data-pinyin="">。</span>
                    </span>
                </span>
                <div class="pinyin">Wǒ:  Ō,  wǒ xǐhuān māo,  dànshì nǐ bù xǐhuān māo.</div>
                <div class="meaning">Me: Oh, I like cats, but you don't.</div>
            </div>
    <h3>WORDS LEARNED SO FAR:</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span></td>
                <td><span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span></td>
                <td><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span></td>
                <td><span data-word="" data-meaning="cats" data-pinyin="māo">貓</span></td>
                <td><span data-word="" data-meaning="to read" data-pinyin="kàn">看</span></td>
            </tr>
            <tr>
                <td><span data-word="" data-meaning="books" data-pinyin="shū">書</span></td>
                <td><span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span></td>
                <td><span data-word="" data-meaning="Oh" data-pinyin="ō">喔</span></td>
                <td><span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span></td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}
