{
    title: "Chapter 3 - Building Sentences, Part 1: Personal Pronouns",
    description: "",
    hskLevel: 1,
    tags: ["grammar"]
}
---

{% extends "word.html" %}
{% block word %}

<div class="container">
    <h1>Chapter 3 - Building Sentences, Part 1: Personal Pronouns</h1>
    <h2>You and I - <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span> and <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span></h2>
    <p>Let's talk about you, me, and some animals, like <span data-word="" data-meaning="horse" data-pinyin="mǎ">馬</span> and <span data-word="" data-meaning="crocodile" data-pinyin="èyú">鱷魚</span></p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="horse" data-pinyin="mǎ">馬</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Nǐ xǐhuān mǎ.</div>
        <div class="meaning">You like horses.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="crocodile" data-pinyin="èyú">鱷魚</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ xǐhuān èyú.</div>
        <div class="meaning">I like crocodiles.</div>
    </div>
    <p>Let’s flip these around like we did in Chapter 2. This time, pay attention to what happens to the English pronouns versus the Chinese pronouns.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="horse" data-pinyin="mǎ">馬</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="you" data-pinyin="nǐ">你</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Mǎ xǐhuān nǐ.</div>
        <div class="meaning">Horses like you.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="crocodile" data-pinyin="èyú">鱷魚</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Èyú xǐhuān wǒ.</div>
        <div class="meaning">Crocodiles like me.</div>
    </div>
    <p>Note that <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span> means both <strong>"I"</strong> and <strong>"me"</strong>. While personal pronouns in English have separate subject and object forms (like "I" and "me"), Chinese personal pronouns just have one form.</p>
    <h2>He, She - <span data-word="" data-meaning="he" data-pinyin="tā">他</span>, <span data-word="" data-meaning="she" data-pinyin="tā">她</span></h2>
    <p>Next, we have <span data-word="" data-meaning="he" data-pinyin="tā">他</span> for <strong>"he"</strong> and <strong>"him"</strong>, and <span data-word="" data-meaning="she" data-pinyin="tā">她</span> for <strong>"she"</strong> and <strong>"her"</strong>. In spoken Chinese, these words are all pronounced the same way, regardless of whether they're referring to male or female.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="she" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="likes" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="mangoes" data-pinyin="mángguǒ">芒果</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā xǐhuān chī mángguǒ.</div>
        <div class="meaning">She likes to eat mangoes. </div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="he" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="likes" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="grapes" data-pinyin="pútáo">葡萄</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā xǐhuān chī pútáo.</div>
        <div class="meaning">He likes to eat grapes.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="crocodile" data-pinyin="èyú">鱷魚</span>
                <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="him" data-pinyin="tā">他</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Èyú xiǎng chī tā.</div>
        <div class="meaning">The crocodile wants to eat him.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="horse" data-pinyin="mǎ">馬</span>
                <span data-word="" data-meaning="wants" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="her" data-pinyin="tā">她</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Mǎ xiǎng chī tā.</div>
        <div class="meaning">The horse wants to eat her.</div>
    </div>
    <div style="background-color: yellow;">
        <p>At first glance, <span data-word="" data-meaning="he" data-pinyin="tā">他</span> and <span data-word="" data-meaning="she" data-pinyin="tā">她</span> look a  bit similar, but it’s easy to tell them apart if you break the characters down into their radicals, which are the basic building blocks of chinese characters.<p>

        <p>On the left one, we see <span data-word="" data-meaning="person radical" data-pinyin="rén">亻</span>, which is a squashed version of <span data-word="" data-meaning="person" data-pinyin="rén">人,</span>,  which means person or mankind. Paired with <span data-word="" data-meaning="also" data-pinyin="yě">也,</span>, it becomes <span data-word="" data-meaning="him" data-pinyin="tā">他-</span> - the male pronoun.  <span data-word="" data-meaning="female" data-pinyin="nǚ">女</span> is the female radical. Paired with <span data-word="" data-meaning="also" data-pinyin="yě">也</span>, it becomes <span data-word="" data-meaning="her" data-pinyin="tā">她</span> - the female pronoun.</p>
    </div>
    <h2>It - <span data-word="" data-meaning="it" data-pinyin="tā">牠</span> and <span data-word="" data-meaning="it" data-pinyin="tā">它</span></h2>
    <p>There are two terms for <strong>“it”</strong>. They are <span data-word="" data-meaning="it" data-pinyin="tā">牠</span> and <span data-word="" data-meaning="it" data-pinyin="tā">它</span>. They share the same pronunciation as <span data-word="" data-meaning="he" data-pinyin="tā">他</span> and <span data-word="" data-meaning="she" data-pinyin="tā">她</span>。</p>
    <p><span data-word="" data-meaning="it" data-pinyin="tā">牠</span> is used exclusively for animals.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to look at" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="the crocodile" data-pinyin="èyú">鱷魚</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒ xiǎng kàn èyú.</div>
        <div class="meaning">I want to look at the crocodile.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="it" data-pinyin="tā">牠</span>
                <span data-word="" data-meaning="wants" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="me" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="" data-pinyin="。">。</span>
            </span>
        </span>
        <div class="pinyin">Tā xiǎng chī wǒ.</div>
        <div class="meaning">It wants to eat me.</div>
    </div>
    <p><span data-word="" data-meaning="it" data-pinyin="tā">它</span> is used more generally for things, be they furniture, food, OR animals.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="cake" data-pinyin="dàngāo">蛋糕</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="it" data-pinyin="tā">它</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Dàngāo!  Wǒ xiǎng chī tā!</div>
        <div class="meaning">Cake ! I want to eat it!</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="chair" data-pinyin="yǐzǐ">椅子</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="it" data-pinyin="tā">它</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Yǐzǐ!  Wǒ bù xiǎng chī tā!</div>
        <div class="meaning">A chair! I don’t want to eat it!</div>
    </div>
    <h2>Plural Pronouns - <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span></h2>
    <p>Instead of using a bunch of different words for plurals like <em>they</em>, <em>them</em>, <em>we</em>, or <em>us</em>, Chinese simply uses the character <span data-word="" data-meaning="(pluralizing particle)" data-pinyin="men">們</span> to make any pronoun plural.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="I" data-pinyin="wǒ">我</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="them" data-pinyin="tāmén">他們</span>
                <span data-word="" data-meaning="" data-pinyin="">．</span>
            </span>
        </span>
        <div class="pinyin">Wǒ xǐhuān tāmén.</div>
        <div class="meaning">I like them.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="we" data-pinyin="wǒmén">我們</span>
                <span data-word="" data-meaning="not" data-pinyin="bù">不</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to look at" data-pinyin="kàn">看</span>
                <span data-word="" data-meaning="the crocodiles" data-pinyin="èyú">鱷魚</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Wǒmén bù xǐhuān kàn èyú.</div>
        <div class="meaning">We don't like to look at crocodiles.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="they" data-pinyin="tāmén">牠們</span>
                <span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="us" data-pinyin="wǒmén">我們</span>
                <span data-word="" data-meaning="" data-pinyin="">．</span>
            </span>
        </span>
        <div class="pinyin">Tāmén xiǎng chī wǒmén.</div>
        <div class="meaning">They want to eat us.</div>
    </div>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="you" data-pinyin="nǐmén">你們</span>
                <span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                <span data-word="" data-meaning="to eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="mangoes" data-pinyin="mángguǒ">芒果</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Nǐmén xǐhuān chī mángguǒ. </div>
        <div class="meaning">You like to eat mangoes.</div>
    </div>
    <h2>Inclusive and Exclusive “We”</h2>
    <p>Lastly, there are two different ways to use “we” in Chinese - exclusive and inclusive. <span data-word="" data-meaning="we" data-pinyin="wǒmén">我們</span> is the <em>exclusive</em> version. Imagine you’re talking to Phil about how you and some friends will  eat cake.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="" data-pinyin="">Phil</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="We" data-pinyin="wǒmén">我們</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="cake" data-pinyin="dàngāo">蛋糕</span>
                <span data-word="" data-meaning="" data-pinyin="">。</span>
            </span>
        </span>
        <div class="pinyin">Phil, wǒmén huì qù chī dàngāo</div>
        <div class="meaning">Phil, we will go eat cake.</div>
    </div>
    <p>Do you think Phil is included in these cake-eating plans? Nope! In Chinese <span data-word="" data-meaning="we" data-pinyin="wǒmén">我們</span> is an <em>exclusive we</em>. That is, it doesn’t include the person being spoken to in the “we.” I’m simply rubbing in Phil’s face that my friends and I will soon be eating cake, but he won’t.</p>
    <p>Chinese has an inclusive we that includes the person being spoken to.  This word is <span data-word="" data-meaning="we" data-pinyin="zánmén">咱們</span>.</p>
    <div class="example-sentence">
        <span data-sentence="" class="chinese chinese-sentence">
            <span class="inner">
                <span data-word="" data-meaning="" data-pinyin="">Phil</span>
                <span data-word="" data-meaning="" data-pinyin="">，</span>
                <span data-word="" data-meaning="we" data-pinyin="zánmén">咱們</span>
                <span data-word="" data-meaning="all" data-pinyin="dōu">都</span>
                <span data-word="" data-meaning="will" data-pinyin="huì">會</span>
                <span data-word="" data-meaning="go" data-pinyin="qù">去</span>
                <span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>
                <span data-word="" data-meaning="cake" data-pinyin="dàngāo">蛋糕</span>
                <span data-word="" data-meaning="" data-pinyin="">！</span>
            </span>
        </span>
        <div class="pinyin">Phil, zánmén dōu huì qù chī dàngāo!</div>
        <div class="meaning">Phil, we’re all going to go eat cake!</div>
    </div>
    <p>This time, Phil is enthusiastically invited along to eat cake with my other friends and me.</p>
    <h3>WORDS LEARNED SO FAR:</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><span data-word="" data-meaning="I" data-pinyin="wǒ">我</span></td>
                <td><span data-word="" data-meaning="like" data-pinyin="xǐhuān">喜歡</span></td>
                <td><span data-word="" data-meaning="you" data-pinyin="nǐ">你</span></td>
                <td><span data-word="" data-meaning="cats" data-pinyin="māo">貓</span></td>
                <td><span data-word="" data-meaning="to read" data-pinyin="kàn">看</span></td>
            </tr>
            <tr>
                <td><span data-word="" data-meaning="books" data-pinyin="shū">書</span></td>
                <td><span data-word="" data-meaning="(question particle)" data-pinyin="ma">嗎</span></td>
                <td><span data-word="" data-meaning="Oh" data-pinyin="ō">喔</span></td>
                <td><span data-word="" data-meaning="but" data-pinyin="dànshì">但是</span></td>
                <td><span data-word="" data-meaning="horse" data-pinyin="mǎ">馬</span></td>
            </tr>
            <tr>
                <td><span data-word="" data-meaning="crocodile" data-pinyin="èyú">鱷魚</span>/td>
                <td><span data-word="" data-meaning="he" data-pinyin="tā">他</span>/td>
                <td><span data-word="" data-meaning="she" data-pinyin="tā">她</span>/td>
                <td><span data-word="" data-meaning="eat" data-pinyin="chī">吃</span>/td>
                <td><span data-word="" data-meaning="mango" data-pinyin="mángguǒ">芒果</span>/td>            
            </tr>
            <tr>
                <td><span data-word="" data-meaning="grape" data-pinyin="pútáo">葡萄</span>/td>
                <td><span data-word="" data-meaning="want" data-pinyin="xiǎng">想</span>/td>
                <td><span data-word="" data-meaning="person" data-pinyin="rén">人</span>/td>
                <td><span data-word="" data-meaning="female" data-pinyin="nǚ">女</span>/td>
                <td><span data-word="" data-meaning="it (animals)" data-pinyin="tā">牠</span>/td>                    
            </tr>
            <tr>
                <td><span data-word="" data-meaning="it" data-pinyin="tā">它</span>/td>
                <td><span data-word="" data-meaning="look" data-pinyin="kàn">看</span>/td>
                <td><span data-word="" data-meaning="cake" data-pinyin="dàngāo">蛋糕</span>/td>
                <td><span data-word="" data-meaning="chair" data-pinyin="yǐzǐ">椅子</span>/td>
                <td><span data-word="" data-meaning="not" data-pinyin="bù">不</span>/td>
            </tr>
            <tr>
                <td><span data-word="" data-meaning="(pluralizing particle)" data-pinyin="mén">們</span>/td>
                <td><span data-word="" data-meaning="(inclusive) we" data-pinyin="zán">咱</span>/td>
                <td><span data-word="" data-meaning="will" data-pinyin="huì">會</span>/td>
                <td><span data-word="" data-meaning="go" data-pinyin="qù">去</span>/td>
                <td><span data-word="" data-meaning="all" data-pinyin="dōu">都</span></td>
            </tr>
        </tbody>
    </table>
    <p>Here are a few sentences to let you practice what you’ve learned. Try focusing on just the Chinese before looking over at the English!</p>
    <table class="ptext">
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="one" data-pinyin="yī">一</span>
                    <span data-word data-meaning="" data-pinyin="">)</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word data-meaning="want" data-pinyin="xiǎng">想</span>
                    <span data-word data-meaning="to eat" data-pinyin="chī">吃</span>
                    <span data-word data-meaning="grapes" data-pinyin="pútáo">葡萄</span>
                    <span data-word data-meaning="" data-pinyin="">，</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="but" data-pinyin="dànshì">但是</span>
                    <span data-word data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                    <span data-word data-meaning="to eat" data-pinyin="chī">吃</span>
                    <span data-word data-meaning="grapes" data-pinyin="pútáo">葡萄</span>
                    <span data-word data-meaning="" data-pinyin="">。</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="I" data-pinyin="wǒ">我</span>
                    <span data-word data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                    <span data-word data-meaning="to eat" data-pinyin="chī">吃</span>
                    <span data-word data-meaning="mangoes" data-pinyin="mángguǒ">芒果</span>
                    <span data-word data-meaning="" data-pinyin="">！</span>
                </span></span>
            </td>
            <td>
                <span>1.</span>
                <span>You want to eat grapes,</span>
                <span>But I don't like to eat grapes</span>
                <span>I like to eat mangoes!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="two" data-pinyin="èr">二</span>
                    <span data-word data-meaning="" data-pinyin="">)</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word data-meaning="want" data-pinyin="xiǎng">想</span>
                    <span data-word data-meaning="to look at" data-pinyin="kàn">看</span>
                    <span data-word data-meaning="crocodiles" data-pinyin="èyú">鱷魚</span>
                    <span data-word data-meaning="" data-pinyin="">，</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="but" data-pinyin="dànshì">但是</span>
                    <span data-word data-meaning="" data-pinyin="">Phil</span>
                    <span data-word data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word data-meaning="want" data-pinyin="xiǎng">想</span>
                    <span data-word data-meaning="to look at" data-pinyin="kàn">看</span>
                    <span data-word data-meaning="them" data-pinyin="tāmén">牠們</span>
                    <span data-word data-meaning="" data-pinyin="">。</span>
                </span></span>
            </td>
            <td>
                <span>2.</span>
                <span>You want to look at crocodiles,</span>
                <span>but Phil doesn’t want to look at them.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="three" data-pinyin="sān">三</span>
                    <span data-word data-meaning="" data-pinyin="">)</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="he" data-pinyin="tā">他</span>
                    <span data-word data-meaning="wants" data-pinyin="xiǎng">想</span>
                    <span data-word data-meaning="to look at" data-pinyin="kàn">看</span>
                    <span data-word data-meaning="cats" data-pinyin="māo">貓</span>
                    <span data-word data-meaning="" data-pinyin="">，</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="but" data-pinyin="dànshì">但是</span>
                    <span data-word data-meaning="cats" data-pinyin="māo">貓</span>
                    <span data-word data-meaning="not" data-pinyin="bù">不</span>
                    <span data-word data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                    <span data-word data-meaning="him" data-pinyin="tā">他</span>
                    <span data-word data-meaning="" data-pinyin="">。</span>
                </span></span>
                <span data-sentence="" class="chinese chinese-sentence"><span class="inner">
                    <span data-word data-meaning="they" data-pinyin="tāmén">牠們</span>
                    <span data-word data-meaning="like" data-pinyin="xǐhuān">喜歡</span>
                    <span data-word data-meaning="you" data-pinyin="nǐ">你</span>
                    <span data-word data-meaning="(question particle)" data-pinyin="má">嗎</span>
                    <span data-word data-meaning="" data-pinyin="">？</span>
                </span></span>
            </td>
            <td>
                <span>3.</span>
                <span>He wants to look at cats,</span>
                <span>but cats don’t like him.</span>
                <span>Do they like you?</span>
            </td>
        </tr>
    </table>
</div>




{% endblock %}

