<html>
<head>
<title>{{ page.title }} - Read Chinese Online</title>
<link rel="stylesheet" type="text/css" href="{{data.prefix}}/assets/styles.css">
</head>
<!-- body is hidden until initial front end transforms are applied -->
<body style="display: none;">

<div id="wordbox">
    <div id="chinese"></div>
    <div id="pinyin"></div>
    <div id="meaning"></div>
</div>

<div id="word-dropdown">
    <div class="choice" id="listen-to-word">Listen to word</div>
    <div class="choice" id="listen-to-sentence">Listen to sentence</div>
    <a class="choice" id="learn-more">Learn More</a>
</div>

<div style="background-color: rgb(240,240,240);">
    <div class="container">
        <div class="navbar">
            <a class="logo" href="{{data.prefix}}/"><strong>中文</strong> Read Chinese Online</a>
            <span id="script-button">TRADITIONAL</span>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

<script>
let PREFIX = '{{data.prefix}}';
</script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{{data.prefix}}/assets/js/tongwen/tongwen-ts.js"></script>
<script src="{{data.prefix}}/assets/js/rco.js"></script>

</body>
</html>