{% extends "layout.html" %}
{% block content %}


<div class="container">

    <div class="card">

        CHINESE WORD
        <h1 class="article-title">{{word.metadata.title}}</h1>
        <h2 class="article-description">{{word.metadata.description}}</h2>

        <p>
            <strong>HSK Level:</strong> {{word.metadata.hskLevel}} &nbsp;&nbsp;&nbsp;
            <strong>Tags:</strong> {% for x in word.metadata.tags %}<a href="{{data.prefix}}/tags/{{x}}.html">{{x}}</a> {% endfor %}
        </p>
        <hr>

        {{word.body}}

    </div>

</div>




{% endblock %}