{% extends "layout.html" %}
{% block content %}


<div class="container">

    <div style="text-align: center;">

        CHINESE WORD
        <h1 style="margin: 0; font-size: 100px;">{{word.metadata.title}}</h1>
        <h2>{{word.metadata.description}}</h2>

        <p>
            <strong>HSK Level:</strong> {{word.metadata.hskLevel}} &nbsp;&nbsp;&nbsp;
            <strong>Tags:</strong> {% for x in word.metadata.tags %}<a href="{{data.prefix}}/tags/{{x}}.html">{{x}}</a> {% endfor %}
        </p>

    </div>
    <hr>

    {{word.body}}

</div>




{% endblock %}