{
    "title": "Written Chinese",
    "description": "Bla bla bla"
}
---

{% extends "layout.html" %}
{% block content %}


<div class="container">

    <h1>Written Chinese</h1>

    <p>Learning to read Chinese characters is arguably the most challenging part of learning the Chinese language. There are a lot of characters to remember, and, and there's even two separate scripts - <em>traditional</em> and <em>simplified</em>.</p>

    <p>In this series of articles, <strong>Written Chinese</strong>, we will go through everything you need to know about bla bla. We will look at:</p>

    <ul>
        <li>The difference between traditional and simplified characters</li>
        <li>The concept of radicals, and how they will help you learn and remember the characters</li>
    </ul>

</div>

{% endblock %}