{
    "title": "Chapter 1 - Hobbies and Habits",
    "description": "I think this description might not be necessary when we have the 'you are going to learn session' ",
    "hskLevel": 2,
    "tags": ["grammar"]["practical Chinese"]
}
---

{% extends "layout.html" %}
{% block content %}

<div class="container">

    <div class="card" style="display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">You are going to learn:</h5>
            <ul style="margin-bottom: 0;">
                <li>Talk about frequency with adverbs and the word: 次 </li>
                <li>Indicate orders with the word: 第</li> 
                <li>Express present tense with the words: 在 and 着 </li>
                <li>Indicate time with the structure:  '...的時候'</li>
            </ul>
        </div>
    </div>

    <h2>Parallel Text: What do you like to do?</h2>

    <p>What is it for?</p>

    <table>
        <tr>
            <td>
                <span>A：你這個週末有空嗎？</span>
            </td>
            <td>
                <span>A: Are you free this weekend?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：有，為什麼呢？</span>
            </td>
            <td>
                <span>B: Yes, why?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：你要一起去打籃球嗎？</span>
            </td>
            <td>
                <span>A: Do you want to play basketball together?</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>我上個星期踢足球的時候傷了我的腳，現在不能打籃球。你喜歡游泳嗎？</span>
            </td>
            <td>
                <span>I hurt my foot last week while playing football, so I can't play basketball now. Do you like to swim? </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>我不會游泳！</span>
            </td>
            <td>
                <span>A: I can't swim!</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：我可以教你。</span>
            </td>
            <td>
                <span>B: I can teach you.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：我怕水！我們可以一起去看電影。</span>
            </td>
            <td>
                <span>A: I am afraid of water. We can go watch a movie together.</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：我不喜歡去電影院看電影。你要一起逛街嗎？我們附近開了一間很大的購物商場。</span>
            </td>
            <td>
                <span>B: I don't like watching movies in a cinema. Do you want to go shopping together? There is a newly open shopping mall near by us. </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：是嗎？但是我沒有什麼要買，而且週末商場有很多人。</span>
            </td>
            <td>
                <span> A: Really? But I have nothing to buy, and there will be many people in the shopping malls during weekend. </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：那你平時喜歡做什麼呢？</span>
            </td>
            <td>
                <span> B: So what do you usually like to do?  </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：我喜歡做運動，除了籃球之外，我也喜歡打羽毛球，打排球和跑步。我每天晚上都會看書和聽古典音樂。週末我經常去看電影，有時候會去遠足。你呢？</span>
            </td>
            <td>
                <span> A: I like to do sports. Besides playing basketball, I also like playing badminton, volleyball and running. I read and listen to classic music every night. During weekend I usually go to watch a movie, sometimes I will go hiking. What about you? </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：我很少看書，因為看書很悶！我也喜歡做運動，我每個週末都會跟鄰居踢足球，而且每天放學後都會去跳芭蕾舞，或練習瑜伽。</span>
            </td>
            <td>
                <span> B: I rarely read, because reading is boring! I also like doing sports, I play football with my neighbors every weekend. I dance ballet every day after school, or practise yoga. </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：我住在廣州的時候也喜歡跟鄰居踢足球，但現在我不認識我的鄰居。</span>
            </td>
            <td>
                <span> A: I liked to play football with my neighbors while I was living in Guangzhou, but now I don't know my neighbors. </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：我初搬進來的時候也不認識我的鄰居，但現在我們是好朋友。</span>
            </td>
            <td>
                <span> B: I didn't know my neighbors when I just moved into here either, but now we are good friends. </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：你總是能結交新朋友！</span>
            </td>
            <td>
                <span> A: You can always make new friends! </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ｂ：他們這個週末會舉辦烤肉聚會，你要來嗎？</span>
            </td>
            <td>
                <span> B: They are hosting a barbecue party this weekend, do you want to join? </span>
                </td>
        </tr>
        <tr>
            <td>
                <span>Ａ：好啊！</span>
            </td>
            <td>
                <span> A: Yes! </span>
            </td>
        </tr>

    <h2>Express frequency with adverbs</h2>

    <p>In Chinese, we also have adverbs like always, sometimes and rarely, etc. We put these frequency adverbs between subjects and their verbs/adjectives as in the following structure:</p>
        
<p>Are you going to make a special feature for sentence structure?</p>
    
    <p>Here are some most common frequency adverbs in Chinese</p>
    <h3>從不 (cóng bù): Never<h/3>
    <p>
    我從不撒謊。<br>
    I never lie.
    </p>

    <p>
    我從不妒忌。<br>
    I am never jealous.
    </p>

    <p>
    我從不喝汽水。<br>
    I never drink soft drinks.
    </p>

    <p>
    他從不穿裙子。<br>
    He never wears dresses.
    </p>

   <h3>很少 (hěn shǎo): Rarely/seldom</h3>

    <p>
    我很少吃肉。<br>
    I rarely eat meat.
    </p>

    <p>
    爸爸很少生氣。<br>
    Dad rarely gets angry.
    </p>

    <p>
    媽媽很少小睡。<br>
    Mum seldom takes a nap.
    </p>
     
    <p>
    政客很少說實話。<br>
    Politicians seldom tell the truth.
    </p>
     
    <h3>偶爾 (ǒu ěr): Once in a while</h3>
    <p>
    我們偶爾會吵架。<br>
    We fight once in a while.
    </p>
       
    <p>
    校長偶爾會來我們的班房。<br>
    The principal comes to our classroom once in a while.
    </p>
       
    <p>
    這輛車偶爾停在我們門前。<br>
    This car stops in front of our house once in a while. 
    </p>
    
    <h3>有時候 (yǒu shí hòu): Sometimes</h3> 
    
    <p>
    我有時候很任性。<br>
    I am very reckless sometimes.
    </p>
       
    <p>
    那個男人有時候很古怪。<br>
    That man is very weird sometimes.
    </p>
        
    <p>
    他有時候留在家。<br>
    He stays at home sometimes.
    </p>
        
    <h3>經常 (jīng cháng) / 常常 (cháng cháng): Often</h3>
        
    <p>
    我經常去那裡。<br>
    I go there often.
    </p>
           
    <p>
    你們經常很開心。<br>
    You are often very happy.
    </p>
     
        <h3>總是 (zǒng shì): Always</h3>     
    <p>
    老師總是很準時。<br>
    Our teacher is always punctual.
    </p>
            
    <p>
    爺爺總是七點鐘起床。<br>
    My grandfather always gets up at 7 o'clock.
    </p>
       
    <p>
    他總是不滿意。<br>
    He is always unsatisfied. 
    </p>
        
    <div style="border: 1px solid gray; padding: 15px; margin: 20px 0;">
        Interactive exercises here?Yes will be cool to have exercises after each lesson!
    </div>

</div>

{% endblock %}
